<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Bread Crumbs</title>
  </head>
  <body class="dark">
    <div class="ui full-width-container gradient-blue">
      <div class="ui breadcrumb">
        <div class="ui link">
          <a href="#" class="link-content">THIS</a>
        </div>
        <img class="ui icon" data-icon="right_arrow_breadcrumb" />
        <div class="ui link">
          <a href="#" class="link-content">IS</a>
        </div>
        <img class="ui icon" data-icon="right_arrow_breadcrumb" />
        <div class="ui link">
          <a href="#" class="link-content">SPARTA</a>
        </div>
      </div>
    </div>

    <script src="../../library/javascript/components/breadcrumb.js"></script>
    <script src="../../library/javascript/components/color_change.js"></script>
    <script src="../../library/javascript/components/icon-library.js"></script>
  </body>
</html>
