<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
  </head>
  <body class="dark">
    Bulleted List
    <hr />

    <div class="ui bulleted-list" data-icon="download">
      <div class="listItem">
        <div class="ui intro-text">
          If the client has identified an individual faculty member who can
          handle his problem, he can write a few words
        </div>
      </div>
      <div class="listItem">
        <div class="ui intro-text">
          If the client has identified an individual faculty member who can
          handle his problem, he can write a few words If the client has
          identified an individual faculty member who can handle his problem, he
          can write a few words If the client has identified an individual
          faculty member who can handle his problem, he can write a few words If
          the client has identified an individual faculty member who can handle
          his problem, he can write a few words If the client has identified an
          individual faculty member who can handle his problem, he can write a
          few words
        </div>
      </div>
    </div>

    <div class="ui bulleted-list" data-icon="microphone">
      <div class="listItem">
        <div class="ui intro-text">
          If the client has identified an individual faculty member who can
          handle his problem, he can write a few words If the client has
          identified an individual faculty member who can handle his problem, he
          can write a few words If the client has identified an individual
          faculty member who can handle his problem, he can write a few words If
          the client has identified an individual faculty member who can handle
          his problem, he can write a few words If the client has identified an
          individual faculty member who can handle his problem, he can write a
          few words
        </div>
      </div>
      <div class="listItem">
        <div class="ui intro-text">
          If the client has identified an individual faculty member who can
          handle his problem, he can write a few words If the client has
          identified an individual faculty member who can handle his problem, he
          can write a few words
        </div>
      </div>
    </div>

    <div class="ui bulleted-list">
      <div class="listItem">
        <div class="ui intro-text">
          If the client has identified an individual faculty member who can
          handle his problem, he can write a few words If the client has
          identified an individual faculty member who can handle his problem, he
          can write a few words If the client has identified an individual
          faculty member who can handle his problem, he can write a few words If
          the client has identified an individual faculty member who can handle
          his problem, he can write a few words If the client has identified an
          individual faculty member who can handle his problem, he can write a
          few words
        </div>
      </div>
      <div class="listItem">
        <div class="ui intro-text">
          If the client has identified an individual faculty member who can
          handle his problem, he can write a few words If the client has
          identified an individual faculty member who can handle his problem, he
          can write a few words If the client has identified an individual
          faculty member who can handle his problem, he can write a few words If
          the client has identified an individual faculty member who can handle
          his problem, he can write a few words If the client has identified an
          individual faculty member who can handle his problem, he can write a
          few words
        </div>
      </div>
    </div>

    <div class="ui bulleted-list" data-icon="contact">
      <div class="listItem">
        <div class="ui intro-text">
          If the client has identified an individual faculty member who can
          handle his problem, he can write a few words If the client has
          identified an individual faculty member who can handle his problem, he
          can write a few words If the client has identified an individual
          faculty member who can handle his problem, he can write a few words If
          the client has identified an individual faculty member who can handle
          his problem, he can write a few words If the client has identified an
          individual faculty member who can handle his problem, he can write a
          few words
        </div>
      </div>
      <div class="listItem">
        <div class="ui intro-text">
          If the client has identified an individual faculty member who can
          handle his problem, he can write a few words If the client has
          identified an individual faculty member who can handle his problem, he
          can write a few words If the client has identified an individual
          faculty member who can handle his problem, he can write a few words If
          the client has identified an individual faculty member who can handle
          his problem, he can write a few words If the client has identified an
          individual faculty member who can handle his problem, he can write a
          few words
        </div>
      </div>
    </div>

    <div class="ui bulleted-list">
      <div class="listItem">
        <div class="ui intro-text">
          If the client has identified an individual faculty member who can
          handle his problem, he can write a few words If the client has
          identified an individual faculty member who can handle his problem, he
          can write a few words If the client has identified an individual
          faculty member who can handle his problem, he can write a few words If
          the client has identified an individual faculty member who can handle
          his problem, he can write a few words If the client has identified an
          individual faculty member who can handle his problem, he can write a
          few words
        </div>
      </div>
      <div class="listItem">
        <div class="ui intro-text">
          If the client has identified an individual faculty member who can
          handle his problem, he can write a few words If the client has
          identified an individual faculty member who can handle his problem, he
          can write a few words If the client has identified an individual
          faculty member who can handle his problem, he can write a few words If
          the client has identified an individual faculty member who can handle
          his problem, he can write a few words If the client has identified an
          individual faculty member who can handle his problem, he can write a
          few words
        </div>
      </div>
    </div>
    <script src="../../library/javascript/components/bulleted-list.js"></script>
    <script src="../../library/javascript/components/icon-library.js"></script>
  </body>
</html>
