<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
  </head>
  <body class="light">
    Carousel
    <hr />

    <div class="ui carousel">
      <div class="carousel-image">
        <div class="ui image fluid fade">
          <img src="https://www.iitr.ac.in/Main/assets/images/DSC_1967.jpeg" alt="image" />
        </div>
      </div>
      <div class="carousel-image">
        <div class="ui image fluid fade">
          <img src="https://www.iitr.ac.in/Main/assets/images/DSC_2166_cropped.jpeg" alt="image" />
        </div>
      </div>
      <div class="carousel-image">
        <div class="ui image fluid fade">
          <img src="https://www.iitr.ac.in/Main/assets/images/carousel3.jpg" alt="image" />
        </div>
      </div>
      <div class="carousel-image">
        <div class="ui image fluid fade">
          <img src="	https://www.iitr.ac.in/Main/assets/images/carousel1.png" alt="image" />
        </div>
      </div>
      <div class="ui flexbox">
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <div class="dot-container"></div>
    </div>
  </body>
  <script src="../../library/javascript/components/carousel.js"></script>
</html>
