<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
  </head>
  <body class="dark">
    Carousel
    <hr />
    <div class="ui full-width-container">
      <div class="ui carousel">
        <div class="ui image fluid">
          <img
            src="https://www.iitr.ac.in/assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_DSC_2166_cropped.jpeg"
            alt="image"
          />
        </div>
        <div class="ui image fluid">
          <img
            src="	https://www.iitr.ac.in/assets/56f4da26ed956730309fa1488611ee0f13b0ac95ebb1bc9b5d210e31ff70e79c_carousel_1.png"
            alt="image"
          />
        </div>
        <div class="ui image fluid">
          <img
            src="https://images.ctfassets.net/w58jpvtm8bul/4pmxEEkd00c0RUbtX2ytVz/e251d46397abdce31d8c3cd3dae004ed/img.png?w=1800&q=90"
            alt="image"
          />
        </div>
        <div class="ui image fluid">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg/270px-Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg"
            alt="image"
          />
        </div>
        <div class="ui image fluid">
          <img
            src="https://cdn-images-1.medium.com/fit/t/1600/480/1*gBlKTQhrBZUkDPuwxLJCRg.jpeg"
            alt="image"
          />
        </div>
      </div>
    </div>
    <!-- <div class="ui half-width-container">
      <div class="first gradient-blue">
        <div class="ui bulleted-list" data-icon="contact">
          <div class="listItem">
            <div class="ui icon" data-icon="arrow"></div>
            <div class="ui intro-text">
              If the client has identified an individual faculty member who can
              handle his problem, he can write a few words If the client has
              identified an individual faculty member who can handle his
              problem, he can write a few words If the client has identified an
              individual faculty member who can handle his problem, he can write
              a few words If the client has identified an individual faculty
              member who can handle his problem, he can write a few words If the
              client has identified an individual faculty member who can handle
              his problem, he can write a few words
            </div>
          </div>
          <div class="listItem">
            <div class="ui icon" data-icon="arrow"></div>
            <div class="ui intro-text">
              If the client has identified an individual faculty member who can
              handle his problem, he can write a few words If the client has
              identified an individual faculty member who can handle his
              problem, he can write a few words If the client has identified an
              individual faculty member who can handle his problem, he can write
              a few words If the client has identified an individual faculty
              member who can handle his problem, he can write a few words If the
              client has identified an individual faculty member who can handle
              his problem, he can write a few words
            </div>
          </div>
        </div>
      </div>
      <div class="second light-blue">
        <div class="ui list">
          <div class="listItem">
            <div class="event-item" onclick="window.location('#')">
              <div class="date">
                <div class="ui section-heading">23</div>
                <div class="ui sub-heading">sept</div>
              </div>
              <div class="info">
                <div class="ui sub-heading">20,000+</div>
                <div class="ui one-liner-captions">STUDENTS</div>
              </div>
            </div>
          </div>

          <div class="listItem">
            <div class="event-item" onclick="window.location('#')">
              <div class="date">
                <div class="ui section-heading">23</div>
                <div class="ui sub-heading">sept</div>
              </div>
              <div class="info">
                <div class="ui sub-heading">20,000+</div>
                <div class="ui one-liner-captions">STUDENTS</div>
              </div>
            </div>
          </div>

          <div class="listItem">
            <div class="event-item" onclick="window.location('#')">
              <div class="date">
                <div class="ui section-heading">23</div>
                <div class="ui sub-heading">sept</div>
              </div>
              <div class="info">
                <div class="ui sub-heading">20,000+</div>
                <div class="ui one-liner-captions">STUDENTS</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </body>
  <script src="../../library/javascript/components/carousel.js"></script>
  <script src="../../library/javascript/components/list.js"></script>
  <script src="../../library/javascript/components/bulleted-list.js"></script>

  <script src="../../library/javascript/components/color_change.js"></script>
  <script src="../../library/javascript/components/icon-library.js"></script>
</html>
