<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
  </head>
  <body class="dark">
    Carousel
    <hr />
    <div class="ui full-width-container">
      <div class="ui carousel">
        <div class="ui image fluid">
          <img
            src="https://www.iitr.ac.in/Main/assets/images/DSC_1967.jpeg"
            alt="image"
          />
        </div>
        <div class="ui image fluid">
          <img
            src="https://www.iitr.ac.in/Main/assets/images/DSC_2166_cropped.jpeg"
            alt="image"
          />
        </div>
        <div class="ui image fluid">
          <img
            src="https://www.iitr.ac.in/Main/assets/images/DSC_1967.jpeg"
            alt="image"
          />
        </div>
        <div class="ui image fluid">
          <img
            src="	https://www.iitr.ac.in/Main/assets/images/carousel1.png"
            alt="image"
          />
        </div>
      </div>
    </div>
    <div class="ui half-width-container">
      <div class="first gradient-blue">
        <div class="ui bulleted-list" data-icon="contact">
          <div class="listItem">
            <div class="ui icon" data-icon="arrow"></div>
            <div class="ui intro-text">
              If the client has identified an individual faculty member who can
              handle his problem, he can write a few words If the client has
              identified an individual faculty member who can handle his
              problem, he can write a few words If the client has identified an
              individual faculty member who can handle his problem, he can write
              a few words If the client has identified an individual faculty
              member who can handle his problem, he can write a few words If the
              client has identified an individual faculty member who can handle
              his problem, he can write a few words
            </div>
          </div>
          <div class="listItem">
            <div class="ui icon" data-icon="arrow"></div>
            <div class="ui intro-text">
              If the client has identified an individual faculty member who can
              handle his problem, he can write a few words If the client has
              identified an individual faculty member who can handle his
              problem, he can write a few words If the client has identified an
              individual faculty member who can handle his problem, he can write
              a few words If the client has identified an individual faculty
              member who can handle his problem, he can write a few words If the
              client has identified an individual faculty member who can handle
              his problem, he can write a few words
            </div>
          </div>
        </div>
      </div>
      <div class="second light-blue">
        <div class="ui list">
          <div class="listItem">
            <div class="event-item" onclick="window.location('#')">
              <div class="date">
                <div class="ui section-heading">23</div>
                <div class="ui sub-heading">sept</div>
              </div>
              <div class="info">
                <div class="ui sub-heading">20,000+</div>
                <div class="ui one-liner-captions">STUDENTS</div>
              </div>
            </div>
          </div>

          <div class="listItem">
            <div class="event-item" onclick="window.location('#')">
              <div class="date">
                <div class="ui section-heading">23</div>
                <div class="ui sub-heading">sept</div>
              </div>
              <div class="info">
                <div class="ui sub-heading">20,000+</div>
                <div class="ui one-liner-captions">STUDENTS</div>
              </div>
            </div>
          </div>

          <div class="listItem">
            <div class="event-item" onclick="window.location('#')">
              <div class="date">
                <div class="ui section-heading">23</div>
                <div class="ui sub-heading">sept</div>
              </div>
              <div class="info">
                <div class="ui sub-heading">20,000+</div>
                <div class="ui one-liner-captions">STUDENTS</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </body>
  <script src="../../library/javascript/components/carousel.js"></script>
  <script src="../../library/javascript/components/list.js"></script>
  <script src="../../library/javascript/components/bulleted-list.js"></script>

  <script src="../../library/javascript/components/color_change.js"></script>
  <script src="../../library/javascript/components/icon-library.js"></script>
</html>
