<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
  </head>

  <body class="dark">
    Flexbox
    <hr />
    <div class="ui full-width-container gradient-blue">
      <div class="ui flexbox">
        <div class="ui faculty-card">
          <div class="flex">
            <div>
              <div class="ui image">
                <img src="../assets/images/faculty.png" />
              </div>
            </div>
            <div class="info">
              <div class="name">
                <div class="ui intro-text">VK aggarwal</div>
              </div>
              <div class="designation">
                <div class="ui intro-text">professor</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="email" />
                <div class="ui intro-text">vijay.aggarwal@gmail.com</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="location" />
                <div class="ui intro-text">A22 labs, mango</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="phone" />
                <div class="ui intro-text">0110 - 388278</div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui faculty-card">
          <div class="flex">
            <div>
              <div class="ui image">
                <img src="../assets/images/faculty.png" />
              </div>
            </div>
            <div class="info">
              <div class="name">
                <div class="ui intro-text">VK aggarwal</div>
              </div>
              <div class="designation">
                <div class="ui intro-text">professor</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="email" />
                <div class="ui intro-text">vijay.aggarwal@gmail.com</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="location" />
                <div class="ui intro-text">A22 labs, mango</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="phone" />
                <div class="ui intro-text">0110 - 388278</div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui faculty-card">
          <div class="flex">
            <div>
              <div class="ui image">
                <img src="../assets/images/faculty.png" />
              </div>
            </div>
            <div class="info">
              <div class="name">
                <div class="ui intro-text">VK aggarwal</div>
              </div>
              <div class="designation">
                <div class="ui intro-text">professor</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="email" />
                <div class="ui intro-text">vijay.aggarwal@gmail.com</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="location" />
                <div class="ui intro-text">A22 labs, mango</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="phone" />
                <div class="ui intro-text">0110 - 388278</div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui faculty-card">
          <div class="flex">
            <div>
              <div class="ui image">
                <img src="../assets/images/faculty.png" />
              </div>
            </div>
            <div class="info">
              <div class="name">
                <div class="ui intro-text">VK aggarwal</div>
              </div>
              <div class="designation">
                <div class="ui intro-text">professor</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="email" />
                <div class="ui intro-text">vijay.aggarwal@gmail.com</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="location" />
                <div class="ui intro-text">A22 labs, mango</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="phone" />
                <div class="ui intro-text">0110 - 388278</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui half-width-container">
      <div class="first">
        <div class="ui bulleted-list" data-icon="contact">
          <div class="listItem">
            <div class="ui icon" data-icon="arrow"></div>
            <div class="ui intro-text">
              If the client has identified an individual faculty member who can
              handle his problem, he can write a few words If the client has
              identified an individual faculty member who can handle his
              problem, he can write a few words If the client has identified an
              individual faculty member who can handle his problem, he can write
              a few words If the client has identified an individual faculty
              member who can handle his problem, he can write a few words If the
              client has identified an individual faculty member who can handle
              his problem, he can write a few words
            </div>
          </div>
          <div class="listItem">
            <div class="ui icon" data-icon="arrow"></div>
            <div class="ui intro-text">
              If the client has identified an individual faculty member who can
              handle his problem, he can write a few words If the client has
              identified an individual faculty member who can handle his
              problem, he can write a few words If the client has identified an
              individual faculty member who can handle his problem, he can write
              a few words If the client has identified an individual faculty
              member who can handle his problem, he can write a few words If the
              client has identified an individual faculty member who can handle
              his problem, he can write a few words
            </div>
          </div>
        </div>
      </div>
      <div class="second light-blue">
        <div class="ui list">
          <div class="listItem">
            <div class="event-item" onclick="window.location('#')">
              <div class="date">
                <div class="ui section-heading">23</div>
                <div class="ui sub-heading">sept</div>
              </div>
              <div class="info">
                <div class="ui sub-heading">20,000+</div>
                <div class="ui one-liner-captions">STUDENTS</div>
              </div>
            </div>
          </div>

          <div class="listItem">
            <div class="event-item" onclick="window.location('#')">
              <div class="date">
                <div class="ui section-heading">23</div>
                <div class="ui sub-heading">sept</div>
              </div>
              <div class="info">
                <div class="ui sub-heading">20,000+</div>
                <div class="ui one-liner-captions">STUDENTS</div>
              </div>
            </div>
          </div>

          <div class="listItem">
            <div class="event-item" onclick="window.location('#')">
              <div class="date">
                <div class="ui section-heading">23</div>
                <div class="ui sub-heading">sept</div>
              </div>
              <div class="info">
                <div class="ui sub-heading">20,000+</div>
                <div class="ui one-liner-captions">STUDENTS</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui half-width-container">
      <div class="first gradient-blue">
        <div class="ui bulleted-list" data-icon="contact">
          <div class="listItem">
            <div class="ui icon" data-icon="arrow"></div>
            <div class="ui intro-text">
              If the client has identified an individual faculty member who can
              handle his problem, he can write a few words If the client has
              identified an individual faculty member who can handle his
              problem, he can write a few words If the client has identified an
              individual faculty member who can handle his problem, he can write
              a few words If the client has identified an individual faculty
              member who can handle his problem, he can write a few words If the
              client has identified an individual faculty member who can handle
              his problem, he can write a few words
            </div>
          </div>
          <div class="listItem">
            <div class="ui icon" data-icon="arrow"></div>
            <div class="ui intro-text">
              If the client has identified an individual faculty member who can
              handle his problem, he can write a few words If the client has
              identified an individual faculty member who can handle his
              problem, he can write a few words If the client has identified an
              individual faculty member who can handle his problem, he can write
              a few words If the client has identified an individual faculty
              member who can handle his problem, he can write a few words If the
              client has identified an individual faculty member who can handle
              his problem, he can write a few words
            </div>
          </div>
        </div>
      </div>
      <div class="second light-blue">
        <div class="ui list">
          <div class="listItem">
            <div class="event-item" onclick="window.location('#')">
              <div class="date">
                <div class="ui section-heading">23</div>
                <div class="ui sub-heading">sept</div>
              </div>
              <div class="info">
                <div class="ui sub-heading">20,000+</div>
                <div class="ui one-liner-captions">STUDENTS</div>
              </div>
            </div>
          </div>

          <div class="listItem">
            <div class="event-item" onclick="window.location('#')">
              <div class="date">
                <div class="ui section-heading">23</div>
                <div class="ui sub-heading">sept</div>
              </div>
              <div class="info">
                <div class="ui sub-heading">20,000+</div>
                <div class="ui one-liner-captions">STUDENTS</div>
              </div>
            </div>
          </div>

          <div class="listItem">
            <div class="event-item" onclick="window.location('#')">
              <div class="date">
                <div class="ui section-heading">23</div>
                <div class="ui sub-heading">sept</div>
              </div>
              <div class="info">
                <div class="ui sub-heading">20,000+</div>
                <div class="ui one-liner-captions">STUDENTS</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../library/javascript/components/list.js"></script>
    <script src="../../library/javascript/components/bulleted-list.js"></script>

    <script src="../../library/javascript/components/color_change.js"></script>
    <script src="../../library/javascript/components/icon-library.js"></script>
  </body>
</html>
