<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
  </head>

  <body class="dark">
    <br />
    <br />
    <div class="ui full-width-container gradient-blue">
      <div class="ui flexbox">
        <div class="ui complete-info-card">
          <div class="flex">
            <img class="ui icon" data-icon="schools" />

            <!-- <img class="ui image" src="../assets/images/completeinfo.png" /> -->
            <div class="info">
              <div class="ui link arrow-link">
                <a href="#" class="link-content">EXPLORE MORE</a>
              </div>
              <div class="ui one-liner-captions">
                Fee Waivers and Merit Based
              </div>
            </div>
          </div>
          <div class="ui intro-text">
            About 1,700 freshmen and 30 transfer students are admitted to IIT
            Roorkee each year in July.
          </div>
        </div>
        <div class="ui complete-info-card">
          <div class="flex">
            <img class="ui icon" data-icon="schools" />

            <!-- <img class="ui image" src="../assets/images/completeinfo.png" /> -->
            <div class="info">
              <div class="ui link arrow-link">
                <a href="#" class="link-content">EXPLORE MORE</a>
              </div>
              <div class="ui one-liner-captions">
                Fee Waivers and Merit Based
              </div>
            </div>
          </div>
          <div class="ui intro-text">
            About 1,700 freshmen and 30 transfer students are admitted to IIT
            Roorkee each year in July.
          </div>
        </div>
        <div class="ui complete-info-card">
          <div class="flex">
            <img class="ui icon" data-icon="schools" />

            <!-- <img class="ui image" src="../assets/images/completeinfo.png" /> -->
            <div class="info">
              <div class="ui link arrow-link">
                <a href="#" class="link-content">EXPLORE MORE</a>
              </div>
              <div class="ui one-liner-captions">
                Fee Waivers and Merit Based
              </div>
            </div>
          </div>
          <div class="ui intro-text">
            About 1,700 freshmen and 30 transfer students are admitted to IIT
            Roorkee each year in July.
          </div>
        </div>
        <div class="ui complete-info-card">
          <div class="flex">
            <img class="ui icon" data-icon="schools" />

            <!-- <img class="ui image" src="../assets/images/completeinfo.png" /> -->
            <div class="info">
              <div class="ui link arrow-link">
                <a href="#" class="link-content">EXPLORE MORE</a>
              </div>
              <div class="ui one-liner-captions">
                Fee Waivers and Merit Based
              </div>
            </div>
          </div>
          <div class="ui intro-text">
            About 1,700 freshmen and 30 transfer students are admitted to IIT
            Roorkee each year in July.
          </div>
        </div>
      </div>
    </div>

    <div class="ui full-width-container">
      <div class="ui flexbox">
        <div class="ui complete-info-card">
          <div class="flex">
            <img class="ui icon" data-icon="schools" />

            <!-- <img class="ui image" src="../assets/images/completeinfo.png" /> -->
            <div class="info">
              <div class="ui link arrow-link">
                <a href="#" class="link-content">EXPLORE MORE</a>
              </div>
              <div class="ui one-liner-captions">
                Fee Waivers and Merit Based
              </div>
            </div>
          </div>
          <div class="ui intro-text">
            About 1,700 freshmen and 30 transfer students are admitted to IIT
            Roorkee each year in July.
          </div>
        </div>
        <div class="ui complete-info-card">
          <div class="flex">
            <img class="ui icon" data-icon="schools" />

            <!-- <img class="ui image" src="../assets/images/completeinfo.png" /> -->
            <div class="info">
              <div class="ui link arrow-link">
                <a href="#" class="link-content">EXPLORE MORE</a>
              </div>
              <div class="ui one-liner-captions">
                Fee Waivers and Merit Based
              </div>
            </div>
          </div>
          <div class="ui intro-text">
            About 1,700 freshmen and 30 transfer students are admitted to IIT
            Roorkee each year in July.
          </div>
        </div>
        <div class="ui complete-info-card">
          <div class="flex">
            <img class="ui icon" data-icon="schools" />

            <!-- <img class="ui image" src="../assets/images/completeinfo.png" /> -->
            <div class="info">
              <div class="ui link arrow-link">
                <a href="#" class="link-content">EXPLORE MORE</a>
              </div>
              <div class="ui one-liner-captions">
                Fee Waivers and Merit Based
              </div>
            </div>
          </div>
          <div class="ui intro-text">
            About 1,700 freshmen and 30 transfer students are admitted to IIT
            Roorkee each year in July.
          </div>
        </div>
        <div class="ui complete-info-card">
          <div class="flex">
            <img class="ui icon" data-icon="schools" />

            <!-- <img class="ui image" src="../assets/images/completeinfo.png" /> -->
            <div class="info">
              <div class="ui link arrow-link">
                <a href="#" class="link-content">EXPLORE MORE</a>
              </div>
              <div class="ui one-liner-captions">
                Fee Waivers and Merit Based
              </div>
            </div>
          </div>
          <div class="ui intro-text">
            About 1,700 freshmen and 30 transfer students are admitted to IIT
            Roorkee each year in July.
          </div>
        </div>
      </div>
    </div>

    <script src="../../library/javascript/components/link.js"></script>
    <script src="../../library/javascript/components/color_change.js"></script>
    <script src="../../library/javascript/components/icon-library.js"></script>
  </body>
</html>
