<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="../../library/css/index.css" />
  <title>Document</title>
</head>
<body class="light">
  <div class="ui complete-info-card">
    <div class="flex">
      <div class="individual-card">
        <div class="flex-container">
          <div class="ui.image">
            <img src="../assets/images/completeinfo.png" />
          </div>
          <div class="info">
            <div class="name">
              <div class="text">Scholarhsips</div>
              <div class="ui.image">
                <img src="../assets/images/arrow.png" />
              </div>
            </div>
            <div class="subtitle">
              <div class="text">Fee Waivers and Merit Based</div>
            </div>
          </div>
        </div>
        <div class="description">
          <div class="text">About 1,700 freshmen and 30 transfer students are admitted to IIT Roorkee each year in July.</div>
        </div>
      </div>
      <div class="individual-card">
        <div class="flex-container">
          <div class="ui.image">
            <img src="../assets/images/completeinfo.png" />
          </div>
          <div class="info">
            <div class="name">
              <div class="text">Scholarhsips</div>
              <div class="ui.image">
                <img src="../assets/images/arrow.png" />
              </div>
            </div>
            <div class="subtitle">
              <div class="text">Fee Waivers and Merit Based</div>
            </div>
          </div>
        </div>
        <div class="description">
          <div class="text">About 1,700 freshmen and 30 transfer students are admitted to IIT Roorkee each year in July.</div>
        </div>
      </div>
      <div class="individual-card">
        <div class="flex-container">
          <div class="ui.image">
            <img src="../assets/images/completeinfo.png" />
          </div>
          <div class="info">
            <div class="name">
              <div class="text">Scholarhsips</div>
              <div class="ui.image">
                <img src="../assets/images/arrow.png" />
              </div>
            </div>
            <div class="subtitle">
              <div class="text">Fee Waivers and Merit Based</div>
            </div>
          </div>
        </div>
        <div class="description">
          <div class="text">About 1,700 freshmen and 30 transfer students are admitted to IIT Roorkee each year in July.</div>
        </div>
      </div>
      <div class="individual-card">
        <div class="flex-container">
          <div class="ui.image">
            <img src="../assets/images/completeinfo.png" />
          </div>
          <div class="info">
            <div class="name">
              <div class="text">Scholarhsips</div>
              <div class="ui.image">
                <img src="../assets/images/arrow.png" />
              </div>
            </div>
            <div class="subtitle">
              <div class="text">Fee Waivers and Merit Based</div>
            </div>
          </div>
        </div>
        <div class="description">
          <div class="text">About 1,700 freshmen and 30 transfer students are admitted to IIT Roorkee each year in July.</div>
        </div>
      </div>
    </div>
  </div>
  <script src="../../library/javascript/components/complete-info-card.js"></script>
</body>
</html>
