<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="https://cmsredesign.channeli.in/library/css/index.css" />
    <title>Document</title>
</head>

<body class="light">
    <br />
    <br />

    <div class="ui flexbox">
        <div class="ui complete-info-card">
            <div class="flex">
                <img class="ui image" src="../assets/images/completeinfo.png" />
                <div class="info">
                    <div class="ui link arrow-link">
                        <a href="#" class="link-content">EXPLORE MORE</a>
                    </div>
                    <div class="ui one-liner-captions">Fee Waivers and Merit Based</div>
                </div>
            </div>
            <div class="ui intro-text">About 1,700 freshmen and 30 transfer students are admitted to IIT
                Roorkee each
                year in July.
            </div>
        </div>
        <div class="ui complete-info-card">
            <div class="flex">
                <img class="ui image" src="../assets/images/completeinfo.png" />
                <div class="info">
                    <div class="ui link arrow-link">
                        <a href="#" class="link-content">EXPLORE MORE</a>
                    </div>
                    <div class="ui one-liner-captions">Fee Waivers and Merit Based</div>
                </div>
            </div>
            <div class="ui intro-text">About 1,700 freshmen and 30 transfer students are admitted to IIT
                Roorkee each
                year in July.
            </div>
        </div>
        <div class="ui complete-info-card">
            <div class="flex">
                <img class="ui image" src="../assets/images/completeinfo.png" />
                <div class="info">
                    <div class="ui link arrow-link">
                        <a href="#" class="link-content">EXPLORE MORE</a>
                    </div>
                    <div class="ui one-liner-captions">Fee Waivers and Merit Based</div>
                </div>
            </div>
            <div class="ui intro-text">About 1,700 freshmen and 30 transfer students are admitted to IIT
                Roorkee each
                year in July.
            </div>
        </div>
        <div class="ui complete-info-card">
            <div class="flex">
                <img class="ui image" src="../assets/images/completeinfo.png" />
                <div class="info">
                    <div class="ui link arrow-link">
                        <a href="#" class="link-content">EXPLORE MORE</a>
                    </div>
                    <div class="ui one-liner-captions">Fee Waivers and Merit Based</div>
                </div>
            </div>
            <div class="ui intro-text">About 1,700 freshmen and 30 transfer students are admitted to IIT
                Roorkee each
                year in July.
            </div>
        </div>
    </div>

    <br />
    <br />
    <script  src="https://cmsredesign.channeli.in/library/javascript/components/link.js"></script>
</body>

</html>