<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/variables/index.css" />
    <link rel="stylesheet" href="../../library/css/globals/fonts.css" />
    <link
      rel="stylesheet"
      href="../../library/css/components/contact-card.css"
    />
    <title>Document</title>
  </head>
  <body class="light">
    <div class="ui contact-card">
        <div class="flex">
            <div class="contact">
                <div class="heading">
                  CONTACT US
                </div>
                <div class="description">
                  <div class="address">
                    Placement & Internship
                  </div>
                  <div class="address">
                    Indian Institute of Technology Roorkee
                    Roorkee-247667 Distt. Haridwar,
                    Uttrakhand, India
                  </div>
                  <br/>
                  <div class="phone">
                    <div class="icon"></div>
                    <div class="info">+91 - 132 - 285260, 273456</div>
                  </div>
                  <br/>
                  <div class="mail">
                      <div class="icon"></div>
                      <div class="info">placement.iitr.ac.in or pic.iitr.ac.in</div>
                  </div>
                  <br/>
                  <div class="social">
                  </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../library/javascript/components/contact-card.js"></script>
  </body>
</html>
