<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
  </head>

  <body class="dark">
    <br />
    <div class="ui full-width-container gradient-blue">
      <div class="ui contact-card">
        <div class="ui section-heading">CONTACT US</div>
        <div class="ui intro-text">Placement & Internship</div>
        <div class="ui intro-text">
          Indian Institute of Technology Roorkee Roorkee-247667 Distt. Haridwar,
          Uttrakhand, India
        </div>
        <br />
        <div class="contact-info">
          <img class="ui icon" data-icon="phone" />
          <div class="ui intro-text">+91 - 132 - 285260, 273456</div>
        </div>
        <br />
        <div class="contact-info">
          <img class="ui icon" data-icon="email" />
          <div class="ui intro-text">
            placement.iitr.ac.in or pic.iitr.ac.in
          </div>
        </div>
        <br />
        <div class="social">
          <a
            class="ui social-icon facebook_icon"
            href="https://www.facebook.com/"
          ></a>
          <a
            class="ui social-icon youtube_icon"
            href="https://www.youtube.com/"
          ></a>
          <a
            class="ui social-icon instagram_icon"
            href="https://www.instagram.com/"
          ></a>
          <a
            class="ui social-icon linkedin_icon"
            href="https://www.linkedin.com/"
          ></a>
          <a
            class="ui social-icon twitter_icon"
            href="https://www.twitter.com/"
          ></a>
          <a class="ui social-icon web_icon" href="https://www.iitr.ac.in/"></a>
        </div>
      </div>
    </div>

    <script src="../../library/javascript/components/social-icon.js"></script>
    <script src="../../library/javascript/components/color_change.js"></script>
    <script src="../../library/javascript/components/icon-library.js"></script>
  </body>
</html>
