<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
  </head>
  <body class="light">
    <br/>
    <div class="ui contact-card">
        <div class="contact-flex">
            <div class="contact">
                <div class="heading">
                  CONTACT US
                </div>
                <div class="description">
                  <div class="address">
                    Placement & Internship
                  </div>
                  <div class="address">
                    Indian Institute of Technology Roorkee
                    Roorkee-247667 Distt. Haridwar,
                    Uttrakhand, India
                  </div>
                  <br/>
                  <div class="phone_contact">
                    <div class="icon"></div>
                    <div class="info">+91 - 132 - 285260, 273456</div>
                  </div>
                  <br/>
                  <div class="mail_contact">
                      <div class="icon"></div>
                      <div class="info">placement.iitr.ac.in or pic.iitr.ac.in</div>
                  </div>
                  <br/>
                  <div class="social">
                    <a class="facebook_icon" data-icon="facebook_logo" href="https://www.facebook.com/"></a>
                    <a class="youtube_icon" data-icon="youtube_logo" href="https://www.youtube.com/"></a>
                    <a class="instagram_icon" data-icon="instagram_logo" href="https://www.instagram.com/"></a>
                    <a class="linkedin_icon" data-icon="linkedin_logo" href="https://www.linkedin.com/"></a>
                    <a class="twitter_icon" data-icon="twitter_logo" href="https://www.twitter.com/"></a>
                    <a class="web_icon" data-icon="web_logo" href="https://www.iitr.ac.in/"></a>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../library/javascript/components/icon-library.js"></script>
    <script src="../../library/javascript/components/contact-card.js"></script>
  </body>
</html>
