<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/variables/index.css" />
    <link rel="stylesheet" href="../../library/css/globals/fonts.css" />
    <link rel="stylesheet" href="../../library/css/components/index.css" />
    <title>Document</title>
  </head>
  <body class="light">
    <div class="ui description-card-container">
      <div class="ui description-card inverted">
        <div class="title">Guest Houses</div>
        <div class="description">
          Our homes away from home are as modern as they can be. More
          importantly, though have spawned the cultures that make the campus an
          unforgettable experience.
        </div>
        <a href="https://www.google.com" class="text-link">
          <div class="content">Explore More</div>
          <div class="right arrow"></div>
        </a>
      </div>
      <div class="ui description-card">
        <div class="title">Groups</div>
        <div class="description">
          Our homes away from home are as modern as they can be. More
          importantly, though have spawned the cultures that make the campus an
          unforgettable experience.
        </div>
        <a href="https://www.google.com" class="text-link">
          <div class="content">Explore More</div>
          <div class="right arrow"></div>
        </a>
      </div>
      <div class="ui description-card inverted">
        <div class="title">Facilities</div>
        <div class="description">
          Our homes away from home are as modern as they can be. More
          importantly, though have spawned the cultures that make the campus an
          unforgettable experience.
        </div>
        <a href="https://www.google.com" class="text-link">
          <div class="content">Explore More</div>
          <div class="right arrow"></div>
        </a>
      </div>
    </div>
    <script src="../../library/javascript/components/description-card.js"></script>
  </body>
</html>
