<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../library/css/variables/index.css" />
  <link rel="stylesheet" href="../../library/css/globals/fonts.css" />
  <link rel="stylesheet" href="../../library/css/components/index.css" />
  <title>Document</title>
</head>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../library/css/variables/index.css" />
  <link rel="stylesheet" href="../../library/css/globals/fonts.css" />
  <link rel="stylesheet" href="../../library/css/components/index.css" />
  <title>Document</title>
</head>

<body class="dark">
  <div class="ui full-width-container">
      <div class="ui description-card-container">
        <div class="ui description-card">
          <div class="ui section-heading">Guest Houses</div>
          <div class="ui description center">
            Our homes away from home are as modern as they can be. More
            importantly, though have spawned the cultures that make the campus
            an unforgettable experience.
          </div>
          <div class="ui link arrow-link">
            <a href="#" class="link-content">EXPLORE MORE</a>
          </div>
        </div>
        <div class="ui description-card">
          <div class="ui section-heading">Guest Houses</div>
          <div class="ui description center">
            Our homes away from home are as modern as they can be. More
            importantly, though have spawned the cultures that make the campus
            an unforgettable experience.
          </div>
          <div class="ui link arrow-link">
            <a href="#" class="link-content">EXPLORE MORE</a>
          </div>
        </div>
        <div class="ui description-card">
          <div class="ui section-heading">Guest Houses</div>
          <div class="ui description center">
            Our homes away from home are as modern as they can be. More
            importantly, though have spawned the cultures that make the campus
            an unforgettable experience.
          </div>
          <div class="ui link arrow-link">
            <a href="#" class="link-content">EXPLORE MORE</a>
          </div>
        </div>
        <div class="ui description-card">
          <div class="ui section-heading">Guest Houses</div>
          <div class="ui description center">
            Our homes away from home are as modern as they can be. More
            importantly, though have spawned the cultures that make the campus
            an unforgettable experience.
          </div>
          <div class="ui link arrow-link">
            <a href="#" class="link-content">EXPLORE MORE</a>
          </div>
        </div>
        <div class="ui description-card">
          <div class="ui section-heading">Guest Houses</div>
          <div class="ui description center">
            Our homes away from home are as modern as they can be. More
            importantly, though have spawned the cultures that make the campus
            an unforgettable experience.
          </div>
          <div class="ui link arrow-link">
            <a href="#" class="link-content">EXPLORE MORE</a>
          </div>
        </div>
        <div class="ui description-card">
          <div class="ui section-heading">Guest Houses</div>
          <div class="ui description center">
            Our homes away from home are as modern as they can be. More
            importantly, though have spawned the cultures that make the campus
            an unforgettable experience.
          </div>
          <div class="ui link arrow-link">
            <a href="#" class="link-content">EXPLORE MORE</a>
          </div>
        </div>
        <div class="ui description-card">
          <div class="ui section-heading">Guest Houses</div>
          <div class="ui description center">
            Our homes away from home are as modern as they can be. More
            importantly, though have spawned the cultures that make the campus
            an unforgettable experience.
          </div>
          <div class="ui link arrow-link">
            <a href="#" class="link-content">EXPLORE MORE</a>
          </div>
        </div>
        <div class="ui description-card">
          <div class="ui section-heading">Guest Houses</div>
          <div class="ui description center">
            Our homes away from home are as modern as they can be. More
            importantly, though have spawned the cultures that make the campus
            an unforgettable experience.
          </div>
          <div class="ui link arrow-link">
            <a href="#" class="link-content">EXPLORE MORE</a>
          </div>
        </div>
        <div class="ui description-card">
          <div class="ui section-heading">Guest Houses</div>
          <div class="ui description center">
            Our homes away from home are as modern as they can be. More
            importantly, though have spawned the cultures that make the campus
            an unforgettable experience.
          </div>
          <div class="ui link arrow-link">
            <a href="#" class="link-content">EXPLORE MORE</a>
          </div>
        </div>
      </div>
  </div>
  <script src="../../library/javascript/components/description-card.js"></script>
  <script src="../../library/javascript/components/link.js"></script>
</body>

</html>