<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
  </head>

  <body class="dark">
    Notice item
    <hr />
    <div class="ui half-width-container">
      <div class="first gradient-blue">
        <div class="ui list">
          <div class="listItem">
            <div class="event-item" onclick="window.location('#')">
              <div class="date">
                <div class="ui section-heading inverted">23</div>
                <div class="ui sub-heading inverted">sept</div>
              </div>
              <div class="info">
                <div class="ui sub-heading inverted">20,000+</div>
                <div class="ui one-liner-captions inverted">STUDENTS</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="second light-blue">
        <div class="ui list">
          <div class="listItem">
            <div class="event-item" onclick="window.location('#')">
              <div class="date">
                <div class="ui section-heading">23</div>
                <div class="ui sub-heading">sept</div>
              </div>
              <div class="info">
                <div class="ui sub-heading">20,000+</div>
                <div class="ui one-liner-captions">STUDENTS</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../library/javascript/components/list.js"></script>
    <script src="../../library/javascript/components/color_change.js"></script>
  </body>
</html>
