<!DOCTYPE html>
<html lang="">

<head class="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../library/css/index.css">
    <title></title>
</head>

<body class="light">
    <div class="ui full-width-container">
        <div class="ui flexbox">
            <div class="ui faculty-card">
                <div class="flex">
                    <div class="ui image">
                        <img src="https://channeli.in//media/kernel/display_pictures/22a70bbf-d2bd-4a6d-9c28-0914a39b447c.jpg"
                            alt="There is an image here" />

                    </div>
                    <div class="info">
                        <div class="name">
                            <div class="ui intro-text">
                                R. Balasubramanian
                            </div>
                        </div>
                        <div class="designation">
                            <div class="ui intro-text-light">
                                Professor
                            </div>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                mAbIO2xBxefxeUZSNkMN@iitr.ac.in
                            </div>
                            <img data-icon="email" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus magnam ipsam culpa
                                maiores quos quas mollitia, id nihil. Natus quos officia voluptates, in quas autem
                                inventore minus voluptatum eos libero quibusdam nisi.
                            </div>
                            <img data-icon="location" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                2117779885
                            </div>
                            <img data-icon="phone" class="ui icon">

                            </img>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="ui description">
                        Computer Vision- Optical Flow and Video Analytics, Fractional Transform Theory, Wavelet
                        Analysis, Multimedia Security: Encrypted Domain Processing of Big Multimedia Data over Cloud,
                        Biometrics, Content Based Video Retrieval, Video Skimming and Summarization, Medical Imaging,
                        Long-Range Imaging, Hyperspectral Imaging, Machine Learning, Pattern Recognition, Multilingual
                        Text Recognition, EEG based Pattern Analysis, Visualization, Volume Graphics
                    </div>
                    <div class="ui link">
                        <a href="https://iitr.ac.in/Departments/Computer Science and Engineering Department/People/Faculty/100421.html"
                            class="link-content">
                            READ MORE
                        </a>
                    </div>
                </div>

            </div>
            <div class="ui faculty-card">
                <div class="flex">
                    <div class="ui image">
                        <img src="https://channeli.in//media/kernel/display_pictures/8388d60c-191e-41f5-b924-b0eb318c5bf7.jpg"
                            alt="There is an image here" />

                    </div>
                    <div class="info">
                        <div class="name">
                            <div class="ui intro-text">
                                Sugata Gangopadhyay
                            </div>
                        </div>
                        <div class="designation">
                            <div class="ui intro-text-light">
                                Head of department
                            </div>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                9iMm4Buwz67WHVsdmSP9@iitr.ac.in
                            </div>
                            <img data-icon="email" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">

                            </div>
                            <img data-icon="location" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                4158731137
                            </div>
                            <img data-icon="phone" class="ui icon">

                            </img>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="ui description">
                        Cryptology, Cryptographic Boolean functions; Quantum Computing and Cryptography, Stream Cipher
                        Cryptanalysis.
                    </div>
                    <div class="ui link">
                        <a href="https://iitr.ac.in/Departments/Computer Science and Engineering Department/People/Faculty/100403.html"
                            class="link-content">
                            READ MORE
                        </a>
                    </div>
                </div>

            </div>
            <div class="ui faculty-card">
                <div class="flex">
                    <div class="ui image">
                        <img src="https://channeli.in//media/kernel/display_pictures/2e447df4-5763-44fd-9c5a-3ec45217c76c.jpg"
                            alt="There is an image here" />

                    </div>
                    <div class="info">
                        <div class="name">
                            <div class="ui intro-text">
                                Sandeep Kumar Garg
                            </div>
                        </div>
                        <div class="designation">
                            <div class="ui intro-text-light">
                                Associate professor
                            </div>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                8FceOP0tq8gUoU3a5uxk@iitr.ac.in
                            </div>
                            <img data-icon="email" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">

                            </div>
                            <img data-icon="location" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                7464641410
                            </div>
                            <img data-icon="phone" class="ui icon">

                            </img>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="ui description">
                        Software Engineering, Web Services, Machine Learning, Artificial Intelligence, Computer
                        Networks, Data Analytics, Software Project Management, ICT Development
                    </div>
                    <div class="ui link">
                        <a href="https://iitr.ac.in/Departments/Computer Science and Engineering Department/People/Faculty/100561.html"
                            class="link-content">
                            READ MORE
                        </a>
                    </div>
                </div>

            </div>
            <div class="ui faculty-card">
                <div class="flex">
                    <div class="ui image">
                        <img src="https://channeli.in//media/kernel/display_pictures/48676c91-9d3d-44c3-bea7-d197ebd90420"
                            alt="There is an image here" />

                    </div>
                    <div class="info">
                        <div class="name">
                            <div class="ui intro-text">
                                Peddoju Sateesh Kumar
                            </div>
                        </div>
                        <div class="designation">
                            <div class="ui intro-text-light">
                                Associate professor
                            </div>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                fz0rFsAKK7vZKu0Sgiap@iitr.ac.in
                            </div>
                            <img data-icon="email" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">

                            </div>
                            <img data-icon="location" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                9516565111
                            </div>
                            <img data-icon="phone" class="ui icon">

                            </img>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="ui description">
                        Pervasive Computing, Internet of Things (IoT), Sensor Networks, Edge/Fog Computing, Cyber
                        Security, Mobile Security, IoT Security, Cloud Security, Network Security, etc.
                    </div>
                    <div class="ui link">
                        <a href="https://iitr.ac.in/Departments/Computer Science and Engineering Department/People/Faculty/100554.html"
                            class="link-content">
                            READ MORE
                        </a>
                    </div>
                </div>

            </div>
            <div class="ui faculty-card">
                <div class="flex">
                    <div class="ui image">
                        <img src="https://channeli.in//media/kernel/display_pictures/deb87b00-4d91-4c8e-9178-3fcc61662147"
                            alt="There is an image here" />

                    </div>
                    <div class="info">
                        <div class="name">
                            <div class="ui intro-text">
                                Neetesh Kumar
                            </div>
                        </div>
                        <div class="designation">
                            <div class="ui intro-text-light">
                                Assistant professor
                            </div>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                Mphc9zwlSZdEHBO2Qtdr@iitr.ac.in
                            </div>
                            <img data-icon="email" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">

                            </div>
                            <img data-icon="location" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                6904155406
                            </div>
                            <img data-icon="phone" class="ui icon">

                            </img>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="ui description">
                        High Performance Computing:, Parallel Computing, Cloud/Fog/Edge Computing, Evolutionary
                        Computing:, Soft Computing, Nature Inspired Computing, Wireless Sensors Network (WSN):, WSN,
                        Software Defined Wireless Sensors Network, SIoVs, etc. , Intelligent Transportation System:,
                        Intelligent and Dynamic Traffic Light Control Systems, Autonomous Vehicles etc., Deep
                        Reinforcement Learning (DRL): , Applications of DRL
                    </div>
                    <div class="ui link">
                        <a href="https://iitr.ac.in/Departments/Computer Science and Engineering Department/People/Faculty/100892.html"
                            class="link-content">
                            READ MORE
                        </a>
                    </div>
                </div>

            </div>
            <div class="ui faculty-card">
                <div class="flex">
                    <div class="ui image">
                        <img src="https://channeli.in//media/kernel/display_pictures/a02d9f91-1519-4b02-bff5-7a1eb2accc3e.jpg"
                            alt="There is an image here" />

                    </div>
                    <div class="info">
                        <div class="name">
                            <div class="ui intro-text">
                                Manoj Mishra
                            </div>
                        </div>
                        <div class="designation">
                            <div class="ui intro-text-light">
                                Professor
                            </div>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                6TEaveZ58Zw3MIpoVTOa@iitr.ac.in
                            </div>
                            <img data-icon="email" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">

                            </div>
                            <img data-icon="location" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                3219538723
                            </div>
                            <img data-icon="phone" class="ui icon">

                            </img>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="ui description">
                        Distributed Computing, Information and Network Security
                    </div>
                    <div class="ui link">
                        <a href="https://iitr.ac.in/Departments/Computer Science and Engineering Department/People/Faculty/100137.html"
                            class="link-content">
                            READ MORE
                        </a>
                    </div>
                </div>

            </div>
            <div class="ui faculty-card">
                <div class="flex">
                    <div class="ui image">
                        <img src="https://channeli.in//media/kernel/display_pictures/c9d6a87c-93b9-4214-8db2-72209f6626bf.jpg"
                            alt="There is an image here" />

                    </div>
                    <div class="info">
                        <div class="name">
                            <div class="ui intro-text">
                                Rajdeep Niyogi
                            </div>
                        </div>
                        <div class="designation">
                            <div class="ui intro-text-light">
                                Professor
                            </div>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                usokiOwhTE9Y7CfEoXJQ@iitr.ac.in
                            </div>
                            <img data-icon="email" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">

                            </div>
                            <img data-icon="location" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                8840287415
                            </div>
                            <img data-icon="phone" class="ui icon">

                            </img>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="ui description">
                        Automated Planning, Formal Methods, Web services Composition, Cybersecurity, Distributed
                        Systems, Bioinformatics
                    </div>
                    <div class="ui link">
                        <a href="https://iitr.ac.in/Departments/Computer Science and Engineering Department/People/Faculty/100487.html"
                            class="link-content">
                            READ MORE
                        </a>
                    </div>
                </div>

            </div>
            <div class="ui faculty-card">
                <div class="flex">
                    <div class="ui image">
                        <img src="https://channeli.in//media/kernel/display_pictures/1dad8a04-14f1-476f-8f5e-3f98a8377b3c.jpg"
                            alt="There is an image here" />

                    </div>
                    <div class="info">
                        <div class="name">
                            <div class="ui intro-text">
                                Pradumn K. Pandey
                            </div>
                        </div>
                        <div class="designation">
                            <div class="ui intro-text-light">
                                Assistant professor
                            </div>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                lCtmPKVOwITXfHKRXGyp@iitr.ac.in
                            </div>
                            <img data-icon="email" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">

                            </div>
                            <img data-icon="location" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                4161599876
                            </div>
                            <img data-icon="phone" class="ui icon">

                            </img>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="ui description">
                        Complex Networks and Diffusion Dynamics, Modeling of complex networks and diffusion processes on
                        networks, Network Representation Learning, Vector embedding over networks , Network
                        Decomposition , Community detection
                    </div>
                    <div class="ui link">
                        <a href="https://iitr.ac.in/Departments/Computer Science and Engineering Department/People/Faculty/700092.html"
                            class="link-content">
                            READ MORE
                        </a>
                    </div>
                </div>

            </div>
            <div class="ui faculty-card">
                <div class="flex">
                    <div class="ui image">
                        <img src="https://channeli.in//media/kernel/display_pictures/f70571df-6836-45f5-aa54-e78ed8ae13ca.jpeg"
                            alt="There is an image here" />

                    </div>
                    <div class="info">
                        <div class="name">
                            <div class="ui intro-text">
                                Partha Pratim Roy
                            </div>
                        </div>
                        <div class="designation">
                            <div class="ui intro-text-light">
                                Associate professor
                            </div>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                1J7hKGl7vtPEaFLwSadQ@iitr.ac.in
                            </div>
                            <img data-icon="email" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">

                            </div>
                            <img data-icon="location" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                4869698601
                            </div>
                            <img data-icon="phone" class="ui icon">

                            </img>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="ui description">
                        Pattern Recognition, Multilingual Text Recognition, Biometrics, Computer Vision, Image
                        Segmentation, Bio-Signal Analysis, EEG based Pattern Analysis, Machine Learning, Deep Learning,
                        Temporal Data Analysis
                    </div>
                    <div class="ui link">
                        <a href="https://iitr.ac.in/Departments/Computer Science and Engineering Department/People/Faculty/100681.html"
                            class="link-content">
                            READ MORE
                        </a>
                    </div>
                </div>

            </div>
            <div class="ui faculty-card">
                <div class="flex">
                    <div class="ui image">
                        <img src="https://channeli.in//media/kernel/display_pictures/d57acb31-b8d6-49ec-b688-316abaa09955"
                            alt="There is an image here" />

                    </div>
                    <div class="info">
                        <div class="name">
                            <div class="ui intro-text">
                                Sudip Roy
                            </div>
                        </div>
                        <div class="designation">
                            <div class="ui intro-text-light">
                                Assistant professor
                            </div>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                K5vUYFB1OxdKVZb8uVev@iitr.ac.in
                            </div>
                            <img data-icon="email" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">

                            </div>
                            <img data-icon="location" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                5263549669
                            </div>
                            <img data-icon="phone" class="ui icon">

                            </img>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="ui description">
                        Design Automation and Optimization for Digital Systems, Microfluidic Biochips, IoT and Data
                        Analytics for Smart Systems, Computing for Disaster Risk Reduction (DRR), Applications of ML/DL
                    </div>
                    <div class="ui link">
                        <a href="https://iitr.ac.in/Departments/Computer Science and Engineering Department/People/Faculty/100679.html"
                            class="link-content">
                            READ MORE
                        </a>
                    </div>
                </div>

            </div>
            <div class="ui faculty-card">
                <div class="flex">
                    <div class="ui image">
                        <img src="https://channeli.in//media/kernel/display_pictures/bee8346b-acb7-4e65-8455-e87227c354e4"
                            alt="There is an image here" />

                    </div>
                    <div class="info">
                        <div class="name">
                            <div class="ui intro-text">
                                Debiprasanna Sahoo
                            </div>
                        </div>
                        <div class="designation">
                            <div class="ui intro-text-light">
                                Assistant professor
                            </div>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                debiprasanna.sahoo@cs.iitr.ac.in
                            </div>
                            <img data-icon="email" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">

                            </div>
                            <img data-icon="location" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                9861419814
                            </div>
                            <img data-icon="phone" class="ui icon">

                            </img>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="ui description">
                        Computer Architecture, Operating Systems, Design verification and performance modeling for
                        CPU-GPU heterogeneous computing systems, and Machine Learning Techniques for hardware design and
                        simulations
                    </div>
                    <div class="ui link">
                        <a href="https://iitr.ac.in/Departments/Computer Science and Engineering Department/People/Faculty/100949.html"
                            class="link-content">
                            READ MORE
                        </a>
                    </div>
                </div>

            </div>
            <div class="ui faculty-card">
                <div class="flex">
                    <div class="ui image">
                        <img src="https://channeli.in//media/kernel/display_pictures/19a9fa93-9bd8-4806-ace1-bd94106432e0.jpg"
                            alt="There is an image here" />

                    </div>
                    <div class="info">
                        <div class="name">
                            <div class="ui intro-text">
                                Raksha Sharma
                            </div>
                        </div>
                        <div class="designation">
                            <div class="ui intro-text-light">
                                Assistant professor
                            </div>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                5hyjvDULopubLu26Bf2F@iitr.ac.in
                            </div>
                            <img data-icon="email" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">

                            </div>
                            <img data-icon="location" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                4575736099
                            </div>
                            <img data-icon="phone" class="ui icon">

                            </img>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="ui description">
                        Natural Language Processing, Applicaiton of Machine Learning, Artificial Intelligence
                    </div>
                    <div class="ui link">
                        <a href="https://iitr.ac.in/Departments/Computer Science and Engineering Department/People/Faculty/100823.html"
                            class="link-content">
                            READ MORE
                        </a>
                    </div>
                </div>

            </div>
            <div class="ui faculty-card">
                <div class="flex">
                    <div class="ui image">
                        <img src="https://channeli.in//media/kernel/display_pictures/b254ea73-4cae-41e0-a70a-e1cfbf29b5ae"
                            alt="There is an image here" />

                    </div>
                    <div class="info">
                        <div class="name">
                            <div class="ui intro-text">
                                Pravendra Singh
                            </div>
                        </div>
                        <div class="designation">
                            <div class="ui intro-text-light">
                                Assistant professor
                            </div>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                pravendra.singh@cs.iitr.ac.in
                            </div>
                            <img data-icon="email" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">

                            </div>
                            <img data-icon="location" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                8948342252
                            </div>
                            <img data-icon="phone" class="ui icon">

                            </img>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="ui description">
                        Model Compression, Few-Shot Learning, Zero-Shot Learning, Continual Learning, Deep Learning,
                        Machine Learning, Computer Vision
                    </div>
                    <div class="ui link">
                        <a href="https://iitr.ac.in/Departments/Computer Science and Engineering Department/People/Faculty/100933.html"
                            class="link-content">
                            READ MORE
                        </a>
                    </div>
                </div>

            </div>
            <div class="ui faculty-card">
                <div class="flex">
                    <div class="ui image">
                        <img src="https://channeli.in//media/kernel/display_pictures/a624f13a-5aff-4867-b5df-e1e0692471ce.jpg"
                            alt="There is an image here" />

                    </div>
                    <div class="info">
                        <div class="name">
                            <div class="ui intro-text">
                                Rahul Thakur
                            </div>
                        </div>
                        <div class="designation">
                            <div class="ui intro-text-light">
                                Assistant professor
                            </div>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                MGb8MMB1lLtlg5lYLgqh@iitr.ac.in
                            </div>
                            <img data-icon="email" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">

                            </div>
                            <img data-icon="location" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                0538841002
                            </div>
                            <img data-icon="phone" class="ui icon">

                            </img>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="ui description">
                        Wireless Communication, Cellular Networks, Internet of Things(IoT), Vehicular Networks,
                        Femtocell Resource Allocation and Cell Selection
                    </div>
                    <div class="ui link">
                        <a href="https://iitr.ac.in/Departments/Computer Science and Engineering Department/People/Faculty/100821.html"
                            class="link-content">
                            READ MORE
                        </a>
                    </div>
                </div>

            </div>
            <div class="ui faculty-card">
                <div class="flex">
                    <div class="ui image">
                        <img src="https://channeli.in//media/kernel/display_pictures/213157bc-f7c3-4dcf-b59e-11fa6c893436.jpg"
                            alt="There is an image here" />

                    </div>
                    <div class="info">
                        <div class="name">
                            <div class="ui intro-text">
                                Durga Toshniwal
                            </div>
                        </div>
                        <div class="designation">
                            <div class="ui intro-text-light">
                                Professor
                            </div>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                wrzrY5NjNv0TXy6doeaA@iitr.ac.in
                            </div>
                            <img data-icon="email" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">

                            </div>
                            <img data-icon="location" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                3931494575
                            </div>
                            <img data-icon="phone" class="ui icon">

                            </img>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="ui description">
                        Data Mining and Big Data, Artificial Intelligence, and Machine Learning, Time Series Data
                        Mining, Privacy Preserving Data Mining, Anomaly detection, Data Stream mining, Data Mining and
                        Big Data, Artificial Intelligence, and Machine Learning, Mining Social Media Data, Urban
                        Computing and Smart City, Intelligent Transportation Systems, , Data Mining and Big Data,
                        Artificial Intelligence, and Machine Learning, Soft computing techniques in data mining,
                        Predictive Analytics, Mining Text and Biological Data
                    </div>
                    <div class="ui link">
                        <a href="https://iitr.ac.in/Departments/Computer Science and Engineering Department/People/Faculty/100469.html"
                            class="link-content">
                            READ MORE
                        </a>
                    </div>
                </div>

            </div>

        </div>
        <div class="ui title-bar">
            <div class="ui section-heading">
                Retired Faculty
            </div>

        </div>
        <div class="ui flexbox">
            <div class="ui faculty-card">
                <div class="flex">
                    <div class="ui image">
                        <img src="https://channeli.in//media/kernel/display_pictures/dcfecdc8-c215-4a39-8551-ed964a310a06.jpg"
                            alt="There is an image here" />

                    </div>
                    <div class="info">
                        <div class="name">
                            <div class="ui intro-text">
                                Biplab Banerjee
                            </div>
                        </div>
                        <div class="designation">
                            <div class="ui intro-text-light">
                                Ex faculty
                            </div>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                JzIw7D7EqIUO00oLDOZe@iitr.ac.in
                            </div>
                            <img data-icon="email" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">

                            </div>
                            <img data-icon="location" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                0910347325
                            </div>
                            <img data-icon="phone" class="ui icon">

                            </img>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="ui description">
                        Computer Vision, Machine Learning, Action recognition, zero-shot learning, parts based object
                        recognition, target recognition
                    </div>
                    <div class="ui link">
                        <a href="https://iitr.ac.in/Departments/Computer Science and Engineering Department/People/Faculty/100780.html"
                            class="link-content">
                            READ MORE
                        </a>
                    </div>
                </div>

            </div>
            <div class="ui faculty-card">
                <div class="flex">
                    <div class="ui image">
                        <img src="https://channeli.in//media/kernel/display_pictures/743ebf88-1715-43c6-8bde-4450ede038ad.jpg"
                            alt="There is an image here" />

                    </div>
                    <div class="info">
                        <div class="name">
                            <div class="ui intro-text">
                                Ranita Biswas
                            </div>
                        </div>
                        <div class="designation">
                            <div class="ui intro-text-light">
                                Ex faculty
                            </div>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">

                            </div>
                            <img data-icon="email" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">

                            </div>
                            <img data-icon="location" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">

                            </div>
                            <img data-icon="phone" class="ui icon">

                            </img>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="ui description">
                        Digital Geometry, Computer Graphics, Mathematical Imaging, Discrete Geometry, Algorithms, Image
                        Processing
                    </div>
                    <div class="ui link">
                        <a href="https://iitr.ac.in/Departments/Computer Science and Engineering Department/People/Faculty/100769.html"
                            class="link-content">
                            READ MORE
                        </a>
                    </div>
                </div>

            </div>
            <div class="ui faculty-card">
                <div class="flex">
                    <div class="ui image">
                        <img src="https://channeli.in/" alt="There is an image here" />

                    </div>
                    <div class="info">
                        <div class="name">
                            <div class="ui intro-text">
                                Dummy Faculty
                            </div>
                        </div>
                        <div class="designation">
                            <div class="ui intro-text-light">
                                Ex faculty
                            </div>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                soceP7labEDa4txBuJEI@iitr.ac.in
                            </div>
                            <img data-icon="email" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">

                            </div>
                            <img data-icon="location" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                4513113720
                            </div>
                            <img data-icon="phone" class="ui icon">

                            </img>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="ui description">

                    </div>
                    <div class="ui link">
                        <a href="https://iitr.ac.in/Departments/Computer Science and Engineering Department/People/Faculty/700001.html"
                            class="link-content">
                            READ MORE
                        </a>
                    </div>
                </div>

            </div>
            <div class="ui faculty-card">
                <div class="flex">
                    <div class="ui image">
                        <img src="https://channeli.in//media/kernel/display_pictures/6ab9cda9-36c8-4137-8ef1-fa27331949e4.jpg"
                            alt="There is an image here" />

                    </div>
                    <div class="info">
                        <div class="name">
                            <div class="ui intro-text">
                                Subhankar Mishra
                            </div>
                        </div>
                        <div class="designation">
                            <div class="ui intro-text-light">
                                Ex faculty
                            </div>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                HZpQEE7I1x6aZ7X27Wmn@iitr.ac.in
                            </div>
                            <img data-icon="email" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">

                            </div>
                            <img data-icon="location" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                5531346652
                            </div>
                            <img data-icon="phone" class="ui icon">

                            </img>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="ui description">
                        Interdependent Critical Infrastructures, Smart Grid, Internet of Things, Networks, Complex
                        Networks, Online Social Networks, Ad hoc networks, Sensor networks
                    </div>
                    <div class="ui link">
                        <a href="https://iitr.ac.in/Departments/Computer Science and Engineering Department/People/Faculty/100783.html"
                            class="link-content">
                            READ MORE
                        </a>
                    </div>
                </div>

            </div>
            <div class="ui faculty-card">
                <div class="flex">
                    <div class="ui image">
                        <img src="https://channeli.in//media/kernel/display_pictures/b62059f3-879a-436a-ae5c-b29700986755.jpg"
                            alt="There is an image here" />

                    </div>
                    <div class="info">
                        <div class="name">
                            <div class="ui intro-text">
                                Dhaval Patel
                            </div>
                        </div>
                        <div class="designation">
                            <div class="ui intro-text-light">
                                Ex faculty
                            </div>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                bfGgFzcOdZT3CiqMzXym@iitr.ac.in
                            </div>
                            <img data-icon="email" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">

                            </div>
                            <img data-icon="location" class="ui icon">

                            </img>
                        </div>
                        <div class="info-content">
                            <div class="ui intro-text">
                                5162835630
                            </div>
                            <img data-icon="phone" class="ui icon">

                            </img>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="ui description">
                        Database and Data Mining, Database, Data Mining, Spatio-Temporal Data Analysis,
                        GeoVisualization, Big Data Analysis, Map Reduce Programming
                    </div>
                    <div class="ui link">
                        <a href="https://iitr.ac.in/Departments/Computer Science and Engineering Department/People/Faculty/100623.html"
                            class="link-content">
                            READ MORE
                        </a>
                    </div>
                </div>

            </div>

        </div>

    </div>


</body>

<script src="https://cmsredesign.channeli.in/library/javascript/components/menu.js?rndstr='n7rNAuRBDK'"> </script>
<script src="https://cmsredesign.channeli.in/library/javascript/components/header.js?rndstr='n7rNAuRBDK'"> </script>
<script
    src="https://cmsredesign.channeli.in/library/javascript/components/color_change.js?rndstr='n7rNAuRBDK'"> </script>
<script
    src="https://cmsredesign.channeli.in/library/javascript/components/social-icon.js?rndstr='n7rNAuRBDK'"> </script>
<script
    src="https://cmsredesign.channeli.in/library/javascript/components/icon-library.js?rndstr='n7rNAuRBDK'"> </script>

</html>