<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
  </head>
  <body class="dark">
    faculty-card with phone number
    <div class="ui faculty-card">
      <div class="flex">
        <div>
          <div class="ui image">
            <img src="../assets/images/faculty.png" />
          </div>
        </div>
        <div class="info">
          <div class="name">
            <div class="ui intro-text">VK aggarwal</div>
          </div>
          <div class="designation">
            <div class="ui intro-text">professor</div>
          </div>
          <div class="info-content">
            <img class="ui icon" data-icon="email" />
            <div class="ui intro-text">vijay.aggarwaldfjslkfdlksdjflksdjflksdjflksdkfljsdlkfjsldf@gmail.com</div>
          </div>
          <div class="info-content">
            <img class="ui icon" data-icon="location" />
            <div class="ui intro-text">A22 labs sldkfj lk dslkjflkd slkdk ksjj fkfdsil klsn klj ljdkl jslja l, mango</div>
          </div>
          <div class="info-content">
            <img class="ui icon" data-icon="phone" />
            <div class="ui intro-text">0110 - 388278</div>
          </div>
        </div>
      </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    faculty-card without phone number

    <div class="ui faculty-card">
      <div class="flex">
        <div>
          <div class="ui image">
            <img src="../assets/images/faculty.png" />
          </div>
        </div>
        <div class="info">
          <div class="name">
            <div class="ui intro-text">VK aggarwal</div>
          </div>
          <div class="designation">
            <div class="ui intro-text">professor</div>
          </div>
          <div class="info-content">
            <img class="ui icon" data-icon="email" />
            <div class="ui intro-text">vijay.aggarwal@gmail.com</div>
          </div>
          <div class="info-content">
            <img class="ui icon" data-icon="location" />
            <div class="ui intro-text">A22 labs, mango</div>
          </div>
          <div class="info-content">
            <img class="ui icon" data-icon="phone" />
            <div class="ui intro-text">0110 - 388278</div>
          </div>
        </div>
      </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    faculty-card with description medium length
    <div class="ui faculty-card">
      <div class="flex">
        <div>
          <div class="ui image">
            <img src="../assets/images/faculty.png" />
          </div>
        </div>
        <div class="info">
          <div class="name">
            <div class="ui intro-text">VK aggarwal</div>
          </div>
          <div class="designation">
            <div class="ui intro-text">professor</div>
          </div>
          <div class="info-content">
            <img class="ui icon" data-icon="email" />
            <div class="ui intro-text">vijay.aggarwal@gmail.com</div>
          </div>
          <div class="info-content">
            <img class="ui icon" data-icon="location" />
            <div class="ui intro-text">A22 labs, mango</div>
          </div>
          <div class="info-content">
            <img class="ui icon" data-icon="phone" />
            <div class="ui intro-text">0110 - 388278</div>
          </div>
        </div>
      </div>
      <div class="body">
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
          pharetra, velit sed dictum sodales, mauris diam efficitur lectus,
          vitae rhoncus velit sem sit amet elit. Duis porttitor, elit eget
          condimentum ultricies, nunc mi ultrices erat, ac laoreet ex lectus et
          orci. Nam egestas consequat leo, eu porta mauris accumsan id.
        </div>
        <div class="ui link">
          <a href="#" class="link-content">READ MORE</a>
        </div>
      </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    faculty-card with description medium short
    <div class="ui faculty-card">
      <div class="flex">
        <div>
          <div class="ui image">
            <img src="../assets/images/faculty.png" />
          </div>
        </div>
        <div class="info">
          <div class="name">
            <div class="ui intro-text">VK aggarwal</div>
          </div>
          <div class="designation">
            <div class="ui intro-text">professor</div>
          </div>
          <div class="info-content">
            <img class="ui icon" data-icon="email" />
            <div class="ui intro-text">vijay.aggarwal@gmail.com</div>
          </div>
          <div class="info-content">
            <img class="ui icon" data-icon="location" />
            <div class="ui intro-text">A22 labs, mango</div>
          </div>
          <div class="info-content">
            <img class="ui icon" data-icon="phone" />
            <div class="ui intro-text">0110 - 388278</div>
          </div>
        </div>
      </div>
      <div class="body">
        <div class="description">Lorem ipsum dolor sit amet</div>
        <div class="ui link">
          <a href="#" class="link-content">READ MORE</a>
        </div>
      </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    faculty-card with description medium long
    <div class="ui faculty-card">
      <div class="flex">
        <div>
          <div class="ui image">
            <img src="../assets/images/faculty.png" />
          </div>
        </div>
        <div class="info">
          <div class="name">
            <div class="ui intro-text">VK aggarwal</div>
          </div>
          <div class="designation">
            <div class="ui intro-text">professor</div>
          </div>
          <div class="info-content">
            <img class="ui icon" data-icon="email" />
            <div class="ui intro-text">vijay.aggarwal@gmail.com</div>
          </div>
          <div class="info-content">
            <img class="ui icon" data-icon="location" />
            <div class="ui intro-text">A22 labs, mango</div>
          </div>
          <div class="info-content">
            <img class="ui icon" data-icon="phone" />
            <div class="ui intro-text">0110 - 388278</div>
          </div>
        </div>
      </div>
      <div class="body">
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Turpis
          egestas pretium aenean pharetra magna ac placerat. Et egestas quis
          ipsum suspendisse. Praesent semper feugiat nibh sed pulvinar. Mattis
          vulputate enim nulla aliquet porttitor lacus luctus accumsan. Sed
          ullamcorper morbi tincidunt ornare massa. Neque volutpat ac tincidunt
          vitae semper quis lectus nulla. Nam aliquam sem et tortor. Lacus vel
          facilisis volutpat est velit. Scelerisque viverra mauris in aliquam
          sem fringilla. Commodo odio aenean sed adipiscing diam donec. Diam
          vulputate ut pharetra sit amet aliquam id. Eu augue ut lectus arcu
          bibendum. Molestie nunc non blandit massa.
        </div>
        <div class="ui link">
          <a href="#" class="link-content">READ MORE</a>
        </div>
      </div>
    </div>

    <script src="../../library/javascript/components/icon-library.js"></script>
  </body>
</html>
