<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
  </head>

  <body class="light">
    <div class="ui faculty-profile">
      <div class="ui twenty-eighty-container">
        <div class="first">
          <div class="ui image">
            <img src="../assets/images/image 3.png" />
          </div>
        </div>
        <div class="second">
          <a class="ui button" href="#"> Download Resume </a>
          <div class="description">Interests</div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Turpis
            egestas pretium aenean pharetra magna ac placerat. Et egestas quis
            ipsum suspendisse. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Turpis egestas pretium aenean pharetra magna ac
            placerat. Et egestas quis ipsum suspendisse. Lorem ipsum dolor sit
            amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Turpis egestas pretium aenean
            pharetra magna ac placerat. Et egestas quis ipsum suspendisse. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Turpis egestas
            pretium aenean pharetra magna ac placerat. Et egestas quis ipsum
            suspendisse. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Turpis egestas pretium aenean pharetra magna ac placerat. Et
            egestas quis ipsum suspendisse.
          </div>

          <div class="info">
            <div class="ui icon-typography">
              <img class="ui icon" data-icon="phone" />
              <div class="ui intro-text">0110 - 388278</div>
            </div>
            <div class="ui icon-typography">
              <img class="ui icon" data-icon="location" />
              <div class="ui intro-text">A22 labs, mango</div>
            </div>
          </div>
          <div class="info">
            <div class="ui icon-typography">
              <img class="ui icon" data-icon="email" />
              <div class="ui intro-text">
                <div class="ui link">
                  <a href="#" class="link-content">vijay.aggarwal@gmail.com</a>
                </div>
              </div>
            </div>

            <div class="ui icon-typography">
              <img class="ui icon" data-icon="website" />
              <div class="ui intro-text">
                <div class="ui link">
                  <a href="#" class="link-content">bala.iitr.in</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../library/javascript/components/icon-library.js"></script>
  </body>
</html>
