<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
  </head>
  <body class="dark">
    Flexbox
    <hr />
    <div class="ui full-width-container light-blue">
      <div class="ui flexbox">
        <div class="ui faculty-card">
          <div class="flex">
            <div>
              <div class="ui image">
                <img src="../assets/images/faculty.png" />
              </div>
            </div>
            <div class="info">
              <div class="name">
                <div class="intro-text">VK aggarwal</div>
              </div>
              <div class="designation">
                <div class="intro-text">professor</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="email" />
                <div class="intro-text">vijay.aggarwal@gmail.com</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="location" />
                <div class="intro-text">A22 labs, mango</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="phone" />
                <div class="intro-text">0110 - 388278</div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui faculty-card">
          <div class="flex">
            <div>
              <div class="ui image">
                <img src="../assets/images/faculty.png" />
              </div>
            </div>
            <div class="info">
              <div class="name">
                <div class="intro-text">VK aggarwal</div>
              </div>
              <div class="designation">
                <div class="intro-text">professor</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="email" />
                <div class="intro-text">vijay.aggarwal@gmail.com</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="location" />
                <div class="intro-text">A22 labs, mango</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="phone" />
                <div class="intro-text">0110 - 388278</div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui faculty-card">
          <div class="flex">
            <div>
              <div class="ui image">
                <img src="../assets/images/faculty.png" />
              </div>
            </div>
            <div class="info">
              <div class="name">
                <div class="intro-text">VK aggarwal</div>
              </div>
              <div class="designation">
                <div class="intro-text">professor</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="email" />
                <div class="intro-text">vijay.aggarwal@gmail.com</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="location" />
                <div class="intro-text">A22 labs, mango</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="phone" />
                <div class="intro-text">0110 - 388278</div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui faculty-card">
          <div class="flex">
            <div>
              <div class="ui image">
                <img src="../assets/images/faculty.png" />
              </div>
            </div>
            <div class="info">
              <div class="name">
                <div class="intro-text">VK aggarwal</div>
              </div>
              <div class="designation">
                <div class="intro-text">professor</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="email" />
                <div class="intro-text">vijay.aggarwal@gmail.com</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="location" />
                <div class="intro-text">A22 labs, mango</div>
              </div>
              <div class="info-content">
                <img class="ui icon" data-icon="phone" />
                <div class="intro-text">0110 - 388278</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../library/javascript/components/icon-library.js"></script>
  </body>
</html>
