<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Floating Button</title>
  </head>
  <body class="dark">
    <div style="background-color: black; color: white; padding: 30px">
      Scroll Down
    </div>
    <div style="background-color: lightgrey; padding: 30px 30px 2500px">
      Button will show after scrolling 20px down and have functionality to go to
      top.
    </div>

    <div class="ui floating-btn">
      <img
        class="ui icon"
        data-icon="floating_button"
      />
    </div>

    <script src="../../library/javascript/components/icon-library.js"></script>
    <script src="../../library/javascript/components/floating-button.js"></script>
  </body>
</html>
