<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <link rel="stylesheet" href="../assets/css/footer.css" />
    <title>Footer</title>
  </head>

  <body class="light">
    <div class="textArea footer">
      <div class="contact-info">
        <div>
          <img src="../assets/images/iitrLogo.png" class="info-logo" />
        </div>
        <div style="width: 100%">
          <iframe
            width="200"
            height="120"
            src="https://maps.google.com/maps?q=iit%20roorkee&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
          ></iframe>
        </div>

        <div class="footer-contact-info-detail-element">
          <img class="ui icon" data-icon="location" />
          <a
            class="footer-text"
            href="https://www.iitr.ac.in/institute/pages/How_to_reach_IIT_Roorkee.html"
          >
            How to reach IIT Roorkee
          </a>
        </div>
        <div class="footer-contact-info-details"></div>
        <div class="footer-favicons">
          <a href="https://www.facebook.com/IITRoorkee.ICC" target="_blank"
            ><img src="../../library/assets/icons/fb_logo_cms.svg" alt="#"
          /></a>
          <a href="https://twitter.com/iitroorkee" target="_blank"
            ><img src="/Main/assets/images/twitterFavicon.svg" alt="#"
          /></a>
          <a
            href="https://www.youtube.com/channel/UCWzelmid9BHgokVfVGhWvLw"
            target="_blank"
            ><img src="/Main/assets/images/youtubeFavicon.svg" alt="#"
          /></a>
          <a
            href="https://www.linkedin.com/school/157269/admin/"
            target="_blank"
            ><img src="/Main/assets/images/linkedinFavicon.svg" alt="#"
          /></a>
          |
          <a
            href="https://iitr.ac.in/Main/pages/Contact_Us.html"
            target="_blank"
            ><img
              src="https://iitr.ac.in//Main/assets/icons/contact%20us.svg"
              alt="#"
          /></a>
          <a href="https://iitr.ac.in/calendar/" target="_blank"
            ><img
              src="https://iitr.ac.in/Main/assets/icons/calendar.svg"
              alt="#"
          /></a>
          <a href="https://iitr.ac.in/support/td/" target="_blank"
            ><img
              src="https://iitr.ac.in/Main/assets/icons/telephone.svg"
              alt="#"
          /></a>
        </div>
      </div>

      <div class="links">
        <div class="footer-lefts-left">
          <div class="footer-lefts-header">EXPLORE</div>

          <a
            class="ui link basic footer-link"
            href="https://www.iitr.ac.in/Main/pages/establishments+Establishment_Services.html"
          >
            Administration
          </a>
          <a class="ui link basic footer-link" href="http://scsp.iitr.ac.in/">
            Awards and Honours
          </a>
          <a
            class="ui link basic footer-link"
            href="https://iitr.ac.in/Main/pages/_en_Departments__en_.html"
          >
            Departments
          </a>
          <a class="ui link basic footer-link" href="https://ir.iitr.ac.in/">
            International Students
          </a>
          <a class="ui link basic footer-link" href="http://mm.iitr.ac.in/mmweb/">
            Tenders and Quotations
          </a>
          <a class="ui link basic footer-link" href="https://www.iitr.ac.in/rti/"> RTI </a>
          <a
            class="ui link basic footer-link"
            href="https://www.iitr.ac.in/research/pages/Research_Summary+Industrial_Consultancy.html"
          >
            Industry Consultation
          </a>
        </div>

        <div class="ui link basic footer-lefts-right">
          <div class="ui link basic footer-lefts-header">QUICK ACCESS</div>

          <a class="ui link basic footer-link" href="https://alumni.iitr.ac.in/donate">
            Donate
          </a>
          <a class="ui link basic footer-link" href="https://channeli.in/">
            Intranet Portal
          </a>
          <a class="ui link basic footer-link" href="https://newwebmail.iitr.ac.in/">
            Webmail
          </a>
          <a class="ui link basic footer-link" href="http://ghbooking.iitr.ac.in/">
            Book guest house
          </a>
          <a class="ui link basic footer-link" href="https://www.iitr.ac.in/support/">
            Support @ IITR
          </a>
          <a class="ui link basic footer-link" href="mailto:img@iitr.ac.in">
            Give Feedback
          </a>
          <a
            class="ui link basic footer-link"
            href="http://iitr.ac.in/internalcomplaintscommittee"
          >
            Internal Complaints Committee (ICC)
          </a>
        </div>
      </div>

      <div class="weather">
        <a
          class="weatherwidget-io"
          href="https://forecast7.com/en/29d8577d89/roorkee/"
          data-label_1="ROORKEE"
          data-label_2="WEATHER"
          data-days="3"
          data-theme="original"
          data-basecolor=""
          data-textcolor="#000000"
          data-highcolor="#BB5F1A"
          data-lowcolor="#1a76bb"
          data-mooncolor="#000000"
          data-cloudcolor="#000000"
          data-raincolor="#1a76bb"
          >ROORKEE WEATHER</a
        >
        <script>
          !(function (d, s, id) {
            var js,
              fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
              js = d.createElement(s);
              js.id = id;
              js.src = "https://weatherwidget.io/js/widget.min.js";
              fjs.parentNode.insertBefore(js, fjs);
            }
          })(document, "script", "weatherwidget-io-js");
        </script>
      </div>
    </div>
    <script src="../../library/javascript/components/icon-library.js"></script>
  </body>
</html>
