<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Full Width Container</title>
</head>

<body class="light">
    Full Width Container
    <hr />
    <div class="title-box">
        <div class="ui breadcrumb inverted">
            <a href="https://www.google.com" class="section"> Computer Science </a>
            <div class="divider slash"></div>
            <a href="https://www.google.com" class="section">
              Electronics and Communication
            </a>
            <div class="divider slash"></div>
            <a href="https://www.google.com" class="section active"> Metallurgy </a>
        </div>
        <div class="ui inverted section-heading">
            Admissions
        </div>
        <div class="ui inverted one-liner-captions">
            IITR hosts 23 departments offering different programmes for UG, PG and PhD.
        </div>
    </div>

    <div class="ui full-width-container" style="background-color: #f7f7f7;">
        <div class="full-section"> 
            <div class="ui slider">
                <div style="height: 200px; width: 200px; background-color: aliceblue;">
                </div>
                <div style="height: 200px; width: 200px; background-color:yellowgreen;">
                </div>
                <div style="height: 200px; width: 200px; background-color:yellow;">
                </div>
                <div style="height: 200px; width: 200px; background-color:green;">
                </div>
            </div>
        </div>
    </div>

    <div class="ui full-width-container" style="background-color: yellow;">
        <div class="full-section">
        <div class="ui accordion">
            <div class="category">
              <div class="ui section-heading">
                Fruits
              </div>
              <div class="item">
                <div class="ui sub-heading">
                  Banana is a yellow fruit
                </div>
                <div class="ui one-liner-captions">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum lectus elit, nec lobortis quam
                  iaculis vel. Donec et tempor magna. In eget diam dui. Suspendisse id nulla efficitur, ultricies nisi sit amet,
                  posuere ante. Suspendisse vel gravida nibh, non fringilla felis. Duis eget sem id lectus congue vehicula.
                  Etiam vehicula nulla purus, vitae aliquet tortor ullamcorper vitae. Vivamus id felis dictum, molestie felis
                  at, interdum turpis. Maecenas fermentum dui eget scelerisque mollis. Morbi ut lorem commodo, fermentum ex ac,
                  pulvinar ligula. Mauris eu leo mattis, dictum turpis sit amet, bibendum nisi. Nulla facilisi.
                </div>
              </div>
              <div class="item">
                <div class="ui sub-heading">
                  Banana is a yellow fruit
                </div>
                <div class="ui one-liner-captions">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum lectus elit, nec lobortis quam
                  iaculis vel. Donec et tempor magna. In eget diam dui. Suspendisse id nulla efficitur, ultricies nisi sit amet,
                  posuere ante. Suspendisse vel gravida nibh, non fringilla felis. Duis eget sem id lectus congue vehicula.
                  Etiam vehicula nulla purus, vitae aliquet tortor ullamcorper vitae. Vivamus id felis dictum, molestie felis
                  at, interdum turpis. Maecenas fermentum dui eget scelerisque mollis. Morbi ut lorem commodo, fermentum ex ac,
                  pulvinar ligula. Mauris eu leo mattis, dictum turpis sit amet, bibendum nisi. Nulla facilisi.
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>

    <script src="../../library/javascript/components/accordion.js"></script>
    <script src="../../library/javascript/components/slider.js"></script>
    <script src="../../library/javascript/components/breadcrumb.js"></script>

</body>

</html>
