<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Full Width Container</title>
  </head>

  <body class="dark">
    Full Width Container
    <hr />
    <div
      class="ui full-width-container"
      style="background-color: var(--light-blue)"
    >
      <div class="ui slider">
        <div class="ui image-card">
          <div class="ui image">
            <img src="../assets/images/image-card-content.png" />
          </div>
          <div class="content">
            <div class="ui sub-heading">
              1 Study of Gait and Circulation Analysis Work
            </div>
            <div class="ui intro-text">
              Study of Gait and Circulation Analysis Work and Spaces for
              Architecture irculation Analysis Work
            </div>
            <a class="ui button" href="#"> READ MORE </a>
          </div>
        </div>

        <div class="ui image-card">
          <div class="ui image">
            <img src="../assets/images/image-card-content.png" />
          </div>
          <div class="content">
            <div class="ui sub-heading">
              2 Study of Gait and Circulation Analysis Work
            </div>
            <div class="ui intro-text">
              Study of Gait and Circulation Analysis Work and Spaces for
              Architecture irculation Analysis Work
            </div>
            <a class="ui button" href="#"> READ MORE </a>
          </div>
        </div>

        <div class="ui image-card">
          <div class="ui image">
            <img src="../assets/images/image-card-content.png" />
          </div>
          <div class="content">
            <div class="ui sub-heading">
              3 Study of Gait and Circulation Analysis Work
            </div>
            <div class="ui intro-text">
              Study of Gait and Circulation Analysis Work and Spaces for
              Architecture irculation Analysis Work
            </div>
            <a class="ui button" href="#"> READ MORE </a>
          </div>
        </div>
        <div class="ui image-card">
          <div class="ui image">
            <img src="../assets/images/image-card-content.png" />
          </div>
          <div class="content">
            <div class="ui sub-heading">
              4 Study of Gait and Circulation Analysis Work
            </div>
            <div class="ui intro-text">
              Study of Gait and Circulation Analysis Work and Spaces for
              Architecture irculation Analysis Work
            </div>
            <a class="ui button" href="#"> READ MORE </a>
          </div>
        </div>
      </div>
    </div>
    <script src="../../library/javascript/components/icon-library.js"></script>
    <script src="../../library/javascript/components/slider.js"></script>
  </body>
</html>
