<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <ui sub-heading>Document</ui sub-heading>
  </head>
  <body class="light">
    Gallery
    <hr />

    <div class="ui gallery">
        <div class="swiper">
            <div class="gallery-wrap">
                <div class="gallery-item" style="background-image: url('../assets/images/item_1.png')">
                </div>
                <div class="gallery-item" style="background-image: url('../assets/images/item_2.png')">
                </div>
                <div class="gallery-item" style="background-image: url('../assets/images/item_1.png')">
                </div>
            </div>
        </div>
    </div>
      

  </body>
</html>
