<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Half width container</title>
  </head>

  <body class="dark">
    <div class="ui half-width-container">
      <div class="first">
        <div class="title-bar">
          <div class="ui section-heading">SECTION HEADING</div>
          <div class="ui link blue">
            <a href="#" class="link-content">EXPLORE MORE</a>
          </div>
        </div>
        <div class="ui list list-bluebg">
          <div class="listItem notice-item" onclick="window.location('#')">
            <div class="title-bar">
              <div class="ui intro-text">Academics</div>
              <div class="ui intro-text">Oct 26, 20</div>
            </div>
            <div class="ui one-liner-captions">
              Microsoft Team Support to conduct online classes 2020 Microsoft
              Team Support to conduct online classes 2020
            </div>
          </div>
          <div class="listItem notice-item" onclick="window.location('#')">
            <div class="title-bar">
              <div class="ui intro-text">Academics</div>
              <div class="ui intro-text">Oct 26, 20</div>
            </div>
            <div class="ui one-liner-captions">
              Microsoft Team Support to conduct online classes 2020 Microsoft
              Team Support to conduct online classes 2020
            </div>
          </div>
          <div class="listItem notice-item" onclick="window.location('#')">
            <div class="title-bar">
              <div class="ui intro-text">Academics</div>
              <div class="ui intro-text">Oct 26, 20</div>
            </div>
            <div class="ui one-liner-captions">
              Microsoft Team Support to conduct online classes 2020 Microsoft
              Team Support to conduct online classes 2020
            </div>
          </div>
          <div class="listItem notice-item" onclick="window.location('#')">
            <div class="title-bar">
              <div class="ui intro-text">Academics</div>
              <div class="ui intro-text">Oct 26, 20</div>
            </div>
            <div class="ui one-liner-captions">
              Microsoft Team Support to conduct online classes 2020 Microsoft
              Team Support to conduct online classes 2020
            </div>
          </div>
        </div>
      </div>
      <div class="second">
        <div class="title-bar">
          <div class="ui section-heading">SECTION HEADING</div>
          <div class="ui link blue">
            <a href="#" class="link-content">EXPLORE MORE</a>
          </div>
        </div>
        <div class="ui list list-bluebg">
          <div class="listItem notice-item" onclick="window.location('#')">
            <div class="title-bar">
              <div class="ui intro-text">Academics</div>
              <div class="ui intro-text">Oct 26, 20</div>
            </div>
            <div class="ui one-liner-captions">
              Microsoft Team Support to conduct online classes 2020 Microsoft
              Team Support to conduct online classes 2020
            </div>
          </div>
          <div class="listItem notice-item" onclick="window.location('#')">
            <div class="title-bar">
              <div class="ui intro-text">Academics</div>
              <div class="ui intro-text">Oct 26, 20</div>
            </div>
            <div class="ui one-liner-captions">
              Microsoft Team Support to conduct online classes 2020 Microsoft
              Team Support to conduct online classes 2020
            </div>
          </div>
          <div class="listItem notice-item" onclick="window.location('#')">
            <div class="title-bar">
              <div class="ui intro-text">Academics</div>
              <div class="ui intro-text">Oct 26, 20</div>
            </div>
            <div class="ui one-liner-captions">
              Microsoft Team Support to conduct online classes 2020 Microsoft
              Team Support to conduct online classes 2020
            </div>
          </div>
          <div class="listItem notice-item" onclick="window.location('#')">
            <div class="title-bar">
              <div class="ui intro-text">Academics</div>
              <div class="ui intro-text">Oct 26, 20</div>
            </div>
            <div class="ui one-liner-captions">
              Microsoft Team Support to conduct online classes 2020 Microsoft
              Team Support to conduct online classes 2020
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../library/javascript/components/icon-library.js"></script>
  </body>
</html>
