<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Icon Library Dark</title>
  </head>

  <body
    style="
      background: linear-gradient(
        180deg,
        rgba(0, 103, 179, 0.8) 0.52%,
        #5183b8 18.75%,
        #5183b8 62.5%
      );
    "
  >
    <div>
      <img class="ui icon" data-icon="arrow_dark" />
      <img class="ui icon" data-icon="bullet_point_dark" />
      <img class="ui icon" data-icon="departments_dark" />
      <img class="ui icon" data-icon="stats_students_dark" />
      <img class="ui icon" data-icon="stats_faculty_dark" />
      <img class="ui icon" data-icon="centres_dark" />
      <img class="ui icon" data-icon="contact_dark" />
      <img class="ui icon" data-icon="filter_list_dark" />
      <img class="ui icon" data-icon="schools_dark" />
      <img class="ui icon" data-icon="stats_staff_dark" />
      <img class="ui icon" data-icon="stats_patents_dark" />
    </div>
    <script src="../../library/javascript/components/icon-library.js"></script>
  </body>
</html>
