<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
  </head>

  <body class="dark">
    <div class="ui flexbox">
      <div class="ui icon-card">
        <img class="ui icon" data-icon="research" />
        <div class="ui intro-text">
          Development of application software for offline and online
          applications
        </div>
      </div>
      <div class="ui icon-card">
        <img class="ui icon" data-icon="research" />
        <div class="ui intro-text">
          Development of application software for offline and online
          applications
        </div>
      </div>
      <div class="ui icon-card">
        <img class="ui icon" data-icon="research" />
        <div class="ui intro-text">
          Development of application software for offline and online
          applications
        </div>
      </div>
      <div class="ui icon-card">
        <img class="ui icon" data-icon="research" />
        <div class="ui intro-text">
          Development of application software for offline and online
          applications
        </div>
      </div>
    </div>
    <script src="../../library/javascript/components/icon-library.js"></script>
  </body>
</html>
