<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Icon Library</title>
  </head>

  <body>
    <div>
      <img class="ui icon" data-icon="search" />
      <img class="ui icon" data-icon="dropdown" />
      <img class="ui icon" data-icon="carouselright" />
      <img class="ui icon" data-icon="carouselleft" />
      <img class="ui icon" data-icon="arrow" />
      <img class="ui icon" data-icon="hospital" />
      <img class="ui icon" data-icon="heart" />
      <img class="ui icon" data-icon="phone" />
      <img class="ui icon" data-icon="email" />
      <img class="ui icon" data-icon="contact" />
      <img class="ui icon" data-icon="compass" />
      <img class="ui icon" data-icon="download" />
      <img class="ui icon" data-icon="microphone" />
      <img class="ui icon" data-icon="sort" />
      <img class="ui icon" data-icon="wellness" />
      <img class="ui icon" data-icon="share" />
      <img class="ui icon" data-icon="homepage_hygiene" />
      <img class="ui icon" data-icon="students" />
      <img class="ui icon" data-icon="students_hover" />
      <img class="ui icon" data-icon="faculty" />
      <img class="ui icon" data-icon="faculty_hover" />
      <img class="ui icon" data-icon="visitors" />
      <img class="ui icon" data-icon="visitors_hover" />
      <img class="ui icon" data-icon="floating_button" />
      <img class="ui icon" data-icon="floating_button_hover" />
      <img class="ui icon" data-icon="committee" />
      <!-- <img class="ui icon" data-icon="google_icon_1" /> -->
      <img class="ui icon" data-icon="location" />
      <img class="ui icon" data-icon="facebook_logo" />
      <img class="ui icon" data-icon="youtube_logo" />
      <img class="ui icon" data-icon="linkedin_logo" />
      <img class="ui icon" data-icon="instagram_logo" />
      <img class="ui icon" data-icon="twitter_logo" />
      <img class="ui icon" data-icon="web_logo" />
      <img class="ui icon" data-icon="telegram_logo" />
      <img class="ui icon" data-icon="research" />
      <img class="ui icon" data-icon="right_arrow" />
      <img class="ui icon" data-icon="website" />
    </div>
    <script src="../../library/javascript/components/icon-library.js"></script>
  </body>
</html>
