<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
</head>
<body class="light">
    <div class="ui icon-card">
        <div class="flex">
            <div class="individual-card">
                <img class="ui icon" data-icon="research" />
                <div class="text">
                    <p>Development of application software for offline and online applications</p>
                </div>
            </div>
            <div class="individual-card">
                <img class="ui icon" data-icon="research" />
                <div class="text">
                    <p>Development of application software for offline and online applications</p>
                </div>
            </div>
            <div class="individual-card">
                <img class="ui icon" data-icon="research" />
                <div class="text">
                    <p>Development of application software for offline and online applications</p>
                </div>
            </div>
        </div>
    </div>
    <script src="../../library/javascript/components/icon-library.js"></script>
    <script src="../../library/javascript/components/icon-library.js"></script>
</body>
</html>