<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Full Width Container</title>
  </head>

  <body class="dark">
    IFrame
    <hr />
    <div class="ui sixty-forty-container">
      <div class="first">
        <div class="ui section-heading">IFrame Big</div>
        <iframe
          class="ui iframe"
          src="https://www.youtube.com/embed/2JWF-H5tHVo?controls=0"
          title="Some Title"
        ></iframe>
      </div>
      <div class="second">
        <div class>
          <div class="ui section-heading">IFrame Small</div>
          <iframe
            class="ui iframe"
            src="https://www.youtube.com/embed/2JWF-H5tHVo?controls=0"
            title="Some Title"
          ></iframe>
        </div>
      </div>
    </div>
  </body>
</html>
