<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="../../library/css/index.css" />
  <title>Document</title>
</head>

<body class="dark">
  <div class="ui full-width-container">
    <div class="ui image-description-card">
      <div class="ui image">
        <img
          src="../assets/images/iitroorkee.jpg"
          alt="image" />
      </div>
      <div class="info">
        <div class="ui section-heading" onclick="document.location='#'">
          sec 1
        </div>
        <div class="ui description left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>

  </div>
  <div class="ui full-width-container"> 
    <div class="ui slider">
      <div class="ui image-description-card">
        <div class="ui image">
          <img
            src="../assets/images/image_desc_card.png"
            alt="image" />
        </div>
        <div class="info">
          <div class="ui section-heading" onclick="document.location='#'">
            sec 1
          </div>
          <div class="ui description left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>

      <div class="ui image-description-card">
        <div class="ui image">
          <img
            src="../assets/images/image_desc_card.png"
            alt="image" />
        </div>
        <div class="info">
          <div class="ui section-heading" onclick="document.location='#'">
            sec 2
          </div>
          <div class="ui description left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>

      <div class="ui image-description-card">
        <div class="ui image">
          <img
            src="../assets/images/image_desc_card.png"
            alt="image" />
        </div>
        <div class="info">
          <div class="ui section-heading" onclick="document.location='#'">
            sec 3
          </div>
          <div class="ui description left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>

      <div class="ui image-description-card">
        <div class="ui image">
          <img
            src="../assets/images/image_desc_card.png"
            alt="image" />
        </div>
        <div class="info">
          <div class="ui section-heading" onclick="document.location='#'">
            sec 4
          </div>
          <div class="ui description left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>

      <div class="ui image-description-card">
        <div class="ui image">
          <img
            src="../assets/images/image_desc_card.png"
            alt="image" />
        </div>
        <div class="info">
          <div class="ui section-heading" onclick="document.location='#'">
            sec 5
          </div>
          <div class="ui description left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../../library/javascript/components/slider.js"></script>
</body>

</html>
