<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Image component</title>
  </head>
  <body class="dark">
    <div>
      Normal image component
      <div>
        <div class="ui image">
          <img src="../assets/images/faculty.png" alt="image" />
        </div>
        <div class="ui image">
          <img src="../assets/images/iitroorkee.jpg" alt="image" />
        </div>
      </div>
    </div>
    <br />
    <div>
      Full width image component
      <br />
      <br />
      <div>
        Image 1
        <br />
        <br />
        <div class="ui image fluid">
          <img src="../assets/images/image-accordion/I1.png" alt="image" />
        </div>
      </div>
      <br />
      <div>
        Image 2
        <br />
        <br />
        <div class="ui image fluid">
          <img src="../assets/images/iitroorkee.jpg" alt="image" />
        </div>
      </div>
    </div>
  </body>
</html>
