<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../library/css/index.css" />
  <title>Document</title>
</head>

<body class="light">
  <div class="ui sixty-forty-container">
    <div class="first">
      <div class="ui slider">
        <div class="ui image-card">
          <div class="ui image">
            <img src="../assets/images/image-card-content.png" />
          </div>
          <div class="content">
            <div class="ui sub-heading">
              1 Study of Gait and Circulation Analysis Work
            </div>
            <div class="ui intro-text">
              Study of Gait and Circulation Analysis Work and Spaces for
              Architecture irculation Analysis Work
            </div>
            <a class="ui button" href="#"> READ MORE </a>
          </div>
        </div>

        <div class="ui image-card">
          <div class="ui image">
            <img src="../assets/images/image-card-content.png" />
          </div>
          <div class="content">
            <div class="ui sub-heading">
              2 Study of Gait and Circulation Analysis Work
            </div>
            <div class="ui intro-text">
              Study of Gait and Circulation Analysis Work and Spaces for
              Architecture irculation Analysis Work
            </div>
            <a class="ui button" href="#"> READ MORE </a>
          </div>
        </div>

        <div class="ui image-card">
          <div class="ui image">
            <img src="../assets/images/image-card-content.png" />
          </div>
          <div class="content">
            <div class="ui sub-heading">
              3 Study of Gait and Circulation Analysis Work
            </div>
            <div class="ui intro-text">
              Study of Gait and Circulation Analysis Work and Spaces for
              Architecture irculation Analysis Work
            </div>
            <a class="ui button" href="#"> READ MORE </a>
          </div>
        </div>
        <div class="ui image-card">
          <div class="ui image">
            <img src="../assets/images/image-card-content.png" />
          </div>
          <div class="content">
            <div class="ui sub-heading">
              4 Study of Gait and Circulation Analysis Work
            </div>
            <div class="ui intro-text">
              Study of Gait and Circulation Analysis Work and Spaces for
              Architecture irculation Analysis Work
            </div>
            <a class="ui button" href="#"> READ MORE </a>
          </div>
        </div>
      </div>
    </div>
    <div class="second">
      <div class="title-bar">
        <div class="ui section-heading">SECTION HEADING</div>
        <div class="ui link blue">
          <a href="#" class="link-content">EXPLORE MORE</a>
        </div>
      </div>
      <div class="ui description left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
  <div class="ui full-width-container">
    <div class="ui slider">
      <div class="ui image-card" onclick="{window.location = '#'}">
        <div class="ui image">
          <img src="../assets/images/image-card-2.png" />
        </div>
        <div class="content">
          <div class="ui section-heading">
            Student Groups
          </div>
          <div class="ui intro-text">
            Study of Gait and Circulation Analysis Work and Spaces for
            Architecture irculation Analysis Work
          </div>
        </div>
      </div>
      <div class="ui image-card" onclick="{window.location = '#'}">
        <div class="ui image">
          <img src="../assets/images/image-card-2.png" />
        </div>
        <div class="content">
          <div class="ui section-heading">
            Student Groups
          </div>
          <div class="ui intro-text">
            Study of Gait and Circulation Analysis Work and Spaces for
            Architecture irculation Analysis Work
          </div>
          <a class="ui button" href="#"> READ MORE </a>
        </div>
      </div>
      <div class="ui image-card" onclick="{window.location = '#'}">
        <div class="ui image">
          <img src="../assets/images/image-card-2.png" />
        </div>
        <div class="content">
          <div class="ui section-heading">
            StudentGroupsStudentGroupsStudentGroupsStudentGroupsStudentGroupsStudentGroupsStudentGroupsStudentGroupsStudentGroups
          </div>
          <div class="ui intro-text">
            StudyofGaitandCirculationAnalysisWorkandSpacesfor
            ArchitectureirculationAnalysisWorkArchitectureirculationAnalysisWork
            ArchitectureirculationAnalysisWorkArchitectureirculationAnalysisWork
          </div>
          <a class="ui button" href="#"> READ MORE </a>
        </div>
      </div>
    </div>
  </div>

  <div class="ui full-width-container">
    <div class="ui slider">
      <div class="ui mini-image-card">
        <div class="ui image">
          <img src="../assets/images/Academics-1-450x350.jpg" />
        </div>
        <div class="caption">
          Academic Affairs Association
        </div>
      </div>
      <div class="ui mini-image-card">
        <div class="ui image">
          <img src="../assets/images/Academics-1-450x350.jpg" />
        </div>
        <div class="caption">
          Admistrations
        </div>
      </div>
      <div class="ui mini-image-card">
        <div class="ui image">
          <img src="../assets/images/Academics-1-450x350.jpg" />
        </div>
        <div class="caption">
          Faculty Affairs
        </div>
      </div>
      <div class="ui mini-image-card">
        <div class="ui image">
          <img src="../assets/images/Academics-1-450x350.jpg" />
        </div>
        <div class="caption">
          Academic Affairs Association 2
        </div>
      </div>
      <div class="ui mini-image-card">
        <div class="ui image">
          <img src="../assets/images/Academics-1-450x350.jpg" />
        </div>
        <div class="caption">
          Academic Affairs Association 3
        </div>
      </div>
      <div class="ui mini-image-card">
        <div class="ui image">
          <img src="../assets/images/Academics-1-450x350.jpg" />
        </div>
        <div class="caption">
          Academic Affairs Association 4
        </div>
      </div>

    </div>
  </div>
  <script src="../../library/javascript/components/slider.js"></script>
  <script src="../../library/javascript/components/image-card.js"></script>
</body>

</html>