<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
</head>

<body class="light">
    <div class="ui link">
        <div class="button">
            <div>
                <button class="button link" data-target="https://www.google.com/">GO TO ADMISSIONS</button>
            </div>
        </div>
        <div class="text">
            <div>
                <p class="text link" data-target="https://www.google.com/">Read More</p>
            </div>
        </div>
    </div>
    <script src="../../library/javascript/components/link.js"></script>
</body>

</html>