<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
  </head>

  <body class="light">
    <!-- Arrow Link -->
    <div class="ui link arrow-link">
      <a href="#" class="link-content">EXPLORE MORE</a>
    </div>
    <div class="ui link arrow-link inverted">
      <a href="#" class="link-content">EXPLORE MORE</a>
    </div>
    <div class="ui link arrow-link blue">
      <a href="#" class="link-content">EXPLORE MORE</a>
    </div>
    <!-- Text Link -->
    <div class="ui link">
      <a href="#" class="link-content">EXPLORE MORE</a>
    </div>
    <div class="ui link inverted">
      <a href="#" class="link-content">EXPLORE MORE</a>
    </div>
    <div class="ui link blue">
      <a href="#" class="link-content">EXPLORE MORE</a>
    </div>
    <br />
    <!-- Button Link -->
    <a class="ui button" href="#"> GO TO ADMISSIONS </a>
    <a class="ui button inverted">GO TO ADMISSIONS</a>
    <br />
    <br />
    <div class="group-button">
      <a class="ui button" href="#"> GO TO ADMISSIONS </a>
      <a class="ui button inverted">GO TO ADMISSIONS</a>
    </div>
    <!-- InLine Link -->
    <span class = "ui link inline blue">  
      <a class="link-content" href="#">Inline link</a>
    </span>
  

    <!-- <script  src="../../library/javascript/components/icon-library.js"></script> -->
    <script src="../../library/javascript/components/link.js"></script>
  </body>
</html>
