<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
  </head>

  <body class="light">
    <div class="ui link">
      <div class="button">
        <div>
          <a href="https://www.google.com/"
            ><button class="button-link">GO TO ADMISSIONS</button></a
          >
        </div>
      </div>
      <div class="text">
        <div>
          <a class="text-link" href="https://www.google.com/">
            <p>Read More</p>
          </a>
        </div>
      </div>
      <div>
        <div class="arrow-link">
          <a class="arrowlink-text" href="https://www.google.com">
            <p>Arrow link</p>
          </a>
        </div>
        <img class="ui icon" data-icon="arrow" />
      </div>
      <div class="group-button">
        <span>
          <a href="https://www.google.com/"
            ><button class="light-group-button-link">
              GO TO ADMISSIONS
            </button></a
          >
        </span>
        <span>
          <a href="https://www.google.com/"
            ><button class="dark-group-button-link">GO TO ADMISSIONS</button></a
          >
        </span>
      </div>
    </div>
    <script src="../../library/javascript/components/icon-library.js"></script>
  </body>
</html>
