<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen and (max-width: 1000px)" href="../../library/css/components/menu/menu_phone.css">
    <link rel="stylesheet" media="screen and (min-width: 1024px)" href="../../library/css/components/menu/menu_test.css">
    <title>Menu</title>
</head>

<body>
    <div class="menuContainer">

        <div id="hamBurger">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32px" height="21px" viewBox="0 0 32 21" version="1.1">
                <g id="surface1">
                    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"
                        d="M 0 16.960938 L 0 20.191406 L 32 20.191406 L 32 16.960938 Z M 0 8.882812 L 0 12.117188 L 32 12.117188 L 32 8.882812 Z M 0 0.808594 L 0 4.039062 L 32 4.039062 L 32 0.808594 Z M 0 0.808594 " />
                </g>
            </svg>
        </div>

        <div class="menuWrapper">
            <nav class="blue">
                <ul>
                    <div class="menuSpecialNode">
                        <a href="/institute/pages/The_Institute.html">
                            <span>Institute</span>
                            <img class="ui icon dropdown-icon" data-icon="dropdown">
                        </a>
                    </div>
                    <div class="menuInnerContainer">
                        <ul>
                            <li class="menuParentNode">
                                <a>
                                    <span>About The Institute</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/institute/pages/about.html">About</a>
                                    </li>
                                    <li>
                                        <a href="/institute/pages/Institute_Time_Capsule.html">
                                            Institute Time Capsule
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/institute/pages/IITR_By_Numbers.html">
                                            IITR By Numbers
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/institute/pages/Governing_Actshtml">
                                            Governing Acts
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/institute/pages/Luminaries.html">
                                            Luminaries
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/institute/pages/How+To+Reach+Geography+Weather.html">
                                            How To Reach and Geography-Weather
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/institute/pages/newsroom.html">Newsroom</a>
                            </li>
                            <li>
                                <a href="/institute/pages/International_Relations.html">
                                    International Relations
                                </a>
                            </li>
                            <li>
                                <a href="/institute/pages/Alumini_Relations.html">
                                    Alumini Relations
                                </a>
                            </li>
                            <li>
                                <a href="/institute/pages/Convocation.html">
                                    Convocation
                                </a>
                            </li>
                            <li>
                                <a href="/institute/pages/Gallery.html">
                                    Gallery
                                </a>
                            </li>
                        </ul>
                    </div>
                </ul>
                <ul>
                    <div class="menuSpecialNode">
                        <a href="/admissions/pages/Admissions.html">
                            <span>Admissions</span>
                            <img class="ui icon dropdown-icon" data-icon="dropdown">
                        </a>
                    </div>
                    <div class="menuInnerContainer">
                        <ul>
                            <li class="menuParentNode">
                                <a>
                                    <span>UG Admissions</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/admissions/pages/procedure.html">Procedure</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/quick+links.html">
                                            Quick Links
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/Student+List+Present+Strength.html">
                                            Student List and Present Strength
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/contact.html">
                                            Contact
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/faq.html">
                                            FAQs
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menuParentNode">
                                <a>
                                    <span>PG Admissions</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/admissions/pages/procedure.html">Procedure</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">NoticeBoard</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/present+strength.html">Present Strength</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/contact.html">
                                            Contact
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/faq.html">
                                            FAQs
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menuParentNode">
                                <a>
                                    <span>PHD Admissions</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/admissions/pages/procedure.html">Procedure</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">NoticeBoard</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/present+strength.html">Present Strength</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/contact.html">
                                            Contact
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/faq.html">
                                            FAQs
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/institute/pages/newsroom.html">For Prospective Students</a>
                            </li>
                        </ul>
                    </div>
                </ul>
                <ul>
                    <div class="menuSpecialNode">
                        <a href="/admissions/pages/Admissions.html">
                            <span>Administration</span>
                            <img class="ui icon dropdown-icon" data-icon="dropdown">
                        </a>
                    </div>
                    <div class="menuInnerContainer">
                        <ul>
                            <li>
                                <a>Overview</a>
                            </li>
                            <li class="menuParentNode">
                                <a>
                                    <span>Administrative Positions</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/admissions/pages/procedure.html">DAPC Student Reps</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">Estate and Works</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/present+strength.html">Institute Central Council</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/contact.html">
                                            Institute Administration
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/faq.html">
                                            Senate
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/faq.html">
                                            SAC
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menuParentNode">
                                <a>
                                    <span>Organization</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/admissions/pages/procedure.html">IIT Council</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">Board Of Governors</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/present+strength.html">Finance Committee</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/contact.html">
                                            Building and It's Works
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/administration/pages/newsroom.html">Jop openings</a>
                            </li>
                            <li>
                                <a href="/administration/pages/newsroom.html">Deans Structure</a>
                            </li>
                            <li>
                                <a href="/administration/pages/newsroom.html">Resource</a>
                            </li>
                        </ul>
                    </div>
                </ul>
                <ul>
                    <div class="menuSpecialNode">
                        <a href="/admissions/pages/Admissions.html">
                            <span>Departments</span>
                            <img class="ui icon dropdown-icon" data-icon="dropdown">
                        </a>
                    </div>
                    <div class="menuInnerContainer">
                        <ul>
                            <li class="menuParentNode">
                                <a>
                                    <span>About Us</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/departments/pages/procedure.html">History</a>
                                    </li>
                                    <li>
                                        <a href="/departments/pages/quick+links.html">
                                            HOD's Corner
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/departments/pages/Student+List+Present+Strength.html">
                                            Facilities
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/departments/pages/contact.html">
                                            Gallery
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/departments/pages/faq.html">
                                            Contact/ Reach Us
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menuParentNode">
                                <a>
                                    <span>Announcements</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/departments/pages/procedure.html">What's New? NoticeBoard</a>
                                    </li>
                                    <li>
                                        <a href="/departments/pages/noticeboard.html">Newsroom</a>
                                    </li>
                                    <li>
                                        <a href="/departments/pages/present+strength.html">Join Us/ Job Offers</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menuParentNode">
                                <a>
                                    <span>Academics</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/admissions/pages/procedure.html">Timetables</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">Programmes</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/present+strength.html">Structure</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/contact.html">
                                            Calendar
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/faq.html">
                                            Courses
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/faq.html">
                                            Course coordinator / TA's
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menuParentNode">
                                <a>
                                    <span>People</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/admissions/pages/procedure.html">Faculty</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">Students</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/present+strength.html">Staff</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/contact.html">
                                            Visitors
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/faq.html">
                                            Alumni
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/faq.html">
                                            International Students
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menuParentNode">
                                <a>
                                    <span>Activities</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/admissions/pages/procedure.html">Department Groups</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">Initiatives</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menuParentNode">
                                <a>
                                    <span>Highlights</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/admissions/pages/procedure.html">Showcase</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">Achievements</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">Awards / Recoginition</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menuParentNode">
                                <a>
                                    <span>Research</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/admissions/pages/procedure.html">Laboratory Pages</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">Research Scholars</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">Departmental Projects</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">Major Search Areas</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menuParentNode">
                                <a>
                                    <span>Miscellaneous</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/admissions/pages/procedure.html">Resources</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">Quick Downloads</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Placement Stats</a>
                            </li>
                        </ul>
                    </div>
                </ul>
                <ul>
                    <div class="menuSpecialNode">
                        <a href="/academics/pages/Admissions.html">
                            <span>Academics</span>
                            <img class="ui icon dropdown-icon" data-icon="dropdown">
                        </a>
                    </div>
                    <div class="menuInnerContainer">
                        <ul>
                            <li class="menuParentNode">
                                <a>
                                    <span>About</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/academics/pages/procedure.html">Program Overview</a>
                                    </li>
                                    <li>
                                        <a href="/academics/pages/quick+links.html">
                                            Stats
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>NoticeBoard</a>
                            </li>
                            <li class="menuParentNode">
                                <a>
                                    <span>Calendar</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/admissions/pages/procedure.html">List Of holidays</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">Exam Schedules</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Course Structure</a>
                            </li>
                            <li>
                                <a>Fee Structure</a>
                            </li>
                            <li>
                                <a>Programme List</a>
                            </li>
                            <li>
                                <a>Quick Downloads</a>
                            </li>
                            <li>
                                <a>Centres</a>
                            </li>
                            <li class="menuParentNode">
                                <a>
                                    <span>Resources For All</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/admissions/pages/procedure.html">Transcripts</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/procedure.html">NPTEL</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/procedure.html">Presentation Template</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/procedure.html">NAD</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </ul>
                <ul>
                    <div class="menuSpecialNode">
                        <a href="/academics/pages/Admissions.html">
                            <span>Campus Life</span>
                            <img class="ui icon dropdown-icon" data-icon="dropdown">
                        </a>
                    </div>
                    <div class="menuInnerContainer">
                        <ul>
                            <li class="menuParentNode">
                                <a>
                                    <span>Overview</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">Student Voices</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">Recent Activities</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Hostel Life</a>
                            </li>
                            <li>
                                <a>Guest House</a>
                            </li>
                            <li>
                                <a>Student Groups</a>
                            </li>
                            <li>
                                <a>Clubs</a>
                            </li>
                            <li>
                                <a>Sports</a>
                            </li>
                            <li>
                                <a>Students Govrnance</a>
                            </li>
                            <li>
                                <a>Student Festivals</a>
                            </li>
                            <li>
                                <a>Facilities</a>
                            </li>
                            <li>
                                <a>Health and Well Being</a>
                            </li>
                            <li>
                                <a>Fresher's FAQ</a>
                            </li>
                            <li>
                                <a>Map and Telephone Directory</a>
                            </li>
                        </ul>
                    </div>
                </ul>
                <ul>
                    <div class="menuSpecialNode">
                        <a href="/academics/pages/Admissions.html">
                            <span>Research</span>
                            <img class="ui icon dropdown-icon" data-icon="dropdown">
                        </a>
                    </div>
                    <div class="menuInnerContainer">
                        <ul>
                            <li class="menuParentNode">
                                <a>
                                    <span>Industrial Research</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">SRIC Intro</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">Industrial Collaboration</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">Professional Chair</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">
                                            Organization Lit under Dean
                                            SRIC
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">Contact Us</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menuParentNode">
                                <a>
                                    <span>Departmental Research</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">Centers</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">Departments: Major Areas</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </ul>
                <ul>
                    <div class="menuSpecialNode">
                        <a href="/academics/pages/Admissions.html">
                            <span>Resources</span>
                            <img class="ui icon dropdown-icon" data-icon="dropdown">
                        </a>
                    </div>
                    <div class="menuInnerContainer ">
                        <ul>
                            <li class="menuParentNode ">
                                <a>
                                    <span>Administrative</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/academics/pages/procedure.html">Tenders</a>
                                    </li>
                                    <li>
                                        <a href="/academics/pages/quick+links.html">Quotations</a>
                                    </li>
                                    <li>
                                        <a href="/academics/pages/procedure.html">RTI</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Academic</a>
                            </li>
                            <li class="menuParentNode ">
                                <a>
                                    <span>Funds Transfer</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/admissions/pages/procedure.html">Payment Gateway</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">Online Fee Deposit</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menuParentNode ">
                                <a>
                                    <span>Initiatives and Foundations</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/academics/pages/procedure.html">Green Campus Initiative</a>
                                    </li>
                                    <li>
                                        <a href="/academics/pages/quick+links.html">Social Initiatives</a>
                                    </li>
                                    <li>
                                        <a href="/academics/pages/procedure.html">IITR Heritage Foundation</a>
                                    </li>
                                    <li>
                                        <a href="/academics/pages/procedure.html">IITR Foundation</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menuParentNode ">
                                <a>
                                    <span>Internal Committees</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/admissions/pages/procedure.html">Internal Audit</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">Internal Complaints Council</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Miscellaneous</a>
                            </li>
                            <li>
                                <a>Library</a>
                            </li>
                            <li class="menuParentNode ">
                                <a>
                                    <span>Healthcare</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/admissions/pages/procedure.html">COVID Measures</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">IITR Hospital</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menuParentNode ">
                                <a>
                                    <span>Services and Support</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/admissions/pages/procedure.html">Webmail</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/procedure.html">Internet Support</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/procedure.html">MS Teams Online Support</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Budding startups from IITR</a>
                            </li>
                            <li class="menuParentNode ">
                                <a>
                                    <span>For Alumni</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/academics/pages/procedure.html">Alumni Portals</a>
                                    </li>
                                    <li>
                                        <a href="/academics/pages/quick+links.html">Pan IIT</a>
                                    </li>
                                    <li>
                                        <a href="/academics/pages/procedure.html">Samvaad</a>
                                    </li>
                                    <li>
                                        <a href="/academics/pages/procedure.html">Campus Diary</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </ul>

                <ul>
                    <div class="menuSpecialNode">
                        <a href="/academics/pages/Admissions.html">
                            <span>Placements</span>
                            <img class="ui icon dropdown-icon" data-icon="dropdown">
                        </a>
                    </div>
                    <div class="menuInnerContainer endInnerContainer">
                        <ul>
                            <li class="menuParentNode endHorizontal">
                                <a>
                                    <span>Overview</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/academics/pages/procedure.html">About</a>
                                    </li>
                                    <li>
                                        <a href="/academics/pages/quick+links.html">Directors message</a>
                                    </li>
                                    <li>
                                        <a href="/academics/pages/procedure.html">Invitation Message</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menuParentNode endHorizontal">
                                <a>
                                    <span>Placement Procedure</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/academics/pages/procedure.html">Invitation</a>
                                    </li>
                                    <li>
                                        <a href="/academics/pages/quick+links.html">Policy</a>
                                    </li>
                                    <li>
                                        <a href="/academics/pages/procedure.html">Procedure</a>
                                    </li>
                                    <li>
                                        <a href="/academics/pages/procedure.html">Job Announcement Form</a>
                                    </li>
                                    <li>
                                        <a href="/academics/pages/procedure.html">Intern Form</a>
                                    </li>
                                    <li>
                                        <a href="/academics/pages/procedure.html">Downloads and Guidelines</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menuParentNode endHorizontal">
                                <a>
                                    <span>Why Recruit?</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/academics/pages/procedure.html">Principles</a>
                                    </li>
                                    <li>
                                        <a href="/academics/pages/quick+links.html">Students</a>
                                    </li>
                                    <li>
                                        <a href="/academics/pages/procedure.html">Faculty</a>
                                    </li>
                                    <li>
                                        <a href="/academics/pages/procedure.html">Alumni</a>
                                    </li>
                                    <li>
                                        <a href="/academics/pages/procedure.html">Research and Development</a>
                                    </li>
                                    <li>
                                        <a href="/academics/pages/procedure.html">Extra-curricular</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menuParentNode endHorizontal">
                                <a>
                                    <span>Placement Anaylisis</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/admissions/pages/procedure.html">Our recruiters</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">Over the years</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>FAQs</a>
                            </li>
                            <li>
                                <a>Contact Us</a>
                            </li>
                            <li class="menuParentNode endHorizontal">
                                <a>
                                    <span>More About IITR</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/admissions/pages/procedure.html">Academics</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/procedure.html">Facilities</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/procedure.html">Institute</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Scholarships, Prizes and Awards</a>
                            </li>
                        </ul>
                    </div>
                </ul>
                <ul>
                    <div class="menuSpecialNode">
                        <a href="/academics/pages/Admissions.html">
                            <span>Careers</span>
                            <img class="ui icon dropdown-icon" data-icon="dropdown">
                        </a>
                    </div>
                    <div class="menuInnerContainer endInnerContainer">
                        <ul>
                            <li>
                                <a>Intern@IITR</a>
                            </li>
                            <li>
                                <a>Faculty Positions</a>
                            </li>
                            <li class="menuParentNode endHorizontal">
                                <a>
                                    <span>Other Job Openings</span>
                                    <img class="ui icon dropdown-icon" data-icon="dropdown">
                                </a>
                                <ul class="menuParentNodeUL">
                                    <li>
                                        <a href="/admissions/pages/procedure.html">Project Jobs</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">PHD Positions</a>
                                    </li>
                                    <li>
                                        <a href="/admissions/pages/noticeboard.html">Non-Teaching Jobs</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Recruitment Exam Archives</a>
                            </li>
                            <li>
                                <a>FAQ's</a>
                            </li>
                        </ul>
                    </div>
                </ul>
            </nav>
        </div>
    </div>
    <script src="../../library/javascript/components/menu_test.js"></script>
    <script src="../../library/javascript/components/icon-library.js"></script>
</body>

</html>