<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/components/index.css" />
    <title>Menu</title>
</head>

<body class="light">
    <div class="menuContainer">
        <div id="hamBurger">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32px"
                height="21px" viewBox="0 0 32 21" version="1.1">
                <g id="surface1">
                    <path style="
                stroke: none;
                fill-rule: nonzero;
                fill: rgb(0%, 0%, 0%);
                fill-opacity: 1;
              " d="M 0 16.960938 L 0 20.191406 L 32 20.191406 L 32 16.960938 Z M 0 8.882812 L 0 12.117188 L 32 12.117188 L 32 8.882812 Z M 0 0.808594 L 0 4.039062 L 32 4.039062 L 32 0.808594 Z M 0 0.808594 ">
                    </path>
                </g>
            </svg>
        </div>
        <div class="ui flexbox">
            <div class="menuItem">
                <a href="#">
                    <div class="ui icon-typography">
                        <div class="ui intro-text">
                            Institute
                        </div>
                        <img data-icon="dropdown" class="ui icon">

                        </img>
                    </div>
                </a>

                <ul>
                    <div class="menuItem">
                        <a href="#">
                            <div class="ui icon-typography">
                                <div class="ui intro-text">
                                    About The Institute
                                </div>
                                <img data-icon="dropdown" class="ui icon">

                                </img>
                            </div>
                        </a>
                        <ul>
                            <div class="menuItem">
                                <a href="/institute/pages/about.html">About</a>
                            </div>
                            <div class="menuItem">
                                <a href="/institute/pages/Institute_Time_Capsule.html">
                                    Institute Time Capsule
                                </a>
                            </div>
                            <div class="menuItem">
                                <a href="/institute/pages/IITR_By_Numbers.html">
                                    IITR By Numbers
                                </a>
                            </div>
                            <div class="menuItem">
                                <a href="/institute/pages/Governing_Actshtml">
                                    Governing Acts
                                </a>
                            </div>
                            <div class="menuItem">
                                <a href="/institute/pages/Luminaries.html">
                                    Luminaries
                                </a>
                            </div>
                            <div class="menuItem">
                                <a href="/institute/pages/How+To+Reach+Geography+Weather.html">
                                    How To Reach and Geography-Weather
                                </a>
                            </div>
                        </ul>
                    </div>
                    <div class="menuItem">
                        <a href="/institute/pages/newsroom.html">Newsroom</a>
                    </div>
                    <div class="menuItem">
                        <a href="/institute/pages/International_Relations.html">
                            International Relations
                        </a>
                    </div>
                    <div class="menuItem">
                        <a href="/institute/pages/Alumini_Relations.html">
                            Alumini Relations
                        </a>
                    </div>
                    <div class="menuItem">
                        <a href="/institute/pages/Convocation.html"> Convocation </a>
                    </div>
                    <div class="menuItem">
                        <a href="/institute/pages/Gallery.html"> Gallery </a>
                    </div>
                </ul>
            </div>
            <div class="menuItem">
                <a href="#">
                    <div class="ui icon-typography">
                        <div class="ui intro-text">
                            Institute
                        </div>
                        <img data-icon="dropdown" class="ui icon">

                        </img>
                    </div>
                </a>

                <ul>
                    <div class="menuItem">
                        <a href="#">
                            <div class="ui icon-typography">
                                <div class="ui intro-text">
                                    About The Institute
                                </div>
                                <img data-icon="dropdown" class="ui icon">

                                </img>
                            </div>
                        </a>
                        <ul>
                            <div class="menuItem">
                                <a href="/institute/pages/about.html">About</a>
                            </div>
                            <div class="menuItem">
                                <a href="/institute/pages/Institute_Time_Capsule.html">
                                    Institute Time Capsule
                                </a>
                            </div>
                            <div class="menuItem">
                                <a href="/institute/pages/IITR_By_Numbers.html">
                                    IITR By Numbers
                                </a>
                            </div>
                            <div class="menuItem">
                                <a href="/institute/pages/Governing_Actshtml">
                                    Governing Acts
                                </a>
                            </div>
                            <div class="menuItem">
                                <a href="/institute/pages/Luminaries.html">
                                    Luminaries
                                </a>
                            </div>
                            <div class="menuItem">
                                <a href="/institute/pages/How+To+Reach+Geography+Weather.html">
                                    How To Reach and Geography-Weather
                                </a>
                            </div>
                        </ul>
                    </div>
                    <div class="menuItem">
                        <a href="/institute/pages/newsroom.html">Newsroom</a>
                    </div>
                    <div class="menuItem">
                        <a href="/institute/pages/International_Relations.html">
                            International Relations
                        </a>
                    </div>
                    <div class="menuItem">
                        <a href="/institute/pages/Alumini_Relations.html">
                            Alumini Relations
                        </a>
                    </div>
                    <div class="menuItem">
                        <a href="/institute/pages/Convocation.html"> Convocation </a>
                    </div>
                    <div class="menuItem">
                        <a href="/institute/pages/Gallery.html"> Gallery </a>
                    </div>
                </ul>
            </div>
            <div class="menuItem">
                <a href="#">
                    <div class="ui icon-typography">
                        <div class="ui intro-text">
                            Institute
                        </div>
                        <img data-icon="dropdown" class="ui icon">

                        </img>
                    </div>
                </a>

                <ul>
                    <div class="menuItem">
                        <a href="#">
                            <div class="ui icon-typography">
                                <div class="ui intro-text">
                                    About The Institute
                                </div>
                                <img data-icon="dropdown" class="ui icon">

                                </img>
                            </div>
                        </a>
                        <ul>
                            <div class="menuItem">
                                <a href="/institute/pages/about.html">About</a>
                            </div>
                            <div class="menuItem">
                                <a href="/institute/pages/Institute_Time_Capsule.html">
                                    Institute Time Capsule
                                </a>
                            </div>
                            <div class="menuItem">
                                <a href="/institute/pages/IITR_By_Numbers.html">
                                    IITR By Numbers
                                </a>
                            </div>
                            <div class="menuItem">
                                <a href="/institute/pages/Governing_Actshtml">
                                    Governing Acts
                                </a>
                            </div>
                            <div class="menuItem">
                                <a href="/institute/pages/Luminaries.html">
                                    Luminaries
                                </a>
                            </div>
                            <div class="menuItem">
                                <a href="/institute/pages/How+To+Reach+Geography+Weather.html">
                                    How To Reach and Geography-Weather
                                </a>
                            </div>
                        </ul>
                    </div>
                    <div class="menuItem">
                        <a href="/institute/pages/newsroom.html">Newsroom</a>
                    </div>
                    <div class="menuItem">
                        <a href="/institute/pages/International_Relations.html">
                            International Relations
                        </a>
                    </div>
                    <div class="menuItem">
                        <a href="/institute/pages/Alumini_Relations.html">
                            Alumini Relations
                        </a>
                    </div>
                    <div class="menuItem">
                        <a href="/institute/pages/Convocation.html"> Convocation </a>
                    </div>
                    <div class="menuItem">
                        <a href="/institute/pages/Gallery.html"> Gallery </a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</body>
<script src="../../library/javascript/components/menu2.js"></script>
<script src="../../library/javascript/components/icon-library.js"></script>

</html>