<!DOCTYPE html>
<html lang="">

<head class="">
	<meta name="title" content="Home" />

	<meta name="description" content="Home" />

	<meta name="keywords" />

	<meta name="twitter:title" content="Home" />

	<meta name="twitter:description" content="Home" />

	<meta property="og:title" content="Home" />

	<meta property="og:description" content="Home" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="../../library/css/index.css">
	<title>Home</title>
</head>

<body class="light">
	<div class="ui header department">
		<div class="ui top-nav">
			<div class="accessibility">
				<div class="language">
					<a class="ui link">&#x0939;&#x093F;&#x0928;&#x094D;&#x0926;&#x0940;</a>
					&#9474;<a class="ui link">Eng</a>
				</div>
				<div class="sizechange">
					<div class="small">
						<img class="ui icon" data-icon="text_small" />
					</div>
					<div class="medium">
						<img class="ui icon" data-icon="text_medium" />
					</div>
					<div class="big">
						<img class="ui icon" data-icon="text_big" />
					</div>
				</div>
				<div class="darkmode">
					<div class="light-button" onclick="contrast_light()">A</div>
					<div class="dark-button" onclick="contrast_dark()">A</div>
				</div>
			</div>
			<div class="page-options-serach">
				<div class="page-options">
					<a href="https://iitr.ac.in/calendar/">CALENDAR</a>
					<a href="https://iitr.ac.in/Institute/Contact%20Us.html">CONTACT US</a>
					<a href="https://iitr.ac.in/support/td/">DIRECTORY</a>
				</div>
				<div class="page-search">
					<img class="ui icon" data-icon="search" />
				</div>
			</div>
		</div>

		<div class="ui main-head">
			<div id="hamBurger" class="hamburger-container">
				<img class="ui icon" data-icon="hamburger" />
			</div>
			<div class="heading-section">
				<div class="logo-header">
					<div class="logo-link">
						<a href="https://iitr.ac.in/" class="link-content">
							<img src="https://cmsredesign.channeli.in/library/assets/images/IITR_Logo.svg"
								alt="IIT Roorkee logo" width="100%" /></a>
					</div>
					<div class="g20-logo-department">
						<img onclick='window.open("https://www.g20.org/en/", "_blank")'
							src="https://cmsredesign.channeli.in/library/assets/images/g20-logo.png" alt=""
							width="100%" />
					</div>
				</div>
				<div>
					<a href="https://mt.iitr.ac.in" class="link-content">
						<div class="ui section-heading">
							DEPARTMENT OF METALLURGICAL AND MATERIALS ENGINEERING
						</div>
						<div class="ui sub-heading">
							INDIAN INSTITUTE OF TECHNOLOGY ROORKEE
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>


	<div class="menuContainer">
		<div class="ui flexbox">
			<div class="menuItem">
				<a
					href="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/About Us/About Us.html">
					<div class="ui icon-typography">
						<div class="ui intro-text ">
							About Us
						</div>
						<img data-icon="dropdown" height="" width="" class="ui icon">

						</img>

					</div>
				</a>
				<ul>
					<div class="menuItem">
						<a href="#">
							<div class="ui intro-text ">
								Gallery
							</div>
						</a>

					</div>
					<div class="menuItem">
						<a
							href="https://iitr.ac.in/Departments/Metallurgical%20and%20Materials%20Engineering%20Department/Research/Laboratory%20Pages.html">
							<div class="ui intro-text ">
								Facilities
							</div>
						</a>

					</div>
					<div class="menuItem">
						<a
							href="https://iitr.ac.in/Departments/Metallurgical%20and%20Materials%20Engineering%20Department/People/Faculty/100399.html">
							<div class="ui icon-typography">
								<div class="ui intro-text ">
									HOD's Corner
								</div>
								<img data-icon="dropdown" height="" width="" class="ui icon">

								</img>

							</div>
						</a>

					</div>
					<div class="menuItem">
						<a
							href="https://iitr.ac.in/Departments/Metallurgical%20and%20Materials%20Engineering%20Department/About%20Us/How%20to%20reach%20us.html">
							<div class="ui intro-text ">
								Contact/ Reach Us
							</div>
						</a>

					</div>
				</ul>

			</div>
			<div class="menuItem">
				<a href="#">
					<div class="ui icon-typography">
						<div class="ui intro-text ">
							Announcements
						</div>
						<img data-icon="dropdown" height="" width="" class="ui icon">

						</img>

					</div>
				</a>
				<ul>
					<div class="menuItem">
						<a href="#">
							<div class="ui intro-text ">
								What's New? NoticeBoard
							</div>
						</a>

					</div>
					<div class="menuItem">
						<a href="#">
							<div class="ui intro-text ">
								Newsroom
							</div>
						</a>

					</div>
				</ul>

			</div>
			<div class="menuItem">
				<a href="#">
					<div class="ui icon-typography">
						<div class="ui intro-text ">
							Academics
						</div>
						<img data-icon="dropdown" height="" width="" class="ui icon">

						</img>

					</div>
				</a>
				<ul>
					<div class="menuItem">
						<a
							href="https://iitr.ac.in/Departments/Metallurgical%20and%20Materials%20Engineering%20Department/Academics/Course%20Structure.html">
							<div class="ui icon-typography">
								<div class="ui intro-text ">
									Structure
								</div>
								<img data-icon="dropdown" height="" width="" class="ui icon">

								</img>

							</div>
						</a>

					</div>
					<div class="menuItem">
						<a
							href="https://iitr.ac.in/Departments/Metallurgical%20and%20Materials%20Engineering%20Department/static/Calendar/Calendar_All_Students_exculding_MBA__UG_I_Year_Autumn_Semester_2022-23.pdf">
							<div class="ui icon-typography">
								<div class="ui intro-text ">
									Calendar
								</div>
								<img data-icon="dropdown" height="" width="" class="ui icon">

								</img>

							</div>
						</a>

					</div>
					<div class="menuItem">
						<a
							href="https://iitr.ac.in/Departments/Metallurgical%20and%20Materials%20Engineering%20Department/Academics/Exam%20Schedule.html">
							<div class="ui intro-text ">
								Exams
							</div>
						</a>

					</div>
					<div class="menuItem">
						<a
							href="https://iitr.ac.in/Departments/Metallurgical%20and%20Materials%20Engineering%20Department/Academics/Time%20Table.html">
							<div class="ui icon-typography">
								<div class="ui intro-text ">
									Timetables
								</div>
								<img data-icon="dropdown" height="" width="" class="ui icon">

								</img>

							</div>
						</a>

					</div>
					<div class="menuItem">
						<a
							href="https://iitr.ac.in/Departments/Metallurgical%20and%20Materials%20Engineering%20Department/static/TA/TA_duty_PhDM.Tech._Autumn_2021-22_updated_on_31-07-2022.xlsx">
							<div class="ui icon-typography">
								<div class="ui intro-text ">
									TA Duties
								</div>
								<img data-icon="dropdown" height="" width="" class="ui icon">

								</img>

							</div>
						</a>

					</div>
				</ul>

			</div>
			<div class="menuItem">
				<a href="#">
					<div class="ui icon-typography">
						<div class="ui intro-text ">
							People
						</div>
						<img data-icon="dropdown" height="" width="" class="ui icon">

						</img>

					</div>
				</a>
				<ul>
					<div class="menuItem">
						<a
							href="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/People/Faculty/index.html">
							<div class="ui icon-typography">
								<div class="ui intro-text ">
									Faculty
								</div>
								<img data-icon="dropdown" height="" width="" class="ui icon">

								</img>

							</div>
						</a>

					</div>
					<div class="menuItem">
						<a href="#">
							<div class="ui intro-text ">
								Students
							</div>
						</a>

					</div>
					<div class="menuItem">
						<a href="#">
							<div class="ui icon-typography">
								<div class="ui intro-text ">
									Staff
								</div>
								<img data-icon="dropdown" height="" width="" class="ui icon">

								</img>

							</div>
						</a>

					</div>
					<div class="menuItem">
						<a href="#">
							<div class="ui intro-text ">
								Visitors
							</div>
						</a>

					</div>
					<div class="menuItem">
						<a href="#">
							<div class="ui intro-text ">
								Alumni
							</div>
						</a>

					</div>
				</ul>

			</div>
			<div class="menuItem">
				<a href="#">
					<div class="ui icon-typography">
						<div class="ui intro-text ">
							Highlights
						</div>
						<img data-icon="dropdown" height="" width="" class="ui icon">

						</img>

					</div>
				</a>
				<ul>
					<div class="menuItem">
						<a
							href="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/Highlights/Professor M. L. Kapoor Lecture Series.html">
							<div class="ui intro-text ">
								M. L. Kapoor Lecture Series
							</div>
						</a>

					</div>
					<div class="menuItem">
						<a
							href="https://iitr.ac.in/Departments/Metallurgical%20and%20Materials%20Engineering%20Department/Highlights/Metallurgica.html">
							<div class="ui intro-text ">
								Metallurgica
							</div>
						</a>

					</div>
					<div class="menuItem">
						<a href="#">
							<div class="ui intro-text ">
								Achievements
							</div>
						</a>

					</div>
					<div class="menuItem">
						<a href="#">
							<div class="ui intro-text ">
								Awards / Recoginition
							</div>
						</a>

					</div>
				</ul>

			</div>
			<div class="menuItem">
				<a href="#">
					<div class="ui icon-typography">
						<div class="ui intro-text ">
							Research
						</div>
						<img data-icon="dropdown" height="" width="" class="ui icon">

						</img>

					</div>
				</a>
				<ul>
					<div class="menuItem">
						<a
							href="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/Research/Laboratory Pages.html">
							<div class="ui icon-typography">
								<div class="ui intro-text ">
									Laboratory Pages
								</div>
								<img data-icon="dropdown" height="" width="" class="ui icon">

								</img>

							</div>
						</a>

					</div>
					<div class="menuItem">
						<a href="#">
							<div class="ui intro-text ">
								Research Scholars
							</div>
						</a>

					</div>
					<div class="menuItem">
						<a href="#">
							<div class="ui intro-text ">
								Major Search Areas
							</div>
						</a>

					</div>
					<div class="menuItem">
						<a href="#">
							<div class="ui intro-text ">
								Departmental Projects
							</div>
						</a>

					</div>
				</ul>

			</div>
			<div class="menuItem">
				<a href="https://www.iitr.ac.in/Placements/pages/index.html">
					<div class="ui icon-typography">
						<div class="ui intro-text ">
							Placement Stats
						</div>
						<img data-icon="dropdown" height="" width="" class="ui icon">

						</img>

					</div>
				</a>

			</div>
			<div class="menuItem">
				<a href="#">
					<div class="ui icon-typography">
						<div class="ui intro-text ">
							Miscellaneous
						</div>
						<img data-icon="dropdown" height="" width="" class="ui icon">

						</img>

					</div>
				</a>
				<ul>
					<div class="menuItem">
						<a
							href="https://iitr.ac.in/Departments/Metallurgical%20and%20Materials%20Engineering%20Department/Miscellaneous/Forms.html">
							<div class="ui intro-text ">
								Download Forms
							</div>
						</a>

					</div>
				</ul>

			</div>

			<ul class="accessibility-hamburger">
				<li>
					<div>
						<div class="ABox" onclick="contrast_light()">
							<svg width="10" height="11" viewBox="0 0 10 11" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M6.608 7.276L5.033 3.195C4.98633 3.07367 4.93733 2.93367 4.886 2.775C4.83467 2.61167 4.78567 2.439 4.739 2.257C4.641 2.635 4.54067 2.95 4.438 3.202L2.863 7.276H6.608ZM9.436 11H8.386C8.26467 11 8.16667 10.9697 8.092 10.909C8.01733 10.8483 7.96133 10.7713 7.924 10.678L6.986 8.256H2.485L1.547 10.678C1.519 10.762 1.46533 10.8367 1.386 10.902C1.30667 10.9673 1.20867 11 1.092 11H0.042L4.053 0.968999H5.425L9.436 11Z"
									fill="black" />
							</svg>
						</div>
						<div class="ABoxFilled" onclick="contrast_dark()">
							<svg width="10" height="11" viewBox="0 0 10 11" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M6.608 7.276L5.033 3.195C4.98633 3.07367 4.93733 2.93367 4.886 2.775C4.83467 2.61167 4.78567 2.439 4.739 2.257C4.641 2.635 4.54067 2.95 4.438 3.202L2.863 7.276H6.608ZM9.436 11H8.386C8.26467 11 8.16667 10.9697 8.092 10.909C8.01733 10.8483 7.96133 10.7713 7.924 10.678L6.986 8.256H2.485L1.547 10.678C1.519 10.762 1.46533 10.8367 1.386 10.902C1.30667 10.9673 1.20867 11 1.092 11H0.042L4.053 0.968999H5.425L9.436 11Z"
									fill="white" />
							</svg>
						</div>
					</div>
				</li>

				<li>
					<div class="sizechange">
						<div class="small">
							<img class="ui icon" data-icon="text_small" />
						</div>
						<div class="medium">
							<img class="ui icon" data-icon="text_medium" />
						</div>
						<div class="big">
							<img class="ui icon" data-icon="text_big" />
						</div>
					</div>
				</li>
				<li class="language">
					<a>&#x0939;&#x093F;&#x0928;&#x094D;&#x0926;&#x0940;</a>&#9474;<a>Eng</a>
				</li>
			</ul>

			<ul class="contact">
				<li><a href="https://iitr.ac.in/calendar/">Calendar</a></li>
				<li><a href="https://iitr.ac.in/Institute/Contact%20Us.html">Contact Us</a></li>
				<li><a href="https://iitr.ac.in/support/td/">Directory</a></li>
				<li><a href="https://newwebmail.iitr.ac.in/">Webmail</a></li>
			</ul>

		</div>

	</div>
	<div class="ui full-width-container">
		<div class="ui slider">

		</div>
		<div class="ui carousel">
			<div class="ui image fluid">
				<img src="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/assets/08c159cb811c2742199fed6b07c10860a7b8e777515377e20fe0f2d90f230657_Department Front.png"
					alt="Department Front" />

			</div>
			<div class="ui image fluid">
				<img src="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/assets/08c159cb811c2742199fed6b07c10860a7b8e777515377e20fe0f2d90f230657_Logo 60th year.JPG"
					alt="Logo 60 Year" />

			</div>
			<div class="ui image fluid">
				<img src="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/assets/08c159cb811c2742199fed6b07c10860a7b8e777515377e20fe0f2d90f230657_AMPCO 22 Poster.jpg"
					alt="AMPCO 22 Poster" />

			</div>
			<div class="ui image fluid">
				<img src="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/assets/08c159cb811c2742199fed6b07c10860a7b8e777515377e20fe0f2d90f230657_Poster with Speakers.jpg"
					alt="AMPCO Poster with Speakers" />

			</div>
			<div class="ui image fluid">
				<img src="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/assets/08c159cb811c2742199fed6b07c10860a7b8e777515377e20fe0f2d90f230657_HR-TEM.jpeg"
					alt="HR-TEM" />

			</div>
			<div class="ui image fluid">
				<img src="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/assets/08c159cb811c2742199fed6b07c10860a7b8e777515377e20fe0f2d90f230657_fe-sem.jpg"
					alt="FE-SEM" />

			</div>
			<div class="ui image fluid">
				<img src="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/assets/08c159cb811c2742199fed6b07c10860a7b8e777515377e20fe0f2d90f230657_AMPCO Attendance.jfif"
					alt="AMPCO Attendance" />

			</div>
			<div class="ui image fluid">
				<img src="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/assets/08c159cb811c2742199fed6b07c10860a7b8e777515377e20fe0f2d90f230657_4th MLK Lecture.jpg"
					alt="4th MLK Lecture" />

			</div>
			<div class="ui image fluid">
				<img src="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/assets/08c159cb811c2742199fed6b07c10860a7b8e777515377e20fe0f2d90f230657_Thermo Mechanical Simulator.jpg"
					alt="Thermo Mechanical Simulator" />

			</div>

		</div>

	</div>
	<div class="ui full-width-container">
		<div class="ui slider">

		</div>
		<div class="ui carousel">
			<div class="ui image fluid">
				<img src="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/assets/08c159cb811c2742199fed6b07c10860a7b8e777515377e20fe0f2d90f230657_Department Front.png"
					alt="Department Front" />

			</div>
			<div class="ui image fluid">
				<img src="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/assets/08c159cb811c2742199fed6b07c10860a7b8e777515377e20fe0f2d90f230657_Logo 60th year.JPG"
					alt="Logo 60 Year" />

			</div>
			<div class="ui image fluid">
				<img src="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/assets/08c159cb811c2742199fed6b07c10860a7b8e777515377e20fe0f2d90f230657_AMPCO 22 Poster.jpg"
					alt="AMPCO 22 Poster" />

			</div>
			<div class="ui image fluid">
				<img src="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/assets/08c159cb811c2742199fed6b07c10860a7b8e777515377e20fe0f2d90f230657_Poster with Speakers.jpg"
					alt="AMPCO Poster with Speakers" />

			</div>
			<div class="ui image fluid">
				<img src="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/assets/08c159cb811c2742199fed6b07c10860a7b8e777515377e20fe0f2d90f230657_HR-TEM.jpeg"
					alt="HR-TEM" />

			</div>
			<div class="ui image fluid">
				<img src="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/assets/08c159cb811c2742199fed6b07c10860a7b8e777515377e20fe0f2d90f230657_fe-sem.jpg"
					alt="FE-SEM" />

			</div>
			<div class="ui image fluid">
				<img src="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/assets/08c159cb811c2742199fed6b07c10860a7b8e777515377e20fe0f2d90f230657_AMPCO Attendance.jfif"
					alt="AMPCO Attendance" />

			</div>
			<div class="ui image fluid">
				<img src="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/assets/08c159cb811c2742199fed6b07c10860a7b8e777515377e20fe0f2d90f230657_4th MLK Lecture.jpg"
					alt="4th MLK Lecture" />

			</div>
			<div class="ui image fluid">
				<img src="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/assets/08c159cb811c2742199fed6b07c10860a7b8e777515377e20fe0f2d90f230657_Thermo Mechanical Simulator.jpg"
					alt="Thermo Mechanical Simulator" />

			</div>

		</div>

	</div>
	<div class="ui full-width-container">
		<div class="ui title-bar">
			<div class="ui section-heading ">
				NEWSROOM
			</div>
			<div class="ui link">
				<a href="#" class="link-content">

				</a>
			</div>

		</div>
		<div class="ui slider">
			<div class="ui image-card">
				<div class="ui image">
					<img src="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/assets/08c159cb811c2742199fed6b07c10860a7b8e777515377e20fe0f2d90f230657_IL,DL and Tata Steel.jpg"
						alt="There is an image here" />

				</div>
				<div class="content">
					<div class="ui sub-heading ">
						IITR develops 'cancer detector' and transfers its technology to Tata Steel
					</div>
					<div class="ui intro-text ">
						A team of researchers at IIT-Roorkee have developed an easy-to-use breath-based cancer detector
						(BLO). Used for early detection of cancer, it will work on the principles of colorimetry.
					</div>
					<a href="https://timesofindia.indiatimes.com/city/dehradun/researchers-from-iit-roorkee-develop-cancer-detector/articleshow/94951344.cms"
						class="ui button">
						READ MORE
					</a>

				</div>

			</div>
			<div class="ui image-card">
				<div class="ui image">
					<img src="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/assets/08c159cb811c2742199fed6b07c10860a7b8e777515377e20fe0f2d90f230657_iitr_logo.jpg"
						alt="There is an image here" />

				</div>
				<div class="content">
					<div class="ui sub-heading ">
						Ph.D. Admission (Spring Semester) 2022-23
					</div>
					<div class="ui intro-text ">
						Please check here for updates and details
					</div>
					<a href="https://iitr.ac.in/Departments/Metallurgical%20and%20Materials%20Engineering%20Department/Activities/Ph.%20D.%20Admission.html"
						class="ui button">
						READ MORE
					</a>

				</div>

			</div>
			<div class="ui image-card">
				<div class="ui image">
					<img src="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/assets/08c159cb811c2742199fed6b07c10860a7b8e777515377e20fe0f2d90f230657_thermo calc workshop5.jpg"
						alt="There is an image here" />

				</div>
				<div class="content">
					<div class="ui sub-heading ">
						Live Training Sessions on Thermo-Calc (21—25 November , 2022)
					</div>
					<div class="ui intro-text ">
						Our department is organising this workshop conducted by Professor K.C. Hari Kumar, Metallurgical
						&amp; Materials Engineering, IIT Madras in collaboration with Thermo-Calc Software AB, Sweden
					</div>
					<a href="https://iitr.ac.in/Departments/Metallurgical%20and%20Materials%20Engineering%20Department/static/Workshop/Thermo-Calc_workshop_21-25_Nov_2022.pdf"
						class="ui button">
						READ MORE
					</a>

				</div>

			</div>

		</div>

	</div>
	<div class="ui full-width-container">
		<div class="ui table-container">
			<form method="post" action="">
				<table class="ui table tadminViewReport">
					<tr class="ui table-row">
						<td class="ui table-head" onClick="sortTable(this)">
							Faculty
						</td>
						<td class="ui table-head" onClick="sortTable(this)">
							Interest Areas
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							Gautam Agarwal
						</td>
						<td class="ui table-value">
							Welding metallurgy, laser welding
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							Varun A Baheti
						</td>
						<td class="ui table-value">
							Electronic Packaging, Galvanised Coatings, Thermoelectrics: Diffusion in Solids, Phase
							Diagrams, Growth Kinetics, Microstructure, Properties
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							Mukesh Bhardwaj
						</td>
						<td class="ui table-value">
							Research methodologies, Automation tools like potentiostat programming, Latex and planning
							tools to do reseach efficiently, Nano grain sized metallic materials, Nano Nickel and Nano
							copper coatings, Nano composites, Nano ceramic metal matrix coating, Weldments, Corrosion
							protection of weldments, Energy materials, Microporous coatings of Nickel for hydrogen
							evolution, Electrocatalysis, Synthesis and characterization of an electrocatalyst for
							hydrogen evolution reaction, Modelling and simulation, Simulation of iron and steel making
							processes
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							G.P. Chaudhari
						</td>
						<td class="ui table-value">
							Aqueous corrosion , Ultra fine grained materials, Solidification processing,
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							Vikram Vasant Dabhade
						</td>
						<td class="ui table-value">
							Metal Matric Composites, Nanocomposites, Machinability, Intermetallics, Sintering Kinetics,
							Mechanical Alloying, Powder Metallurgy
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							B.S. Sundar Daniel
						</td>
						<td class="ui table-value">
							Metal Foam, Nanomaterials, Metal Matrix Composites, Metallic Glasses, Superplasticity
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							Sourav Das
						</td>
						<td class="ui table-value">
							Steel development for:, 1. Automotive application, 2. Armour, 3. Construction;, Study of
							phase transformation with the help of:, 1. ThermoCalc, 2. DICTRA, 3. Modelling;,
							Structure-property correlation of:, 1. Mechanical properties of steel (e.g. tensile,
							fatigue, impact etc), 2. Heat treatment;, Joining of materials, 1. Ferrous, 2. Non-ferrous
							joining
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							Nikhil Dhawan
						</td>
						<td class="ui table-value">
							Mineral Processing, Extractive Metallurgy, Recycling, Microwave processing, Rare earth,
							Electronic waste recycling, CFL, PCB, Lithium ion battery
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							Rajeshwar R. Eleti
						</td>
						<td class="ui table-value">
							Microstructure, Mechanical behavior of materials
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							Sadhan Ghosh
						</td>
						<td class="ui table-value">
							Phase Transformations, Mechanical behaviors, Steel microstructures-property correlation,
							Thermo-Calc and Dictra Simulation
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							Supriyo Ghosh
						</td>
						<td class="ui table-value">
							Computational Materials Science, Phase Transformations, Additive Manufacturing, Materials
							Design
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							Anish Karmakar
						</td>
						<td class="ui table-value">
							Advanced Thermomechanical Processing of Steels and Titanium Alloys, Damage Evaluation of
							Metals and Alloys, Tailor and Design of Steel Microstructure and their Mechanical responses,
							Fatigue Behaviour of Titanium Alloys, Electron Microscopy, Precipitation kinetics,
							Crystallographic texture
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							B.V. Manoj Kumar
						</td>
						<td class="ui table-value">
							Tribology of advanced materials, Processing of Ceramics and Composites, Structure-Property
							Correlations in Advanced Materials
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							Arka Lahiri
						</td>
						<td class="ui table-value">
							Study of Phase-transformations and Mechnical Behaviour using the following Modeling and
							Simulation approaches: 1. Phase-field modeling, 2. Crystal Plasticity, 3. Kinetic Monte
							Carlo, 4. Machine learning, 5. Deep learning and Computer Vision.
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							Indranil Lahiri
						</td>
						<td class="ui table-value">
							Synthesis of Nanomaterials, Carbon Nanotubes, Graphene and other nanomaterials and thin
							films, Electronic Applications of Nanomaterials, Field Emission - application of interface
							engineering and novel geometry, Energy Related Application of Nanomaterials, Carbon
							nanotubes and other nanomaterials as Li-ion battery electrode, Energy harvesters, Sensors
							for healthcare applications
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							Debrupa Lahiri
						</td>
						<td class="ui table-value">
							(1) Biomaterials:, Developing Material systems for Implants, Tissue Engineering and
							Degradable Scaffolds, (2) Multiscale Mechanics and Tribology:, (i) For Structural Materials,
							(ii) Nanomechanics of Biological and 1D/2D Nanomaterials , (3) Composite Material Systems
							with Nanofillers:, For structural and biomedical applications with specific functionalities
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							Sai Ramudu Meka
						</td>
						<td class="ui table-value">
							Surface Engineering - Thermochemical surface treatments for steels, powder metallurgy,
							second-phase dispersion strengthened metal alloys, Solid State Phase Transformation
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							Sumeet Mishra
						</td>
						<td class="ui table-value">
							Computational plasticity, Deformation kinetics analysis using transient mechanical tests,
							Phenomenological modelling using internal variable models, Texture modelling via full field
							and self consistent models, Numerical modelling of precipitation kinetics
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							Suhrit Mula
						</td>
						<td class="ui table-value">
							Preparation of Bulk Nanostructured metals and alloys and nanocomposites, Low stacking fault
							energy materials (Copper based alloys), Development of High strength steel by controlled
							Thermo-mechanical processing, Thermomechanical simulation, multiaxial forging, controlled
							rolling of IF steels, Microalloyed steel, high entropy alloys , Development of cast high
							entropy alloys, Thermodynamics, kinetics and thermal stability of nanostructured materials ,
							Iron based and aluminium-based nanostructured alloys, Mechanical alloying and spark plasma
							sintering, Wear and Corrosion resistance
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							Vivek Pancholi
						</td>
						<td class="ui table-value">
							Crystallographic texture, High temperature deformation, Thermo-mechanical processing,
							Superplasticity and Superplastic Forming, Friction stir processing
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							Ujjwal Prakash
						</td>
						<td class="ui table-value">
							Metallurgical Engineering, Powder metallurgy, steels, high temperature structural materials,
							intermetallics.
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							Devendra Puri
						</td>
						<td class="ui table-value">
							Extractive Metallurgy, High Temperature Oxidation &amp; Corrosion, Extractive Metallurgy,
							High Temperature Oxidation &amp; Corrosion
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							Anjan Sil
						</td>
						<td class="ui table-value">
							Energy Storage Materials , Functional Ceramics
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							K.S. Suresh
						</td>
						<td class="ui table-value">
							Structure - property correlations, Electron Microscopy, Crystallographic Texture,
							Thermo-mechanical processing, Plasticity, Annealing, Advanced Manufacturing methods,
							Additive Manufacturing, Smart Materials, Shape memory alloys, Strutural Materials, Metallic
							multilayers, Ti alloys, Ni base superalloys, Al alloys
						</td>

					</tr>
					<tr class="ui table-row">
						<td class="ui table-value">
							Abhishek Tewari
						</td>
						<td class="ui table-value">
							Computational Materials Science, Materials Informatics, Oxide Thermoelectrics, Halide
							Perovskites
						</td>

					</tr>

				</table>
				<br />
				<br />
				<div class="ui pagination-form">
					<div class="pageNavPosition"></div>
					<div class="select">
						<select class="ui pagination-select listDisplayPerPg" name="listDisplayPerPg"
							onchange="changeNumberOfPages(this)">
							<option value="4">Show:</option>
							<option value="2">2 Entries </option>
							<option value="4">4 Entries </option>
							<option value="6">6 Entries </option>
							<option value="8">8 Entries </option>
							<option value="12">12 Entries</option>
							<option value="all">Show all</option>
						</select>
					</div>
				</div>
			</form>
			<br />
			<br />
		</div>

	</div>
	<div class="ui half-width-container">
		<div style="justify-content:;" class="first white">
			<div class="ui title-bar">
				<div class="ui section-heading ">
					UPCOMING EVENTS
				</div>
				<div class="ui link">
					<a href="#" class="link-content">
						VIEW ALL
					</a>
				</div>

			</div>
			<div class="ui list">
				<div class="listItem">
					<div class="event-item"
						onclick="window.open('https://iitr.ac.in/Departments/Metallurgical%20and%20Materials%20Engineering%20Department/Activities/Ph.%20D.%20Admission.html')">
						<div class="date">
							<div class="ui section-heading">17-18</div>
							<div class="ui sub-heading">November</div>
						</div>
						<div class="info">
							<div class="ui sub-heading ">
								Ph.D. Admission (Spring Semester) 2022-23
							</div>
							<div class="ui one-liner-captions ">
								Written test and interview schedule
							</div>

						</div>

					</div>
				</div>

			</div>

		</div>
		<div style="justify-content:;" class="second blue-grey">
			<div class="ui title-bar">
				<div class="ui section-heading ">
					WHAT'S NEW?
				</div>
				<div class="ui link">
					<a href="#" class="link-content">
						VIEW ALL
					</a>
				</div>

			</div>
			<div class="ui description">
				Dr. Michal Miś, Structural Integrity Engineer, Rolls-Royce, visited the Department at 10:00 am on 25th
				August (Thursday) for discussing the possibility of research collaboration.
			</div>
			<div class="ui description">
				Dr. S.C. Sharma, Former Associate Director, Research and Development, Vikram Sarabhai Space Centre,
				Thiruvananathapuram delivered a talk titled 'Materials for Indian Space Programme : Lab to Launch' on
				28.03.2022 (Monday) at the Seminar Hall, MMED
			</div>
			<div class="ui description">
				Dr. Vivek Srivastava, Sr. Principal Scientist and Head HICSemifab, Aditya Birla Group, Novelis and
				Hindalco delivered a talk titled Abnormal grain growth phenomenon during uniaxial extrusion of highly
				alloyed Al-Cu alloys and control strategies on 21.03.2022 (Monday) at the Seminar Hall, MMED
			</div>

		</div>
	</div>
	<div class="ui full-width-container light-blue">
		<div class="ui title-bar">
			<div class="ui section-heading ">
				SPOTLIGHT
			</div>
			<div class="ui link">
				<a href="#" class="link-content">

				</a>
			</div>

		</div>
		<div class="ui slider">
			<div class="ui mini-image-card"
				onclick="{window.location = 'https://iitr.ac.in/Departments/Metallurgical%20and%20Materials%20Engineering%20Department/Miscellaneous/Forms.html'}">
				<div class="ui image">
					<img src="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/assets/08c159cb811c2742199fed6b07c10860a7b8e777515377e20fe0f2d90f230657_Form-Buttons.png"
						alt="There is an image here" />

				</div>
				<div class="caption">Forms</div>

			</div>
			<div class="ui mini-image-card"
				onclick="{window.location = 'https://iitr.ac.in/Departments/Metallurgical%20and%20Materials%20Engineering%20Department/Highlights/Professor%20M.%20L.%20Kapoor%20Lecture%20Series.html'}">
				<div class="ui image">
					<img src="https://iitr.ac.in/Departments/Metallurgical and Materials Engineering Department/assets/08c159cb811c2742199fed6b07c10860a7b8e777515377e20fe0f2d90f230657_speaker-lecture-icon-simple-style-vector-27185490.jpg"
						alt="There is an image here" />

				</div>
				<div class="caption">Lecture Series</div>

			</div>

		</div>

	</div>
	<div class="ui full-width-container">

	</div>
	<div class="ui full-width-container gradient-blue">
		<div class="ui flexbox">
			<div class="ui stats-card">
				<img data-icon="convo_hat" height="" width="" class="ui icon">

				</img>
				<div class="info">
					<div class="ui sub-heading ">
						500+
					</div>
					<div class="ui one-liner-captions ">
						STUDENTS
					</div>

				</div>

			</div>
			<div class="ui stats-card">
				<img data-icon="lecturer" height="" width="" class="ui icon">

				</img>
				<div class="info">
					<div class="ui sub-heading ">
						25
					</div>
					<div class="ui one-liner-captions ">
						FACULTY MEMBERS
					</div>

				</div>

			</div>
			<div class="ui stats-card">
				<img data-icon="id_card" height="" width="" class="ui icon">

				</img>
				<div class="info">
					<div class="ui sub-heading ">
						15
					</div>
					<div class="ui one-liner-captions ">
						STAFF MEMBERS
					</div>

				</div>

			</div>

		</div>

	</div>
	<div class="ui half-width-container">
		<div style="justify-content:;" class="first">

		</div>
		<div style="justify-content:;" class="second">

		</div>
	</div>
	<div class="footer-container">
		<div class="footer">
			<div class="footer-left">
				<div>
					<img onclick='window.location="https://iitr.ac.in"'
						src="https://cmsredesign.channeli.in/library/assets/images/IITR175.png" class="info-logo" />
				</div>
				<div class="footer-left-wrapper">
					<div class="footer-left-link-icons">
						<div class="footer-left-detail-element">
							<img class="ui icon" data-icon="location" />
							<a class="footer-text"
								href="https://iitr.ac.in/Institute/How%20To%20Reach%20IIT%20Roorkee.html">
								How to reach IIT Roorkee
							</a>
						</div>
						<div class="footer-left-detail-element">
							<img class="ui icon" data-icon="phone" />
							<a class="footer-text" href="tel:+911332285311">
								+91-1332-285311
							</a>
						</div>
						<div class="footer-left-detail-element">
							<img class="ui icon" data-icon="email" />
							<a class="footer-text" href="mailto:registrar@iitr.ac.in">
								registrar@iitr.ac.in
							</a>
						</div>
						<div class="footer-favicons">
							<a class="ui social-icon facebook_icon" href="https://www.facebook.com/IITRoorkee.ICC"></a>
							<a class="ui social-icon youtube_icon"
								href="https://www.youtube.com/@IITRoorkeeOfficialChannel"></a>
							<a class="ui social-icon instagram_icon"
								href="https://www.instagram.com/iitroorkee/?hl=en"></a>
							<a class="ui social-icon linkedin_icon"
								href="https://www.linkedin.com/school/indian-institute-of-technology-roorkee/"></a>
							<a class="ui social-icon twitter_icon" href="https://twitter.com/iitroorkee"></a>
						</div>
					</div>
				</div>
			</div>

			<div class="footer-mid">
				<div class="footer-mid-left">
					<div class="footer-headers">EXPLORE</div>

					<a class="ui link" href="https://iitr.ac.in/Administration/index.html">
						Administration
					</a>
					<a class="ui link" href="http://scsp.iitr.ac.in/">
						Awards and Honours
					</a>
					<a class="ui link" href="https://iitr.ac.in/Departments/index.html">
						Departments
					</a>
					<a class="ui link" href="https://ir.iitr.ac.in/">
						International Students
					</a>
					<a class="ui link" href="http://mm.iitr.ac.in/mmweb/">
						Tenders and Quotations
					</a>
					<a class="ui link" href="https://www.iitr.ac.in/rti/"> RTI </a>
					<a class="ui link" href="https://iitr.ac.in/sric/">
						Industry Consultation
					</a>
				</div>

				<div class="basic footer-mid-right">
					<div class="footer-headers">QUICK ACCESS</div>

					<a class="ui link" href="https://alumni.iitr.ac.in/donate">
						Donate
					</a>
					<a class="ui link" href="https://channeli.in/"> Intranet Portal </a>
					<a class="ui link" href="https://newwebmail.iitr.ac.in/">
						Webmail
					</a>
					<a class="ui link" href="http://ghbooking.iitr.ac.in/">
						Book guest house
					</a>
					<a class="ui link" href="https://www.iitr.ac.in/support/">
						Support @ IITR
					</a>
					<a class="ui link" href="mailto:img@iitr.ac.in"> Give Feedback </a>
					<a class="ui link" href="https://www.iitr.ac.in/internalcomplaintscommittee/">
						ICC
					</a>
				</div>

			</div>
			<div class="basic footer-right">

				<div class="footer-right-top">
					<div class="footer-headers">QUICK LINKS</div>
					<div class="basic footer-right-links">

						<a href="https://www.iitr.ac.in/safety/index.html" class="ui link">
							Safety
						</a>
						<a href="https://iitr.ac.in/security/index.html" class="ui link">
							Security
						</a>

						<a href="https://www.iitr.ac.in/hindicell/index.html" class="ui link">
							Hindi Cell
						</a>


					</div>
					<div class="footer-headers">RANKINGS</div>
					<div class="basic footer-right-links">

						<a href="https://iitr.ac.in/Institute/NIRF.html" class="ui link">
							NIRF
						</a>
						<a href="https://iitr.ac.in/Institute/ARIIA.html" class="ui link">
							ARIIA
						</a>
						<a href="https://www.topuniversities.com/universities/indian-institute-technology-roorkee-iitr"
							class="ui link">
							QS
						</a>
					</div>

				</div>
				<div class="footer-right-bottom">
					<div class="madebylabel">
						Developed by: </br>
						<a href="https://www.iitr.ac.in/team_chakra/" class="ui link">Information Management Group,
							IITR</a>
					</div>
				</div>
			</div>
		</div>

		<div>
			<div class="footer-bottom-flex">
				<div class="footer-accessibility-flex">
					<a href="https://iitr.ac.in/sitemap.txt" class="ui link"> Sitemap </a>
					<div class="ui link">Privacy Policy</div>
					<div class="ui link">Accessibility</div>
				</div>
				<!-- <div class="totalviews">
              Total Pageviews: 12414
          </div> -->
			</div>
			<div class="footer-copyright">
				<div>Copyright 2023, Institute Computer Centre, IIT Roorkee</div>
				<!-- <div class="totalviews" style="color: var(--black);">
              Total Pageviews: 12414
          </div> -->
			</div>
		</div>
	</div>


</body>

<script src="../../library/javascript/components/list.js?rndstr='MM4xJ6BM9Y'"> </script>
<script src="../../library/javascript/components/table.js?rndstr='MM4xJ6BM9Y'"> </script>
<script src="../../library/javascript/components/image-card.js?rndstr='MM4xJ6BM9Y'"> </script>
<script src="../../library/javascript/components/carousel.js"> </script>
<script src="../../library/javascript/components/slider.js?rndstr='MM4xJ6BM9Y'"> </script>
<script src="../../library/javascript/components/search.js?rndstr='MM4xJ6BM9Y'"> </script>
<script src="../../library/javascript/components/menu.js?rndstr='MM4xJ6BM9Y'"> </script>
<script src="../../library/javascript/components/header.js?rndstr='MM4xJ6BM9Y'"> </script>
<script src="../../library/javascript/components/color_change.js?rndstr='MM4xJ6BM9Y'"> </script>
<script src="../../library/javascript/components/social-icon.js?rndstr='MM4xJ6BM9Y'"> </script>
<script src="../../library/javascript/components/icon-library.js?rndstr='MM4xJ6BM9Y'"> </script>

</html>