<!DOCTYPE html>
<html lang="">

<head class="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../library/css/index.css">
    <title></title>
</head>

<body class="light">
    <div class="ui twenty-eighty-container faculty-vertical-list">

        <div class="first">

            <div class="vertical-list">
                <div class="vertical-list-head ui sub-heading" id="Biosketch" onclick="head_click(this.id)">Biosketch</div>
                <div class="vertical-list-nest">
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Educational
                        Details</div>
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Professional
                        Background</div>
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Administrative
                        Positions</div>
                </div>
                <hr />
                <div class="vertical-list-head ui sub-heading" id="Research" onclick="head_click(this.id)">Research</div>
                <div class="vertical-list-nest">
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Projects</div>
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Papers</div>
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Books</div>
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Collaborations</div>
                </div>
                <hr />
                <div class="vertical-list-head ui sub-heading" id="Honours_and_awards" onclick="head_click(this.id)">Honours and Awards
                </div>
                <div class="vertical-list-nest">
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Honours</div>
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Memberships</div>
                </div>
                <hr />
                <div class="vertical-list-head ui sub-heading" id="Teaching_engagements" onclick="head_click(this.id)">Teaching Engagements
                </div>
                <div class="vertical-list-nest">
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Profiles</div>
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Teaching
                        Engagements</div>
                </div>
                <hr />
                <div class="vertical-list-head ui sub-heading" id="Students" onclick="head_click(this.id)">Students</div>
                <div class="vertical-list-nest">
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Supervisions</div>
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Associate
                        Scholars</div>
                </div>
                <hr />
                <div class="vertical-list-head ui sub-heading" id="Miscellaneous" onclick="head_click(this.id)">Miscellaneous</div>
                <div class="vertical-list-nest">
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Events</div>
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Visits</div>
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Miscellaneous</div>
                </div>
            </div>

        </div>

        <div class="second">
            <div class="contents">
                <div class="ui section-heading">Biosketch</div>
                <div class="ui sub-heading list-sub-heading" >
                    Educational Details
                </div>

                    <div class="ui publication-list">
                        <div class="publicationListItem">
                            <div class="ui title-bar">
                                <div class="ui intro-text">
                                    Department of Computer Science and Engineering, Indian Institute of Technology
                                    Roorkee
                                </div>
                                <div class="ui intro-text">
                                    01 Jan 2018 - Present
                                </div>

                            </div>
                            <div class="ui intro-text">
                                Professor
                            </div>

                        </div>
                        <div class="publicationListItem">
                            <div class="ui title-bar">
                                <div class="ui intro-text">
                                    Department of Computer Science and Engineering, Indian Institute of Technology
                                    Roorkee
                                </div>
                                <div class="ui intro-text">
                                    01 Jan 2013 - 01 Jan 2018
                                </div>

                            </div>
                            <div class="ui intro-text">
                                Associate Professor
                            </div>

                        </div>

                        <div class="publicationListItem">
                            <div class="ui title-bar">
                                <div class="ui intro-text">
                                    Department of Computer Science and Engineering, Indian Institute of Technology
                                    Roorkee
                                </div>
                                <div class="ui intro-text">
                                    01 Jan 2018 - Present
                                </div>

                            </div>
                            <div class="ui intro-text">
                                Professor
                            </div>

                        </div>
                        <div class="publicationListItem">
                            <div class="ui title-bar">
                                <div class="ui intro-text">
                                    Department of Computer Science and Engineering, Indian Institute of Technology
                                    Roorkee
                                </div>
                                <div class="ui intro-text">
                                    01 Jan 2013 - 01 Jan 2018
                                </div>

                            </div>
                            <div class="ui intro-text">
                                Associate Professor
                            </div>

                        </div>

                        <div class="publicationListItem">
                            <div class="ui title-bar">
                                <div class="ui intro-text">
                                    Department of Computer Science and Engineering, Indian Institute of Technology
                                    Roorkee
                                </div>
                                <div class="ui intro-text">
                                    01 Jan 2018 - Present
                                </div>

                            </div>
                            <div class="ui intro-text">
                                Professor
                            </div>

                        </div>
                        <div class="publicationListItem">
                            <div class="ui title-bar">
                                <div class="ui intro-text">
                                    Department of Computer Science and Engineering, Indian Institute of Technology
                                    Roorkee
                                </div>
                                <div class="ui intro-text">
                                    01 Jan 2013 - 01 Jan 2018
                                </div>

                            </div>
                            <div class="ui intro-text">
                                Associate Professor
                            </div>

                        </div>

                    </div>

                        <div class="ui sub-heading list-sub-heading">
                            Professional Background
                        </div>

                    <div class="ui publication-list">
                        <div class="publicationListItem">
                            <div class="ui title-bar">
                                <div class="ui intro-text">
                                    Department of Computer Science and Engineering, Indian Institute of Technology
                                    Roorkee
                                </div>
                                <div class="ui intro-text">
                                    01 Jan 2018 - Present
                                </div>

                            </div>
                            <div class="ui intro-text">
                                Professor
                            </div>

                        </div>
                        <div class="publicationListItem">
                            <div class="ui title-bar">
                                <div class="ui intro-text">
                                    Department of Computer Science and Engineering, Indian Institute of Technology
                                    Roorkee
                                </div>
                                <div class="ui intro-text">
                                    01 Jan 2013 - 01 Jan 2018
                                </div>

                            </div>
                            <div class="ui intro-text">
                                Associate Professor
                            </div>

                        </div>

                        <div class="publicationListItem">
                            <div class="ui title-bar">
                                <div class="ui intro-text">
                                    Department of Computer Science and Engineering, Indian Institute of Technology
                                    Roorkee
                                </div>
                                <div class="ui intro-text">
                                    01 Jan 2018 - Present
                                </div>

                            </div>
                            <div class="ui intro-text">
                                Professor
                            </div>

                        </div>
                        <div class="publicationListItem">
                            <div class="ui title-bar">
                                <div class="ui intro-text">
                                    Department of Computer Science and Engineering, Indian Institute of Technology
                                    Roorkee
                                </div>
                                <div class="ui intro-text">
                                    01 Jan 2013 - 01 Jan 2018
                                </div>

                            </div>
                            <div class="ui intro-text">
                                Associate Professor
                            </div>

                        </div>

                        <div class="publicationListItem">
                            <div class="ui title-bar">
                                <div class="ui intro-text">
                                    Department of Computer Science and Engineering, Indian Institute of Technology
                                    Roorkee
                                </div>
                                <div class="ui intro-text">
                                    01 Jan 2018 - Present
                                </div>

                            </div>
                            <div class="ui intro-text">
                                Professor
                            </div>

                        </div>
                        <div class="publicationListItem">
                            <div class="ui title-bar">
                                <div class="ui intro-text">
                                    Department of Computer Science and Engineering, Indian Institute of Technology
                                    Roorkee
                                </div>
                                <div class="ui intro-text">
                                    01 Jan 2013 - 01 Jan 2018
                                </div>

                            </div>
                            <div class="ui intro-text">
                                Associate Professor
                            </div>

                        </div>

                    </div>

                        <div class="ui sub-heading list-sub-heading" >
                            Administrative Positions
                        </div>

                    <div class="ui publication-list">
                        <div class="publicationListItem">
                            <div class="ui title-bar">
                                <div class="ui intro-text">
                                    Department of Computer Science and Engineering, Indian Institute of Technology
                                    Roorkee
                                </div>
                                <div class="ui intro-text">
                                    01 Jan 2018 - Present
                                </div>

                            </div>
                            <div class="ui intro-text">
                                Professor
                            </div>

                        </div>
                        <div class="publicationListItem">
                            <div class="ui title-bar">
                                <div class="ui intro-text">
                                    Department of Computer Science and Engineering, Indian Institute of Technology
                                    Roorkee
                                </div>
                                <div class="ui intro-text">
                                    01 Jan 2013 - 01 Jan 2018
                                </div>

                            </div>
                            <div class="ui intro-text">
                                Associate Professor
                            </div>

                        </div>

                        <div class="publicationListItem">
                            <div class="ui title-bar">
                                <div class="ui intro-text">
                                    Department of Computer Science and Engineering, Indian Institute of Technology
                                    Roorkee
                                </div>
                                <div class="ui intro-text">
                                    01 Jan 2018 - Present
                                </div>

                            </div>
                            <div class="ui intro-text">
                                Professor
                            </div>

                        </div>
                        <div class="publicationListItem">
                            <div class="ui title-bar">
                                <div class="ui intro-text">
                                    Department of Computer Science and Engineering, Indian Institute of Technology
                                    Roorkee
                                </div>
                                <div class="ui intro-text">
                                    01 Jan 2013 - 01 Jan 2018
                                </div>

                            </div>
                            <div class="ui intro-text">
                                Associate Professor
                            </div>

                        </div>

                        <div class="publicationListItem">
                            <div class="ui title-bar">
                                <div class="ui intro-text">
                                    Department of Computer Science and Engineering, Indian Institute of Technology
                                    Roorkee
                                </div>
                                <div class="ui intro-text">
                                    01 Jan 2018 - Present
                                </div>

                            </div>
                            <div class="ui intro-text">
                                Professor
                            </div>

                        </div>
                        <div class="publicationListItem">
                            <div class="ui title-bar">
                                <div class="ui intro-text">
                                    Department of Computer Science and Engineering, Indian Institute of Technology
                                    Roorkee
                                </div>
                                <div class="ui intro-text">
                                    01 Jan 2013 - 01 Jan 2018
                                </div>

                            </div>
                            <div class="ui intro-text">
                                Associate Professor
                            </div>

                        </div>

                    </div>


                <div class="ui section-heading list-heading">Research</div>

                <div class="ui sub-heading list-sub-heading" >
                    Projects
                </div>
                <div class="ui table-container">
                    <form method="post" action="">
                        <table class="ui table tadminViewReport">
                            <tr class="ui table-row">
                                <td class="ui table-head" onclick="sortTable(this)">Number</th>
                                <td class="ui table-head" onclick="sortTable(this)">Details</th>
                                <td class="ui table-head" onclick="sortTable(this)">Department/Centre Invited</th>
                                <td class="ui table-head" onclick="sortTable(this)">Contact Person</th>
                                <td class="ui table-head" onclick="sortTable(this)">Posted On</th>
                                <td class="ui table-head" onclick="sortTable(this)">Deadline</th>
                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">E&W/Tender/31</td>
                                <td class="ui table-value">Rate contract for canteen</td>
                                <td class="ui table-value">CSE Department</td>
                                <td class="ui table-value">Somil Jain</td>
                                <td class="ui table-value">12 Aug’20</td>
                                <td class="ui table-value">12 Aug’20</td>
                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">E&W/Tender/32</td>
                                <td class="ui table-value">Bate contract for canteen</td>
                                <td class="ui table-value">CSE Department</td>
                                <td class="ui table-value">Somil Jain</td>
                                <td class="ui table-value">12 Aug’20</td>
                                <td class="ui table-value">12 Aug’20</td>
                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">E&W/Tender/33</td>
                                <td class="ui table-value">Cate contract for canteen</td>
                                <td class="ui table-value">CSE Department</td>
                                <td class="ui table-value">Somil Jain</td>
                                <td class="ui table-value">12 Aug’20</td>
                                <td class="ui table-value">12 Aug’20</td>
                            </tr>
                        </table>
                        <br />
                        <br />
                        <div class="ui pagination-form">
                            <div class="pageNavPosition"></div>
                            <div class="select">
                                <select class="ui pagination-select listDisplayPerPg" name="listDisplayPerPg"
                                    onchange="changeNumberOfPages(this)">
                                    <option value="4">Show:</option>
                                    <option value="2">2 Entries </option>
                                    <option value="4">4 Entries </option>
                                    <option value="6">6 Entries </option>
                                    <option value="8">8 Entries </option>
                                    <option value="12">12 Entries</option>
                                    <option value="all">Show all</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <br />
                    <br />
                </div>

                <div class="ui sub-heading list-sub-heading">
                    Papers
                </div>
                <div class="ui table-container">
                    <form method="post" action="">
                        <table class="ui table tadminViewReport">
                            <tr class="ui table-row">
                                <td class="ui table-head" onclick="sortTable(this)">Number</th>
                                <td class="ui table-head" onclick="sortTable(this)">Details</th>
                                <td class="ui table-head" onclick="sortTable(this)">Department/Centre Invited</th>
                                <td class="ui table-head" onclick="sortTable(this)">Contact Person</th>
                                <td class="ui table-head" onclick="sortTable(this)">Posted On</th>
                                <td class="ui table-head" onclick="sortTable(this)">Deadline</th>
                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">E&W/Tender/31</td>
                                <td class="ui table-value">Rate contract for canteen</td>
                                <td class="ui table-value">CSE Department</td>
                                <td class="ui table-value">Somil Jain</td>
                                <td class="ui table-value">12 Aug’20</td>
                                <td class="ui table-value">12 Aug’20</td>
                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">E&W/Tender/32</td>
                                <td class="ui table-value">Bate contract for canteen</td>
                                <td class="ui table-value">CSE Department</td>
                                <td class="ui table-value">Somil Jain</td>
                                <td class="ui table-value">12 Aug’20</td>
                                <td class="ui table-value">12 Aug’20</td>
                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">E&W/Tender/33</td>
                                <td class="ui table-value">Cate contract for canteen</td>
                                <td class="ui table-value">CSE Department</td>
                                <td class="ui table-value">Somil Jain</td>
                                <td class="ui table-value">12 Aug’20</td>
                                <td class="ui table-value">12 Aug’20</td>
                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">E&W/Tender/34</td>
                                <td class="ui table-value">Mate contract for canteen</td>
                                <td class="ui table-value">CSE Department</td>
                                <td class="ui table-value">Somil Jain</td>
                                <td class="ui table-value">12 Aug’20</td>
                                <td class="ui table-value">12 Aug’20</td>
                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">E&W/Tender/35</td>
                                <td class="ui table-value">Rate contract for canteen</td>
                                <td class="ui table-value">CSE Department</td>
                                <td class="ui table-value">Somil Jain</td>
                                <td class="ui table-value">12 Aug’20</td>
                                <td class="ui table-value">12 Aug’20</td>
                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">E&W/Tender/36</td>
                                <td class="ui table-value">Rate contract for canteen</td>
                                <td class="ui table-value">CSE Department</td>
                                <td class="ui table-value">Somil Jain</td>
                                <td class="ui table-value">12 Aug’20</td>
                                <td class="ui table-value">12 Aug’20</td>
                            </tr>
                        </table>
                        <br />
                        <br />
                        <div class="ui pagination-form">
                            <div class="pageNavPosition"></div>
                            <div class="select">
                                <select class="ui pagination-select listDisplayPerPg" name="listDisplayPerPg"
                                    onchange="changeNumberOfPages(this)">
                                    <option value="4">Show:</option>
                                    <option value="2">2 Entries </option>
                                    <option value="4">4 Entries </option>
                                    <option value="6">6 Entries </option>
                                    <option value="8">8 Entries </option>
                                    <option value="12">12 Entries</option>
                                    <option value="all">Show all</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <br />
                    <br />
                </div>

                <div class="ui sub-heading list-sub-heading" >
                    Books
                </div>
                <div class="ui table-container">
                    <form method="post" action="">
                        <table class="ui table tadminViewReport">
                            <tr class="ui table-row">
                                <td class="ui table-head" onclick="sortTable(this)">Number</th>
                                <td class="ui table-head" onclick="sortTable(this)">Details</th>
                                <td class="ui table-head" onclick="sortTable(this)">Department/Centre Invited</th>
                                <td class="ui table-head" onclick="sortTable(this)">Contact Person</th>
                                <td class="ui table-head" onclick="sortTable(this)">Posted On</th>
                                <td class="ui table-head" onclick="sortTable(this)">Deadline</th>
                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">E&W/Tender/31</td>
                                <td class="ui table-value">Rate contract for canteen</td>
                                <td class="ui table-value">CSE Department</td>
                                <td class="ui table-value">Somil Jain</td>
                                <td class="ui table-value">12 Aug’20</td>
                                <td class="ui table-value">12 Aug’20</td>
                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">E&W/Tender/32</td>
                                <td class="ui table-value">Bate contract for canteen</td>
                                <td class="ui table-value">CSE Department</td>
                                <td class="ui table-value">Somil Jain</td>
                                <td class="ui table-value">12 Aug’20</td>
                                <td class="ui table-value">12 Aug’20</td>
                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">E&W/Tender/33</td>
                                <td class="ui table-value">Cate contract for canteen</td>
                                <td class="ui table-value">CSE Department</td>
                                <td class="ui table-value">Somil Jain</td>
                                <td class="ui table-value">12 Aug’20</td>
                                <td class="ui table-value">12 Aug’20</td>
                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">E&W/Tender/34</td>
                                <td class="ui table-value">Mate contract for canteen</td>
                                <td class="ui table-value">CSE Department</td>
                                <td class="ui table-value">Somil Jain</td>
                                <td class="ui table-value">12 Aug’20</td>
                                <td class="ui table-value">12 Aug’20</td>
                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">E&W/Tender/35</td>
                                <td class="ui table-value">Rate contract for canteen</td>
                                <td class="ui table-value">CSE Department</td>
                                <td class="ui table-value">Somil Jain</td>
                                <td class="ui table-value">12 Aug’20</td>
                                <td class="ui table-value">12 Aug’20</td>
                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">E&W/Tender/36</td>
                                <td class="ui table-value">Rate contract for canteen</td>
                                <td class="ui table-value">CSE Department</td>
                                <td class="ui table-value">Somil Jain</td>
                                <td class="ui table-value">12 Aug’20</td>
                                <td class="ui table-value">12 Aug’20</td>
                            </tr>
                        </table>
                        <br />
                        <br />
                        <div class="ui pagination-form">
                            <div class="pageNavPosition"></div>
                            <div class="select">
                                <select class="ui pagination-select listDisplayPerPg" name="listDisplayPerPg"
                                    onchange="changeNumberOfPages(this)">
                                    <option value="4">Show:</option>
                                    <option value="2">2 Entries </option>
                                    <option value="4">4 Entries </option>
                                    <option value="6">6 Entries </option>
                                    <option value="8">8 Entries </option>
                                    <option value="12">12 Entries</option>
                                    <option value="all">Show all</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <br />
                    <br />
                </div>

                <div class="ui sub-heading list-sub-heading" >
                    Collaborations
                </div>
                <div class="ui table-container">
                    <form method="post" action="">
                        <table class="ui table tadminViewReport">
                            <tr class="ui table-row">
                                <td class="ui table-head" onclick="sortTable(this)">Number</th>
                                <td class="ui table-head" onclick="sortTable(this)">Details</th>
                                <td class="ui table-head" onclick="sortTable(this)">Department/Centre Invited</th>
                                <td class="ui table-head" onclick="sortTable(this)">Contact Person</th>
                                <td class="ui table-head" onclick="sortTable(this)">Posted On</th>
                                <td class="ui table-head" onclick="sortTable(this)">Deadline</th>
                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">E&W/Tender/31</td>
                                <td class="ui table-value">Rate contract for canteen</td>
                                <td class="ui table-value">CSE Department</td>
                                <td class="ui table-value">Somil Jain</td>
                                <td class="ui table-value">12 Aug’20</td>
                                <td class="ui table-value">12 Aug’20</td>
                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">E&W/Tender/32</td>
                                <td class="ui table-value">Bate contract for canteen</td>
                                <td class="ui table-value">CSE Department</td>
                                <td class="ui table-value">Somil Jain</td>
                                <td class="ui table-value">12 Aug’20</td>
                                <td class="ui table-value">12 Aug’20</td>
                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">E&W/Tender/33</td>
                                <td class="ui table-value">Cate contract for canteen</td>
                                <td class="ui table-value">CSE Department</td>
                                <td class="ui table-value">Somil Jain</td>
                                <td class="ui table-value">12 Aug’20</td>
                                <td class="ui table-value">12 Aug’20</td>
                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">E&W/Tender/34</td>
                                <td class="ui table-value">Mate contract for canteen</td>
                                <td class="ui table-value">CSE Department</td>
                                <td class="ui table-value">Somil Jain</td>
                                <td class="ui table-value">12 Aug’20</td>
                                <td class="ui table-value">12 Aug’20</td>
                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">E&W/Tender/35</td>
                                <td class="ui table-value">Rate contract for canteen</td>
                                <td class="ui table-value">CSE Department</td>
                                <td class="ui table-value">Somil Jain</td>
                                <td class="ui table-value">12 Aug’20</td>
                                <td class="ui table-value">12 Aug’20</td>
                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">E&W/Tender/36</td>
                                <td class="ui table-value">Rate contract for canteen</td>
                                <td class="ui table-value">CSE Department</td>
                                <td class="ui table-value">Somil Jain</td>
                                <td class="ui table-value">12 Aug’20</td>
                                <td class="ui table-value">12 Aug’20</td>
                            </tr>
                        </table>
                        <br />
                        <br />
                        <div class="ui pagination-form">
                            <div class="pageNavPosition"></div>
                            <div class="select">
                                <select class="ui pagination-select listDisplayPerPg" name="listDisplayPerPg"
                                    onchange="changeNumberOfPages(this)">
                                    <option value="4">Show:</option>
                                    <option value="2">2 Entries </option>
                                    <option value="4">4 Entries </option>
                                    <option value="6">6 Entries </option>
                                    <option value="8">8 Entries </option>
                                    <option value="12">12 Entries</option>
                                    <option value="all">Show all</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <br />
                    <br />
                </div>

                <div class="ui section-heading list-heading">Honours and Awards</div>

                <div class="ui sub-heading list-sub-heading" >
                    Honours
                </div>

                <div class="ui publication-list">
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Department of Computer Science and Engineering, Indian Institute of Technology
                                Roorkee
                            </div>
                            <div class="ui intro-text">
                                01 Jan 2018 - Present
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Professor
                        </div>

                    </div>
                </div>

                <div class="ui sub-heading list-sub-heading" >
                    Memberships
                </div>

                <div class="ui publication-list">
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Department of Computer Science and Engineering, Indian Institute of Technology
                                Roorkee
                            </div>
                            <div class="ui intro-text">
                                01 Jan 2018 - Present
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Professor
                        </div>

                    </div>
                </div>

                <div class="ui section-heading list-heading">Teaching Engagements</div>

                <div class="ui sub-heading list-sub-heading" >
                    Profiles
                </div>

                <div class="ui publication-list">
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Department of Computer Science and Engineering, Indian Institute of Technology
                                Roorkee
                            </div>
                            <div class="ui intro-text">
                                01 Jan 2018 - Present
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Professor
                        </div>

                    </div>
                </div>

                <div class="ui sub-heading list-sub-heading" >
                    Teaching Engagements
                </div>

                <div class="ui publication-list">
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Department of Computer Science and Engineering, Indian Institute of Technology
                                Roorkee
                            </div>
                            <div class="ui intro-text">
                                01 Jan 2018 - Present
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Professor
                        </div>

                    </div>
                </div>

                <div class="ui section-heading list-heading">Students</div>

                <div class="ui sub-heading list-sub-heading" >
                    Supervisions
                </div>

                <div class="ui publication-list">
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Department of Computer Science and Engineering, Indian Institute of Technology
                                Roorkee
                            </div>
                            <div class="ui intro-text">
                                01 Jan 2018 - Present
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Professor
                        </div>

                    </div>
                </div>

                <div class="ui sub-heading list-sub-heading" >
                    Associate Scholars
                </div>

                <div class="ui publication-list">
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Department of Computer Science and Engineering, Indian Institute of Technology
                                Roorkee
                            </div>
                            <div class="ui intro-text">
                                01 Jan 2018 - Present
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Professor
                        </div>

                    </div>
                </div>

                <div class="ui section-heading list-heading">Miscellaneous</div>

                <div class="ui sub-heading list-sub-heading" >
                    Events
                </div>

                <div class="ui publication-list">
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Department of Computer Science and Engineering, Indian Institute of Technology
                                Roorkee
                            </div>
                            <div class="ui intro-text">
                                01 Jan 2018 - Present
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Professor
                        </div>

                    </div>
                </div>

                <div class="ui sub-heading list-sub-heading" >
                    Visits
                </div>

                <div class="ui publication-list">
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Department of Computer Science and Engineering, Indian Institute of Technology
                                Roorkee
                            </div>
                            <div class="ui intro-text">
                                01 Jan 2018 - Present
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Professor
                        </div>

                    </div>
                </div>

                <div class="ui sub-heading list-sub-heading" >
                    Miscellaneous
                </div>

                <div class="ui publication-list">
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Department of Computer Science and Engineering, Indian Institute of Technology
                                Roorkee
                            </div>
                            <div class="ui intro-text">
                                01 Jan 2018 - Present
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Professor
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="../../library/javascript/components/nested-vertical-list.js"></script>
    <script src="../../library/javascript/components/table.js"></script>
    <script src="../../library/javascript/components/color_change.js"></script>
</body>