<!DOCTYPE html>
<html lang="">

<head class="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../library/css/index.css">
    <title></title>
</head>

<body class="light">
    <div class="ui faculty-profile">
        <div class="ui twenty-eighty-container">
            <div style="justify-content:;" class="first">
                <div class="ui image">
                    <img src="https://channeli.in/media/kernel/display_pictures/e2d7ffa8-9bbf-4d51-9393-b760020a71b0"
                        alt="There is an image here" />

                </div>

            </div>
            <div style="justify-content:;" class="second">
                <a href="#" class="ui button">
                    Download Resume
                </a>
                <div class="ui description">
                    Quaternary Geology, Sedimentology, Luminescence Dating, Neotectonics and Paleoclimate
                </div>
                <div class="info">
                    <div class="ui icon-typography">
                        <img data-icon="email" height="" width="" class="ui icon">

                        </img>
                        <div class="ui one-liner-captions">
                            N6ODXLBt8d7RpxLT8jjG@iitr.ac.in
                        </div>

                    </div>
                    <div class="ui icon-typography">
                        <img data-icon="location" height="" width="" class="ui icon">

                        </img>
                        <div class="ui intro-text">
                            --
                        </div>

                    </div>

                </div>
                <div class="info">
                    <div class="ui icon-typography">
                        <img data-icon="phone" height="" width="" class="ui icon">

                        </img>
                        <div class="ui intro-text">
                            3999278970
                        </div>

                    </div>
                    <div class="ui icon-typography">
                        <img data-icon="web_logo" height="" width="" class="ui icon">

                        </img>
                        <div class="ui intro-text"
                            onclick="window.open('https://scholar.google.co.in/citations?user=2L5O7u8AAAAJ&hl=en')">
                            https://scholar.google.co.in/citations?user=2L5O7u8AAAAJ&amp;hl=en
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
    <div class="ui twenty-eighty-container faculty-vertical-list">
        <div style="justify-content:;" class="first">

            <div class="vertical-list">
                <div class="vertical-list-head ui sub-heading" id="1" onclick="head_click(this.id)">Biosketch</div>
                <div class="vertical-list-nest">
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Educational
                        Details</div>
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Professional
                        Background</div>
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Administrative
                        Positions
                    </div>
                </div>
                <hr />
                <div class="vertical-list-head ui sub-heading" id="2" onclick="head_click(this.id)">Research</div>
                <div class="vertical-list-nest">
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Projects</div>
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Papers</div>
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Books</div>
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Collaborations</div>
                </div>
                <hr />
                <div class="vertical-list-head ui sub-heading" id="3" onclick="head_click(this.id)">Honours and Awards
                </div>
                <div class="vertical-list-nest">
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Honours</div>
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Memberships</div>
                </div>
                <hr />
                <div class="vertical-list-head ui sub-heading" id="4" onclick="head_click(this.id)">Teaching Engagements
                </div>
                <div class="vertical-list-nest">
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Profiles</div>
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Teaching
                        Engagements</div>
                </div>
                <hr />
                <div class="vertical-list-head ui sub-heading" id="5" onclick="head_click(this.id)">Students</div>
                <div class="vertical-list-nest">
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Supervisions</div>
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Associate
                        Scholars</div>
                </div>
                <hr />
                <div class="vertical-list-head ui sub-heading" id="6" onclick="head_click(this.id)">Miscellaneous</div>
                <div class="vertical-list-nest">
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Events</div>
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Visits</div>
                    <div class="ui one-liner-captions" onclick="content_click(this.id)">Miscellaneous</div>
                </div>
            </div>

        </div>
        <div style="justify-content:;" class="second">
            <div class="contents">
                <div class="ui section-heading">
                    BioSketch
                </div>
                <div class="ui title-bar">
                    <div class="ui sub-heading" id="educational_details">
                        Educational Details
                    </div>

                </div>
                <div class="ui publication-list">
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                University of Lucknow
                            </div>
                            <div class="ui intro-text">
                                1999
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Ph.D., Geology
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Physical Research Laboratory, Ahmadabad
                            </div>
                            <div class="ui intro-text">
                                2001
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Postdoctoral Research, Luminescence dating, Quaternary Geology
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                University of Georgia, USA
                            </div>
                            <div class="ui intro-text">
                                2005
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Postdoctoral Research, Quaternary Geology of Arid Zones
                        </div>

                    </div>

                </div>
                <div class="ui title-bar">
                    <div class="ui sub-heading" id="professional_background">
                        Professional Background
                    </div>

                </div>
                <div class="ui publication-list">

                </div>
                <div class="ui title-bar">
                    <div class="ui sub-heading" id="other_responsibilities">
                        Other Responsibilities
                    </div>

                </div>
                <div class="ui publication-list">

                </div>
                <div class="ui section-heading">
                    Research
                </div>
                <div class="ui title-bar">
                    <div class="ui sub-heading" id="projects">
                        Projects
                    </div>

                </div>
                <div class="ui table-container">
                    <form method="post" action="">
                        <table class="ui table tadminViewReport">
                            <tr class="ui table-row">
                                <td class="ui table-head" onClick="sortTable(this)">
                                    TOPIC
                                </td>
                                <td class="ui table-head" onClick="sortTable(this)">
                                    START DATE
                                </td>
                                <td class="ui table-head" onClick="sortTable(this)">
                                    FIELD
                                </td>
                                <td class="ui table-head" onClick="sortTable(this)">
                                    DESCRIPTION
                                </td>
                                <td class="ui table-head" onClick="sortTable(this)">
                                    FINANCIAL OUTLAY
                                </td>
                                <td class="ui table-head" onClick="sortTable(this)">
                                    FUNDING AGENCY
                                </td>
                                <td class="ui table-head" onClick="sortTable(this)">
                                    OTHER OFFICERS
                                </td>

                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">
                                    Geomorphology and Sedimentation in Alaknanda valley
                                </td>
                                <td class="ui table-value">
                                    01 May 2008
                                </td>
                                <td class="ui table-value">
                                    Quaternary Geology of Ganga valley
                                </td>
                                <td class="ui table-value">
                                    as Co-PI
                                </td>
                                <td class="ui table-value">
                                    24.99 Lacs
                                </td>
                                <td class="ui table-value">
                                    Department of S&amp;T, Govt of India
                                </td>
                                <td class="ui table-value">

                                </td>

                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">
                                    brain storming session of high resolution paleoclimatic records from the lakes of
                                    Ganga Plain
                                </td>
                                <td class="ui table-value">
                                    05 Aug 2015
                                </td>
                                <td class="ui table-value">
                                    workshop
                                </td>
                                <td class="ui table-value">
                                    Brainstorming session
                                </td>
                                <td class="ui table-value">
                                    4 Lacs
                                </td>
                                <td class="ui table-value">
                                    Department of S&amp;T, Govt of India
                                </td>
                                <td class="ui table-value">

                                </td>

                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">
                                    Quaternary Landform Evolution along the HFT
                                </td>
                                <td class="ui table-value">
                                    31 Mar 2014
                                </td>
                                <td class="ui table-value">
                                    Paleoseismology
                                </td>
                                <td class="ui table-value">
                                    as Co-PI
                                </td>
                                <td class="ui table-value">
                                    89.68 Lacs
                                </td>
                                <td class="ui table-value">
                                    Ministry of earth Sciences
                                </td>
                                <td class="ui table-value">

                                </td>

                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">
                                    Study of weathered soil profiles developed on granitic and basaltic rocks
                                </td>
                                <td class="ui table-value">
                                    01 Nov 2019
                                </td>
                                <td class="ui table-value">
                                    Quaternary weathering of rocks in Himalaya
                                </td>
                                <td class="ui table-value">

                                </td>
                                <td class="ui table-value">
                                    48.89 Lacs
                                </td>
                                <td class="ui table-value">
                                    Ministry of earth Sciences
                                </td>
                                <td class="ui table-value">

                                </td>

                            </tr>
                            <tr class="ui table-row">
                                <td class="ui table-value">
                                    Field workshop on Quaternary setup of Arid NW Himalaya: Main focus on Ladakh
                                </td>
                                <td class="ui table-value">
                                    01 Aug 2012
                                </td>
                                <td class="ui table-value">
                                    Ladakh Quaternary Training
                                </td>
                                <td class="ui table-value">

                                </td>
                                <td class="ui table-value">
                                    22 Lacs
                                </td>
                                <td class="ui table-value">
                                    Department of S&amp;T, Govt of India
                                </td>
                                <td class="ui table-value">

                                </td>

                            </tr>

                        </table>
                        <br />
                        <br />
                        <div class="ui pagination-form">
                            <div class="pageNavPosition"></div>
                            <div class="select">
                                <select class="ui pagination-select listDisplayPerPg" name="listDisplayPerPg"
                                    onchange="changeNumberOfPages(this)">
                                    <option value="4">Show:</option>
                                    <option value="2">2 Entries </option>
                                    <option value="4">4 Entries </option>
                                    <option value="6">6 Entries </option>
                                    <option value="8">8 Entries </option>
                                    <option value="12">12 Entries</option>
                                    <option value="all">Show all</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <br />
                    <br />
                </div>
                <div class="ui section-heading">
                    Honurs And Awards
                </div>
                <div class="ui title-bar">
                    <div class="ui sub-heading" id="honors">
                        Honors
                    </div>

                </div>
                <div class="ui publication-list">
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Indian Geophysical Union
                            </div>
                            <div class="ui intro-text">
                                2019
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Anni Talwani Gold Medal
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Ministry of Mines, Govt of India
                            </div>
                            <div class="ui intro-text">
                                2011
                            </div>

                        </div>
                        <div class="ui intro-text">
                            National Geoscience Award-2011
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Indian Geophysical Union
                            </div>
                            <div class="ui intro-text">
                                2011
                            </div>

                        </div>
                        <div class="ui intro-text">
                            M.S. Krishnan Gold Medal-2011
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                the Geological Society of India
                            </div>
                            <div class="ui intro-text">
                                2010
                            </div>

                        </div>
                        <div class="ui intro-text">
                            S.S. Merh Award for excellence on Quaternary Research in India
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                AAG-Geomorphology Specialty Group, United States
                            </div>
                            <div class="ui intro-text">
                                2007
                            </div>

                        </div>
                        <div class="ui intro-text">
                            G.K. Gilbert Award for excellence in geomorphological research
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Elsevier
                            </div>
                            <div class="ui intro-text">
                                2007
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Most cited paper award by Palaeo-3
                        </div>

                    </div>

                </div>
                <div class="ui title-bar">
                    <div class="ui sub-heading" id="memberships">
                        MemberShips
                    </div>

                </div>
                <div class="ui publication-list">
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                The Geological Society of India
                            </div>
                            <div class="ui intro-text">
                                01 Jun 2019 - Present
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Associate editor of journal Geological Society of India
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Ministry of Earth Sciences
                            </div>
                            <div class="ui intro-text">
                                01 Aug 2012 - 01 Aug 2016
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Member
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Ministry of Earth Sciences
                            </div>
                            <div class="ui intro-text">
                                01 Apr 2020 - Present
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Member of PAMC-Geosciences
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Science Education and Research Board (SERB)
                            </div>
                            <div class="ui intro-text">
                                15 Jul 2021 - Present
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Co-Opted Member of PAMC-Earth Sciences
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Elsevier
                            </div>
                            <div class="ui intro-text">
                                01 Jan 2019 - Present
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Member of Editorial Board of Quaternary International
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Past Global Changes (PAGES)
                            </div>
                            <div class="ui intro-text">
                                01 Jan 2021 - Present
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Member of International Science Steering Committee
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Journal of the Indian Geophysical Union
                            </div>
                            <div class="ui intro-text">
                                01 Jun 2021 - Present
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Member Editorial Board
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                HNB Garhwal University
                            </div>
                            <div class="ui intro-text">
                                02 Feb 2018 - Present
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Member, Board of studies of Geology
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Association of Quaternary Researchers
                            </div>
                            <div class="ui intro-text">
                                01 Aug 2019 - Present
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Vice President
                        </div>

                    </div>

                </div>
                <div class="ui section-heading">
                    Teaching Engagements
                </div>
                <div class="ui title-bar">
                    <div class="ui sub-heading" id="teaching_engagements">
                        Teaching Engagements
                    </div>

                </div>
                <div class="ui publication-list">
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Metamorphic Petrology ( ESN-303 )
                            </div>
                            <div class="ui intro-text">
                                Autumn
                            </div>

                        </div>
                        <div class="ui intro-text">

                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Seminar ( ESN-499 )
                            </div>
                            <div class="ui intro-text">
                                Autumn
                            </div>

                        </div>
                        <div class="ui intro-text">

                        </div>

                    </div>

                </div>
                <div class="ui section-heading">
                    Students
                </div>
                <div class="ui title-bar">
                    <div class="ui sub-heading" id="supervisions">
                        SuperVisions
                    </div>

                </div>
                <div class="ui publication-list">
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Late Pleistocene Landscape of Zanskar River Valley (Ladakh Himalaya): Implications to
                                sediment storage and river connectivity.
                            </div>
                            <div class="ui intro-text">
                                12 Jun 2014 - 22 Aug 2019
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Other Supervisors: Prof. YP Sundriyal, Scholar: Poonam Chahal
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Late Quaternary Geological Evolution of Yamuna River Valley, Marginal Ganga Plain in the
                                Himalayan Foreland setup.
                            </div>
                            <div class="ui intro-text">
                                12 Mar 2014 - 06 Jun 2019
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Other Supervisors: Prof. UK Shukla, BHU, Scholar: Rupa Ghosh
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Late Quaternary landscape evolution along the Indus River: response to the climate and
                                tectonics of Ladakh Himalaya.
                            </div>
                            <div class="ui intro-text">
                                15 May 2013 - 02 May 2018
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Other Supervisors: Dr KS Mishra, UPES, Scholar: Anil Kumar
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Paleoclimatic reconstruction and past landslide activity in Alaknanda-Mandakini Valley,
                            </div>
                            <div class="ui intro-text">
                                10 Jan 2013 - 09 Aug 2017
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Other Supervisors: Prof. YP Sundriyal, HNB Garhwal University, Scholar: Deepti Sharma
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Late Quaternary Evolution of Alaknanda Valley in the vicinity of North Almora Thrust.
                            </div>
                            <div class="ui intro-text">
                                02 May 2007 - 16 May 2012
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Other Supervisors: Prof. YP Sundriyal, Scholar: Shipra Chaudhary
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Late Quaternary aggradation and incision phases in upper reaches of Ganga River system:
                                implications to climate-tectonic Interaction
                            </div>
                            <div class="ui intro-text">
                                09 Aug 2006 - 11 May 2011
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Other Supervisors: Prof YP Sundriyal, HNB Garhwal University, Scholar: Yogesh Ray
                        </div>

                    </div>

                </div>
                <div class="ui title-bar">
                    <div class="ui sub-heading" id="associate_scholars">
                        Associate Scholars
                    </div>

                </div>
                <div class="ui publication-list">

                </div>
                <div class="ui section-heading">
                    Miscellaneous
                </div>
                <div class="ui title-bar">
                    <div class="ui sub-heading" id="events">
                        Events
                    </div>

                </div>
                <div class="ui publication-list">

                </div>
                <div class="ui title-bar">
                    <div class="ui sub-heading" id="visits">
                        Visits
                    </div>

                </div>
                <div class="ui publication-list">
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                China
                            </div>
                            <div class="ui intro-text">
                                2000-08-23
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Conference and field trip
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Australia
                            </div>
                            <div class="ui intro-text">
                                2001-03-05
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Research
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Unites States of America
                            </div>
                            <div class="ui intro-text">
                                2001-12-19
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Postdoctoral Research
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Namibia
                            </div>
                            <div class="ui intro-text">
                                2002-08-02
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Research and Field Excursion
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Unites States of America
                            </div>
                            <div class="ui intro-text">
                                2011-04-17
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Conference and meetings
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Botswana
                            </div>
                            <div class="ui intro-text">
                                2003-07-03
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Research and field Excursion
                        </div>

                    </div>
                    <div class="publicationListItem">
                        <div class="ui title-bar">
                            <div class="ui intro-text">
                                Singapore
                            </div>
                            <div class="ui intro-text">
                                2015-02-26
                            </div>

                        </div>
                        <div class="ui intro-text">
                            Conference and meeting
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="footer-container">
            <div class="footer">
                <div class="contact-info">
                    <div>
                        <img onclick='window.location="https://iitr.ac.in"'
                            src="https://cmsredesign.channeli.in/library/assets/images/IITR175.png" class="info-logo" />
                    </div>
                    <div class="footer-contact-wrapper">
                        <div class="footer-map">
                            <iframe width="160" height="120"
                                src="https://maps.google.com/maps?q=iit%20roorkee&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div>
                        <div class="footer-contact-link-icons">
                            <div class="footer-contact-info-detail-element">
                                <img class="ui icon" data-icon="location" />
                                <a class="footer-text"
                                    href="https://www.iitr.ac.in/institute/pages/How_to_reach_IIT_Roorkee.html">
                                    How to reach IIT Roorkee
                                </a>
                            </div>
                            <div class="footer-contact-info-detail-element">
                                <img class="ui icon" data-icon="phone" />
                                <a class="footer-text" href="tel:+911332285311">
                                    +91-1332-285311
                                </a>
                            </div>
                            <div class="footer-contact-info-detail-element">
                                <img class="ui icon" data-icon="email" />
                                <a class="footer-text" href="mailto:registrar@iitr.ac.in">
                                    registrar@iitr.ac.in
                                </a>
                            </div>
                            <div class="footer-favicons">
                                <a class="ui social-icon facebook_icon"
                                    href="https://www.facebook.com/iitroorkee.media"></a>
                                <a class="ui social-icon youtube_icon"
                                    href="https://www.youtube.com/channel/UCWzelmid9BHgokVfVGhWvLw"></a>
                                <a class="ui social-icon instagram_icon"
                                    href="https://www.instagram.com/iitroorkee/?hl=en"></a>
                                <a class="ui social-icon linkedin_icon"
                                    href="https://www.linkedin.com/school/indian-institute-of-technology-roorkee/"></a>
                                <a class="ui social-icon twitter_icon" href="https://twitter.com/iitroorkee"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="links">
                    <div class="footer-lefts-left">
                        <div class="footer-lefts-header">EXPLORE</div>

                        <a class="ui link" href="https://iitr.ac.in/Administration/index.html">
                            Administration
                        </a>
                        <a class="ui link" href="http://scsp.iitr.ac.in/">
                            Awards and Honours
                        </a>
                        <a class="ui link" href="https://iitr.ac.in/Departments/index.html">
                            Departments
                        </a>
                        <a class="ui link" href="https://ir.iitr.ac.in/">
                            International Students
                        </a>
                        <a class="ui link" href="http://mm.iitr.ac.in/mmweb/">
                            Tenders and Quotations
                        </a>
                        <a class="ui link" href="https://www.iitr.ac.in/rti/">
                            RTI
                        </a>
                        <a class="ui link"
                            href="https://www.iitr.ac.in/research/pages/Research_Summary+Industrial_Consultancy.html">
                            Industry Consultation
                        </a>
                    </div>

                    <div class="basic footer-lefts-right">
                        <div class="footer-lefts-header">QUICK ACCESS</div>

                        <a class="ui link" href="https://alumni.iitr.ac.in/donate">
                            Donate
                        </a>
                        <a class="ui link" href="https://channeli.in/">
                            Intranet Portal
                        </a>
                        <a class="ui link" href="https://newwebmail.iitr.ac.in/">
                            Webmail
                        </a>
                        <a class="ui link" href="http://ghbooking.iitr.ac.in/">
                            Book guest house
                        </a>
                        <a class="ui link" href="https://www.iitr.ac.in/support/">
                            Support @ IITR
                        </a>
                        <a class="ui link" href="mailto:img@iitr.ac.in">
                            Give Feedback
                        </a>
                        <a class="ui link" href="https://www.iitr.ac.in/internalcomplaintscommittee/">
                            ICC
                        </a>
                    </div>
                </div>

                <div class="weather">
                    <a class="weatherwidget-io" href="https://forecast7.com/en/29d8577d89/roorkee/"
                        data-label_1="ROORKEE" data-label_2="WEATHER" data-days="3" data-theme="original"
                        data-basecolor="" data-textcolor="#000000" data-highcolor="#BB5F1A" data-lowcolor="#1a76bb"
                        data-mooncolor="#000000" data-cloudcolor="#000000" data-raincolor="#1a76bb">ROORKEE WEATHER</a>
                    <script>
                        !(function (d, s, id) {
                            var js,
                                fjs = d.getElementsByTagName(s)[0];
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = "https://weatherwidget.io/js/widget.min.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        })(document, "script", "weatherwidget-io-js");
                    </script>
                    <div class="madebylabel">
                        Made with ❤️ by: </br>
                        Information Management Group, IITR
                    </div>
                    <a href="#" class="ui link">
                        Meet the team
                    </a>
                </div>
            </div>
            <div>
                <div class="footer-bottom-flex">
                    <div class="footer-accessibility-flex">
                        <a href="#" class="ui link">
                            Sitemap
                        </a>
                        <div class="ui link">
                            Privacy Policy
                        </div>
                        <div class="ui link">
                            Accessibility
                        </div>
                    </div>
                    <!-- <div class="totalviews">
                Total Pageviews: 12414
            </div> -->
                </div>
                <div class="footer-copyright">
                    <div>
                        Copyright 2021, Institute Computer Centre, IIT Roorkee
                    </div>
                    <!-- <div class="totalviews" style="color: var(--black);">
                Total Pageviews: 12414
            </div> -->
                </div>
            </div>
        </div>


    </div>

</body>

<script src="../../library/javascript/components/nested-vertical-list.js"> </script>
<script src="https://cmsredesign.channeli.in/library/javascript/components/table.js?rndstr='cmvnWrgjt4'"> </script>
<script
    src="https://cmsredesign.channeli.in/library/javascript/components/publication-list.js?rndstr='cmvnWrgjt4'"> </script>
<script src="https://cmsredesign.channeli.in/library/javascript/components/menu.js?rndstr='cmvnWrgjt4'"> </script>
<script src="https://cmsredesign.channeli.in/library/javascript/components/header.js?rndstr='cmvnWrgjt4'"> </script>
<script
    src="https://cmsredesign.channeli.in/library/javascript/components/color_change.js?rndstr='cmvnWrgjt4'"> </script>
<script
    src="https://cmsredesign.channeli.in/library/javascript/components/social-icon.js?rndstr='cmvnWrgjt4'"> </script>
<script
    src="https://cmsredesign.channeli.in/library/javascript/components/icon-library.js?rndstr='cmvnWrgjt4'"> </script>

</html>