<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../library/css/index.css" />
  <title>Normal Accordion</title>
</head>

<body class="dark">
  Normal Accordion
  <hr />
  <div class="ui full-width-container gradient-blue">

    <div class="ui accordion">
      <div class="ui section-heading">
        Fruits
      </div>
      <div class="item">
        <div class="ui sub-heading">
          Banana is a yellow fruit
        </div>
        <div class="ui description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum lectus elit, nec lobortis quam
          iaculis vel. Donec et tempor magna. In eget diam dui. 
        </div>
        <div class="ui description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum lectus elit, nec lobortis quam
          iaculis vel. Donec et tempor magna. In eget diam dui. Suspendisse id nulla efficitur, ultricies nisi sit amet,
          posuere ante. Suspendisse vel gravida nibh, non fringilla felis. Duis eget sem id lectus congue vehicula.
          Etiam vehicula nulla purus, vitae aliquet tortor ullamcorper vitae. Vivamus id felis dictum, molestie felis
          at, interdum turpis. Maecenas fermentum dui eget scelerisque mollis. Morbi ut lorem commodo, fermentum ex ac,
          pulvinar ligula. Mauris eu leo mattis, dictum turpis sit amet, bibendum nisi. Nulla facilisi.
        </div>
        <div class="ui description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum lectus elit, nec lobortis quam
          iaculis vel. Donec et tempor magna. In eget diam dui. Suspendisse id nulla efficitur, ultricies nisi sit amet,
          posuere ante. Suspendisse vel gravida nibh, non fringilla felis. Duis eget sem id lectus congue vehicula.
          Etiam vehicula nulla purus, vitae aliquet tortor ullamcorper vitae. Vivamus id felis dictum, molestie felis
          at, interdum turpis. Maecenas fermentum dui eget scelerisque mollis. Morbi ut lorem commodo, fermentum ex ac,
          pulvinar ligula. Mauris eu leo mattis, dictum turpis sit amet, bibendum nisi. Nulla facilisi.
        </div>
        <div class="ui description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum lectus elit, nec lobortis quam
          iaculis vel. Donec et tempor magna. In eget diam dui. Suspendisse id nulla efficitur, ultricies nisi sit amet,
          posuere ante. Suspendisse vel gravida nibh, non fringilla felis. Duis eget sem id lectus congue vehicula.
          Etiam vehicula nulla purus, vitae aliquet tortor ullamcorper vitae. Vivamus id felis dictum, molestie felis
          at, interdum turpis. Maecenas fermentum dui eget scelerisque mollis. Morbi ut lorem commodo, fermentum ex ac,
          pulvinar ligula. Mauris eu leo mattis, dictum turpis sit amet, bibendum nisi. Nulla facilisi.
        </div>
      </div>
      <div class="item">
        <div class="ui sub-heading">
          Banana is a yellow fruit
        </div>
        <div class="ui description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum lectus elit, nec lobortis quam
          iaculis vel. Donec et tempor magna. In eget diam dui. Suspendisse id nulla efficitur, ultricies nisi sit amet,
          posuere ante. Suspendisse vel gravida nibh, non fringilla felis. Duis eget sem id lectus congue vehicula.
          Etiam vehicula nulla purus, vitae aliquet tortor ullamcorper vitae. Vivamus id felis dictum, molestie felis
          at, interdum turpis. Maecenas fermentum dui eget scelerisque mollis. Morbi ut lorem commodo, fermentum ex ac,
          pulvinar ligula. Mauris eu leo mattis, dictum turpis sit amet, bibendum nisi. Nulla facilisi.
        </div>
      </div>
      
    </div>
    <div class="ui accordion">
      <div class="ui section-heading">
        Fruits
      </div>
      <div class="item">
        <div class="ui sub-heading">
          Banana is a yellow fruit
        </div>
        <div class="ui one-liner-captions">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum lectus elit, nec lobortis quam
          iaculis vel. Donec et tempor magna. In eget diam dui. Suspendisse id nulla efficitur, ultricies nisi sit amet,
          posuere ante. Suspendisse vel gravida nibh, non fringilla felis. Duis eget sem id lectus congue vehicula.
          Etiam vehicula nulla purus, vitae aliquet tortor ullamcorper vitae. Vivamus id felis dictum, molestie felis
          at, interdum turpis. Maecenas fermentum dui eget scelerisque mollis. Morbi ut lorem commodo, fermentum ex ac,
          pulvinar ligula. Mauris eu leo mattis, dictum turpis sit amet, bibendum nisi. Nulla facilisi.
        </div>
      </div>
      <div class="item">
        <div class="ui sub-heading">
          Banana is a yellow fruit
        </div>
        <div class="ui one-liner-captions">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum lectus elit, nec lobortis quam
          iaculis vel. Donec et tempor magna. In eget diam dui. Suspendisse id nulla efficitur, ultricies nisi sit amet,
          posuere ante. Suspendisse vel gravida nibh, non fringilla felis. Duis eget sem id lectus congue vehicula.
          Etiam vehicula nulla purus, vitae aliquet tortor ullamcorper vitae. Vivamus id felis dictum, molestie felis
          at, interdum turpis. Maecenas fermentum dui eget scelerisque mollis. Morbi ut lorem commodo, fermentum ex ac,
          pulvinar ligula. Mauris eu leo mattis, dictum turpis sit amet, bibendum nisi. Nulla facilisi.
        </div>
      </div>
    </div>
  </div>

  
  <div class="ui full-width-container">

    <div class="ui accordion">
      <div class="ui section-heading">
        Fruits
      </div>
      <div class="item">
        <div class="ui sub-heading">
          Banana is a yellow fruit
        </div>
        <div class="ui description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum lectus elit, nec lobortis quam
          iaculis vel. Donec et tempor magna. In eget diam dui. Suspendisse id nulla efficitur, ultricies nisi sit amet,
          posuere ante. Suspendisse vel gravida nibh, non fringilla felis. Duis eget sem id lectus congue vehicula.
          Etiam vehicula nulla purus, vitae aliquet tortor ullamcorper vitae. Vivamus id felis dictum, molestie felis
          at, interdum turpis. Maecenas fermentum dui eget scelerisque mollis. Morbi ut lorem commodo, fermentum ex ac,
          pulvinar ligula. Mauris eu leo mattis, dictum turpis sit amet, bibendum nisi. Nulla facilisi.
        </div>
      </div>
      <div class="item">
        <div class="ui sub-heading">
          Banana is a yellow fruit
        </div>
        <div class="ui description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum lectus elit, nec lobortis quam
          iaculis vel. Donec et tempor magna. In eget diam dui. Suspendisse id nulla efficitur, ultricies nisi sit amet,
          posuere ante. Suspendisse vel gravida nibh, non fringilla felis. Duis eget sem id lectus congue vehicula.
          Etiam vehicula nulla purus, vitae aliquet tortor ullamcorper vitae. Vivamus id felis dictum, molestie felis
          at, interdum turpis. Maecenas fermentum dui eget scelerisque mollis. Morbi ut lorem commodo, fermentum ex ac,
          pulvinar ligula. Mauris eu leo mattis, dictum turpis sit amet, bibendum nisi. Nulla facilisi.
        </div>
      </div>
      
    </div>
    <div class="ui accordion">
      <div class="ui section-heading">
        Fruits
      </div>
      <div class="item">
        <div class="ui sub-heading">
          Banana is a yellow fruit
        </div>
        <div class="ui one-liner-captions">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum lectus elit, nec lobortis quam
          iaculis vel. Donec et tempor magna. In eget diam dui. Suspendisse id nulla efficitur, ultricies nisi sit amet,
          posuere ante. Suspendisse vel gravida nibh, non fringilla felis. Duis eget sem id lectus congue vehicula.
          Etiam vehicula nulla purus, vitae aliquet tortor ullamcorper vitae. Vivamus id felis dictum, molestie felis
          at, interdum turpis. Maecenas fermentum dui eget scelerisque mollis. Morbi ut lorem commodo, fermentum ex ac,
          pulvinar ligula. Mauris eu leo mattis, dictum turpis sit amet, bibendum nisi. Nulla facilisi.
        </div>
      </div>
      <div class="item">
        <div class="ui sub-heading">
          Banana is a yellow fruit
        </div>
        <div class="ui one-liner-captions">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum lectus elit, nec lobortis quam
          iaculis vel. Donec et tempor magna. In eget diam dui. Suspendisse id nulla efficitur, ultricies nisi sit amet,
          posuere ante. Suspendisse vel gravida nibh, non fringilla felis. Duis eget sem id lectus congue vehicula.
          Etiam vehicula nulla purus, vitae aliquet tortor ullamcorper vitae. Vivamus id felis dictum, molestie felis
          at, interdum turpis. Maecenas fermentum dui eget scelerisque mollis. Morbi ut lorem commodo, fermentum ex ac,
          pulvinar ligula. Mauris eu leo mattis, dictum turpis sit amet, bibendum nisi. Nulla facilisi.
        </div>
      </div>
    </div>
  </div>
  <script  src="../../library/javascript/components/accordion.js"></script>
  <script src="../../library/javascript/components/color_change.js"></script>
  <script src="../../library/javascript/components/icon-library.js"></script>

</body>

</html>