<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
  </head>
  <body class="light">
      Notice item
      <hr />
        <div class="ui list list-bluebg noticeItem">
            <div class="listItem">
                <div class="ui intro-text">
                    <div class="ui itemLeft">Academics</div>
                    <div class="ui itemRight">Oct 26, 20</div>
                </div>
                <div class="ui sub-heading noticeContent">Microsoft Team Support to conduct online classes 2020 Microsoft Team Support to conduct online classes 2020</div>
                <div class="divider"></div>
            </div>
            <div class="listItem">
                <div class="ui intro-text">
                    <div class="ui itemLeft">Academics</div>
                    <div class="ui itemRight">Oct 26, 20</div>
                </div>
                <div class="ui sub-heading noticeContent">Microsoft Team Support to conduct online classes 2020 Microsoft Team Support to conduct online classes 2020</div>
                <div class="divider"></div>
            </div>
            <div class="listItem">
                <div class="ui intro-text">
                    <div class="ui itemLeft">Academics</div>
                    <div class="ui itemRight">Oct 26, 20</div>
                </div>
                <div class="ui sub-heading noticeContent">Microsoft Team Support to conduct online classes 2020 Microsoft Team Support to conduct online classes 2020</div>
                <div class="divider"></div>
            </div>
            <div class="listItem">
                <div class="ui intro-text">
                    <div class="ui itemLeft">Academics</div>
                    <div class="ui itemRight">Oct 26, 20</div>
                </div>
                <div class="ui sub-heading noticeContent">Microsoft Team Support to conduct online classes 2020 Microsoft Team Support to conduct online classes 2020</div>
            </div>
        </div>
  </body>
</html>