<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
  </head>
  <body class="light">
    
    Numbered List
    <hr />

      <div class="ui numbered-list">
        <div class="list">
            <div class="content-flex">
                <div class="ui sub-heading">Contact the faculty Members</div>
                <div class="description">If the client has identified an individual faculty member who can handle his problem, he can write a few words
                    If the client has identified an individual faculty member who can handle his problem, he can write a few words
                    If the client has identified an individual faculty member who can handle his problem, he can write a few words
                    If the client has identified an individual faculty member who can handle his problem, he can write a few words
                    If the client has identified an individual faculty member who can handle his problem, he can write a few words
                </div>
            </div>
        </div>
        <div class="list">
            <div class="content-flex">
                <div class="ui sub-heading">Contact the faculty Members Contact the faculty Members</div>
                <div class="description">If the client has identified an individual faculty member who can handle his problem, he can write a few words
                    If the client has identified an individual faculty member who can handle his problem, he can write a few words
                    If the client has identified an individual faculty member who can handle his problem, he can write a few words
                </div>
            </div>
        </div>
        <div class="list">
            <div class="content-flex">
                <div class="description">If the client has identified an individual faculty member who can handle his problem, he can write a few words
                </div>
            </div>
        </div>
        <div class="list">
            <div class="content-flex">
                <div class="ui sub-heading">Contact the faculty Members</div>
            </div>
        </div>
      </div>

      <div class="ui numbered-list inverted">
        <div class="list">
            <div class="content-flex">
                <div class="ui inverted sub-heading">Contact the faculty Members</div>
                <div class="description">If the client has identified an individual faculty member who can handle his problem, he can write a few words
                    If the client has identified an individual faculty member who can handle his problem, he can write a few words
                    If the client has identified an individual faculty member who can handle his problem, he can write a few words
                    If the client has identified an individual faculty member who can handle his problem, he can write a few words
                    If the client has identified an individual faculty member who can handle his problem, he can write a few words
                </div>
            </div>
        </div>
        <div class="list">
            <div class="content-flex">
                <div class="ui inverted sub-heading">Contact the faculty Members Contact the faculty Members</div>
                <div class="description">If the client has identified an individual faculty member who can handle his problem, he can write a few words
                    If the client has identified an individual faculty member who can handle his problem, he can write a few words
                    If the client has identified an individual faculty member who can handle his problem, he can write a few words
                </div>
            </div>
        </div>
        <div class="list">
            <div class="content-flex">
                <div class="description">If the client has identified an individual faculty member who can handle his problem, he can write a few words
                    If the client has identified an individual faculty member who can handle his problem, he can write a few words
                    If the client has identified an individual faculty member who can handle his problem, he can write a few words
                    If the client has identified an individual faculty member who can handle his problem, he can write a few words
                    If the client has identified an individual faculty member who can handle his problem, he can write a few words
                    If the client has identified an individual faculty member who can handle his problem, he can write a few words
                    If the client has identified an individual faculty member who can handle his problem, he can write a few words
                </div>
            </div>
        </div>
        <div class="list">
            <div class="content-flex">
                <div class="ui inverted sub-heading">Contact the faculty Members Contact the faculty Members Contact the faculty Members Contact the faculty Members Contact the faculty Members Contact the faculty Members</div>
            </div>
        </div>
      </div>

    <script src="../../library/javascript/components/numbered-list.js"></script>
  </body>
</html>
