<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
  </head>
  <body class="light">
    <div class="flex">
      <div class="ui numbered-card">
        <div class="heading">
          <div class="number">01</div>
          <div class="title">COMPANIES VISIT IIT ROORKEE CAMPUS FOR PPT</div>
        </div>
        <div class="description">
          In fact, it may be difficult to find any big project of nation building where the contribution of the graduates of this institute is not significant. In the past, students recruited from IIT Roorkee.
        </div>
      </div>
      <div class="ui numbered-card">
        <div class="heading">
          <div class="number">02</div>
          <div class="title">RESUME SHORTLISTING BY COMPANIES</div>
        </div>
        <div class="description">
          In fact, it may be difficult to find any big project of nation building where the contribution of the graduates of this institute is not significant. In the past, students recruited from IIT Roorkee.
        </div>
      </div>
      <div class="ui numbered-card">
        <div class="heading">
          <div class="number">03</div>
          <div class="title">TECHNICAL/APTITUDE TEST AND FURTHER SELECTION</div>
        </div>
        <div class="description">
          In fact, it may be difficult to find any big project of nation building where the contribution of the graduates of this institute is not significant. In the past, students recruited from IIT Roorkee.
        </div>
      </div>
    </div>
  </body>
</html>
