<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
  </head>

<div class="ui full-width-container" >
	<div class="ui list" >
		<div class="liatItem" >
			<div class="title">
				<div class="ui full-width-container" >
					List Item Title
				</div>
			</div>
			<div class="description">
				<div class="ui full-width-container" >
					List Item Description
				</div>
			</div>
		</div>
		<div class="liatItem" >
			<div class="title">
				<div class="ui full-width-container" >
					List Item Title
				</div>
			</div>
			<div class="description">
				<div class="ui full-width-container" >
					List Item Description
				</div>
			</div>
		</div>
		<div class="liatItem" >
			<div class="title">
				<div class="ui full-width-container" >
					List Item Title
				</div>
			</div>
			<div class="description">
				<div class="ui full-width-container" >
					List Item Description
				</div>
			</div>
		</div>
		<div class="liatItem" >
			<div class="title">
				<div class="ui full-width-container" >
					List Item Title
				</div>
			</div>
			<div class="description">
				<div class="ui full-width-container" >
					List Item Description
				</div>
			</div>
		</div>
		
	</div>
	
</div>
</html>
