<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
  </head>

  <body class="light">
    Page Title Box

    <hr />

    <div class="ui full-width-container gradient-blue">
      <div class="ui title-box">
        <div class="ui breadcrumb">
          <div class="ui link">
            <a href="#" class="link-content">Computer Science and Engineering</a>
          </div>
          <img class="ui icon" data-icon="right_arrow_breadcrumb" />
          <div class="ui link">
            <a href="#" class="link-content">Admissions</a>
          </div>
          <img class="ui icon" data-icon="right_arrow_breadcrumb" />
          <div class="ui link">
            <a href="#" class="link-content">PG</a>
          </div>
        </div>
        <div class="ui section-heading">Admissions</div>
        <div class="ui one-liner-captions">
          IITR hosts 23 departments offering different programmes for UG, PG and
        </div>
      </div>
    </div>
    <script src="../../library/javascript/components/breadcrumb.js"></script>
    <script src="../../library/javascript/components/color_change.js"></script>
    <script src="../../library/javascript/components/icon-library.js"></script>
  </body>
</html>
