<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />

    <title>Publication List</title>
  </head>
  <body class="light">
    <div class="ui publication-list">
      <div class="list-item">
        <div class="head">
          <div class="title">ISBN: 978-0444640178</div>
          <a href="#" class="ui button">View</a>
        </div>
        <div class="intro-text">V.K. Rathore and P. Mondal | Elsevier | 2018</div>
        <div class="description">
          Polyurethane incorporated Chitosan/alginate core-shell nanoparticles
          for controlled oral insulin delivery.
        </div>
        <hr />
      </div>
      <div class="list-item">
        <div class="head">
          <div class="title">ISBN: 978-0444640178</div>
          <a href="#" class="ui button">View</a>
        </div>
        <div class="intro-text">V.K. Rathore and P. Mondal | Elsevier | 2018</div>
        <div class="description">
          Polyurethane incorporated Chitosan/alginate core-shell nanoparticles
          for controlled oral insulin delivery.
        </div>
        <hr />
      </div>
      <div class="list-item">
        <div class="head">
          <div class="title">ISBN: 978-0444640178</div>
          <a href="#" class="ui button">View</a>
        </div>
        <div class="intro-text">V.K. Rathore and P. Mondal | Elsevier | 2018</div>
        <div class="description">
          Polyurethane incorporated Chitosan/alginate core-shell nanoparticles
          for controlled oral insulin delivery.
        </div>
        <hr />
      </div>
    </div>
  </body>
</html>
