<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../library/css/index.css" />
  <title>Quote Card</title>
</head>

<body class="dark">
  <div class="ui full-width-container ">
    <div class="ui flexbox">
      <div class="ui quote-card">
        <div class="quote">
          <div class="ui description">In fact, it may be difficult to find any big project of nation building where the
            contribution of the graduates of this institute is not significant. In the past, students recruited from IIT
            Roorkee have proved to be valuable assets for the companies/organizations they have joined.
            In fact, it may be difficult to find any big project of nation building where the contribution of the
            graduates of this institute is not significant. In the past, students recruited from IIT Roorkee have proved
            to be valuable assets for the companies/organizations they have joined.
          </div>
          <br />

          <div class="ui link blue">
            <a href="#" class="link-content">READ MORE</a>
          </div>
        </div>
        <img class="ui icon" data-icon="downward_polygon">
        <div class="profile">
          <div class="ui image">
            <img src="../assets/images/faculty.png" />
          </div>
          <div class="info">
            <div class="ui sub-heading">Prof Ajit K Chaturvedi Chaturvedi</div>
            <div class="ui one-liner-captions">DIRECTOR, IIT ROORKEE</div>
          </div>
        </div>
      </div>
      <div class="ui quote-card">
        <div class="quote">
          <div class="ui description">In fact, it may be difficult to find any big project of nation building where the
            contribution of the graduates of this institute is not significant. In the past, students recruited from IIT
            Roorkee have proved to be valuable assets for the companies/organizations they have joined.
            In fact, it may be difficult to find any big project of nation building where the contribution of the
            graduates of this institute is not significant. In the past, students recruited from IIT Roorkee have proved
            to be valuable assets for the companies/organizations they have joined.
          </div>
          <br />

          <div class="ui link blue">
            <a href="#" class="link-content">READ MORE</a>
          </div>
        </div>
        <img class="ui icon" data-icon="downward_polygon">
        <div class="profile">
          <div class="ui image">
            <img src="../assets/images/faculty.png" />
          </div>
          <div class="info">
            <div class="ui sub-heading">Prof Ajit K Chaturvedi Chaturvedi</div>
            <div class="ui one-liner-captions">DIRECTOR, IIT ROORKEE</div>
          </div>
        </div>
      </div>
      <div class="ui quote-card">
        <div class="quote">
          <div class="description">In fact, it may be difficult to find any big project of nation building where the
            contribution of the graduates of this institute is not significant. In the past, students recruited from IIT
            Roorkee have proved to be valuable assets for the companies/organizations they have joined.
            In fact, it may be difficult to find any big project of nation building where the contribution of the
            graduates of this institute is not significant. In the past, students recruited from IIT Roorkee have proved
            to be valuable assets for the companies/organizations they have joined.
          </div>
          <br />

          <div class="ui link blue">
            <a href="#" class="link-content">READ MORE</a>
          </div>
        </div>
        <img class="ui icon" data-icon="downward_polygon">
        <div class="profile">
          <div class="ui image">
            <img src="../assets/images/faculty.png" />
          </div>
          <div class="info">
            <div class="ui sub-heading">Prof Ajit K Chaturvedi Chaturvedi</div>
            <div class="ui one-liner-captions">DIRECTOR, IIT ROORKEE</div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <script src="../../library/javascript/components/icon-library.js"></script>
  <script src="../../library/javascript/components/color_change.js"></script>

</body>

</html>