<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Quote Card</title>
  </head>
  <body class="light">
    <div class="ui quote-card">
        <div class="quote">
            <div class=="description">In fact, it may be difficult to find any big project of nation building where the contribution of the graduates of this institute is not significant. In the past, students recruited from IIT Roorkee have proved to be valuable assets for the companies/organizations they have joined.</div>
            <br/>
            <div class="read-more">
              READ MORE
            </div>
            <svg width="46" height="26" viewbox="0 0 46 26" xmlns="http://www.w3.org/2000/svg" fill="none"  class="triangle">
                <polygon points="1,8 45,8 23,26" fill="#999999">
            </svg>
            <div class="profile">
              <div class="picture" src=""></div>
              <div class="text">
                <div class="name">PROF AJIT K CHATURVEDI</div>
                <div class="designation">DIRECTOR, IIT ROORKEE</div>
              </div>
          </div>
        </div>
    </div>
    <script src="../../library/javascript/components/quote-card.js"></script>
  </body>
</html>
