<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../library/css/index.css" />
  <title>Document</title>
</head>

<body class="light">
  <!-- <div class="ui full-width-container">
      <div class="ui slider">
        <div
          style="height: 200px; width: 200px; background-color: aliceblue"
        ></div>
        <div
          style="height: 200px; width: 200px; background-color: yellowgreen"
        ></div>
        <div
          style="height: 200px; width: 200px; background-color: yellow"
        ></div>
        <div style="height: 200px; width: 200px; background-color: green"></div>
      </div>
    </div> -->
  <div class="ui sixty-forty-container">
    <div class="first">
      <div class="ui slider">
        <div style="height: 200px; width: 300px; background-color: aliceblue"></div>
        <div style="height: 200px; width: 300px; background-color: yellowgreen"></div>
        <div style="height: 200px; width: 300px; background-color: yellow"></div>
        <div style="height: 200px; width: 300px; background-color: green"></div>
        <div style="height: 200px; width: 300px; background-color: blue"></div>
        <div style="height: 200px; width: 300px; background-color: brown"></div>
      </div>
    </div>

    <div class="second"></div>
  </div>

  <script src="../../library/javascript/components/slider.js"></script>
</body>

</html>