<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Social Icon Library</title>
  </head>

  <body class="dark">
    <div>
      <a
        class="ui social-icon facebook_icon"
        href="https://www.facebook.com/"
      ></a>
      <a
        class="ui social-icon youtube_icon"
        href="https://www.youtube.com/"
      ></a>
      <a
        class="ui social-icon instagram_icon"
        href="https://www.instagram.com/"
      ></a>
      <a
        class="ui social-icon linkedin_icon"
        href="https://www.linkedin.com/"
      ></a>
      <a
        class="ui social-icon twitter_icon"
        href="https://www.twitter.com/"
      ></a>
      <a
        class="ui social-icon telegram_icon"
        href="https://www.telegram.com/"
      ></a>
      <a class="ui social-icon web_icon" href="https://www.iitr.ac.in/"></a>
    </div>

    <script src="../../library/javascript/components/social-icon.js"></script>
    <script src="../../library/javascript/components/icon-library.js"></script>
  </body>
</html>
