<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="https://cmsredesign.channeli.in/library/css/index.css" />
    <title>Document</title>
</head>

<body class="light">

    <div class="ui flexbox inverted">
        <div class="ui stats-card">
            <img class="ui icon" data-icon="stats_students_dark" />
            <div class="info">
                <div class="ui sub-heading">20,000+</div>
                <div class="ui one-liner-captions">STUDENTS</div>
            </div>
        </div>
        <div class="ui stats-card">
            <img class="ui icon" data-icon="stats_students_dark" />
            <div class="info">
                <div class="ui sub-heading">20,000+</div>
                <div class="ui one-liner-captions">STUDENTS</div>
            </div>
        </div>
        <div class="ui stats-card">
            <img class="ui icon" data-icon="stats_students_dark" />
            <div class="info">
                <div class="ui sub-heading">20,000+</div>
                <div class="ui one-liner-captions">STUDENTS</div>
            </div>
        </div>
        <div class="ui stats-card">
            <img class="ui icon" data-icon="stats_students_dark" />
            <div class="info">
                <div class="ui sub-heading">20,000+</div>
                <div class="ui one-liner-captions">STUDENTS</div>
            </div>
        </div>

    </div>
    <script  src="https://cmsredesign.channeli.in/library/javascript/components/icon-library.js"></script>
</body>

</html>