<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
</head>

<body class="light">
    <div class="ui stats-card">
        <div class="flex">
            <div class="flex-container">
                <div class="ui.image">
                    <img class="ui icon" data-icon="stats_students_dark" />
                </div>
                <div class="info">
                    <div class="name">
                        <div class="text">20,000+</div>
                    </div>
                    <div class="subtitle">
                        <div class="text">STUDENTS</div>
                    </div>
                </div>
            </div>
            <div class="flex-container">
                <div class="ui.image">
                    <img class="ui icon" data-icon="stats_students_dark" />
                </div>
                <div class="info">
                    <div class="name">
                        <div class="text">20,000+</div>
                    </div>
                    <div class="subtitle">
                        <div class="text">STUDENTS</div>
                    </div>
                </div>
            </div>
            <div class="flex-container">
                <div class="ui.image">
                    <img class="ui icon" data-icon="stats_students_dark" />
                </div>
                <div class="info">
                    <div class="name">
                        <div class="text">20,000+</div>
                    </div>
                    <div class="subtitle">
                        <div class="text">STUDENTS</div>
                    </div>
                </div>
            </div>
            <div class="flex-container">
                <div class="ui.image">
                    <img class="ui icon" data-icon="stats_students_dark" />
                </div>
                <div class="info">
                    <div class="name">
                        <div class="text">20,000+</div>
                    </div>
                    <div class="subtitle">
                        <div class="text">STUDENTS</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../library/javascript/components/stats-card.js"></script>
    <script src="../../library/javascript/components/icon-library.js"></script>
</body>

</html>