<!DOCTYPE html>
<html lang="en">
  <head><meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/variables/index.css" />
    <link rel="stylesheet" href="../../library/css/globals/fonts.css" />
    <link rel="stylesheet" href="../../library/css/components/stats-card.css"/>
    <title>Document</title>
  </head>
  <body class="light">
    <div class="ui stats-card">
      <div class="flex">
	<div>
          <div class="ui.icon"></div>
          <div class="info">
            <div class="name">
              <div class="text">1234</div>
	    </div>
	    <div class="subtitle">
              <div class="text">Students</div>
	    </div>
	  </div>
        </div>
      </div>
    </div>
    <script src="../../library/javascript/components/stats-card.js"></script>
  </body>
</html>
