<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../library/css/index.css" />
  <title>Document</title>
</head>

<body class="light">
  <br /><br />
  &emsp;&emsp; Table:
  <br /><br />
  <hr />
  <div class="ui full-width-container">
    <div class="ui table-container">
      <form method="post" action="">
        <table class="ui table tadminViewReport">
          <tr class="ui table-row">
            <td class="ui table-head" onclick="sortTable(this)">Number</th>
            <td class="ui table-head" onclick="sortTable(this)">Details</th>
            <td class="ui table-head" onclick="sortTable(this)">Department/Centre Invited</th>
            <td class="ui table-head" onclick="sortTable(this)">Contact Person</th>
            <td class="ui table-head" onclick="sortTable(this)">Posted On</th>
            <td class="ui table-head" onclick="sortTable(this)">Deadline</th>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/31</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/32</td>
            <td class="ui table-value">Bate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/33</td>
            <td class="ui table-value">Cate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/34</td>
            <td class="ui table-value">Mate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/35</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/36</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/37</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/38</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/39</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/40</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/41</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/42</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/43</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/44</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/45</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/46</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/47</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/48</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/49</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/50</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/51</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/52</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/53</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/54</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/55</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/56</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/57</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/58</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/59</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/60</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
        </table>
        <br />
        <br />
        <div class="ui pagination-form">
          <div class="pageNavPosition"></div>
          <div class="select">
            <select class="ui pagination-select listDisplayPerPg" name="listDisplayPerPg"
              onchange="changeNumberOfPages(this)">
              <option value="4">Show:</option>
              <option value="2">2 Entries </option>
              <option value="4">4 Entries </option>
              <option value="6">6 Entries </option>
              <option value="8">8 Entries </option>
              <option value="12">12 Entries</option>
              <option value="all">Show all</option>
            </select>
          </div>
        </div>
      </form>
      <br />
      <br />
    </div>
    <div class="ui table-container">
      <form method="post" action="">
        <table class="ui table tadminViewReport">
          <tr class="ui table-row">
            <td class="ui table-head" onclick="sortTable(this)">Number</th>
            <td class="ui table-head" onclick="sortTable(this)">Details</th>
            <td class="ui table-head" onclick="sortTable(this)">Department/Centre Invited</th>
            <td class="ui table-head" onclick="sortTable(this)">Contact Person</th>
            <td class="ui table-head" onclick="sortTable(this)">Posted On</th>
            <td class="ui table-head" onclick="sortTable(this)">Deadline</th>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">
              <div class="ui link">
                <a href="https://hellowworld.com" class="link-content">
                  E&W/Tender/31
                </a>
              </div>
            </td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/32</td>
            <td class="ui table-value">Bate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/33</td>
            <td class="ui table-value">Cate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/34</td>
            <td class="ui table-value">Mate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/35</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/36</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/37</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/38</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/39</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/40</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/41</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/42</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/43</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/44</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/45</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/46</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/47</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/48</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/49</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/50</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/51</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/52</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/53</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/54</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/55</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/56</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/57</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/58</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/59</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/60</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
        </table>
        <br />
        <br />
        <div class="ui pagination-form">
          <div class="pageNavPosition"></div>
          <div class="select">
            <select class="ui pagination-select listDisplayPerPg" name="listDisplayPerPg"
              onchange="changeNumberOfPages(this)">
              <option value="4">Show:</option>
              <option value="2">2 Entries </option>
              <option value="4">4 Entries </option>
              <option value="6">6 Entries </option>
              <option value="8">8 Entries </option>
              <option value="12">12 Entries</option>
              <option value="all">Show all</option>
            </select>
          </div>
        </div>
      </form>
      <br />
      <br />
    </div>
    <div class="ui table-container">
      <form method="post" action="">
        <table class="ui table tadminViewReport">
          <tr class="ui table-row">
            <td class="ui table-head" onclick="sortTable(this)">Number</th>
            <td class="ui table-head" onclick="sortTable(this)">Details</th>
            <td class="ui table-head" onclick="sortTable(this)">Department/Centre Invited</th>
            <td class="ui table-head" onclick="sortTable(this)">Contact Person</th>
            <td class="ui table-head" onclick="sortTable(this)">Posted On</th>
            <td class="ui table-head" onclick="sortTable(this)">Deadline</th>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/31</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/32</td>
            <td class="ui table-value">Bate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/33</td>
            <td class="ui table-value">Cate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/34</td>
            <td class="ui table-value">Mate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/35</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/36</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/37</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/38</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/39</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/40</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/41</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/42</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/43</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/44</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/45</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/46</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/47</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/48</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/49</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/50</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/51</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/52</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/53</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/54</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/55</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/56</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/57</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/58</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/59</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
          <tr class="ui table-row">
            <td class="ui table-value">E&W/Tender/60</td>
            <td class="ui table-value">Rate contract for canteen</td>
            <td class="ui table-value">CSE Department</td>
            <td class="ui table-value">Somil Jain</td>
            <td class="ui table-value">12 Aug’20</td>
            <td class="ui table-value">12 Aug’20</td>
          </tr>
        </table>
        <br />
        <br />
        <div class="ui pagination-form">
          <div class="pageNavPosition"></div>
          <div class="select">
            <select class="ui pagination-select listDisplayPerPg" name="listDisplayPerPg"
              onchange="changeNumberOfPages(this)">
              <option value="4">Show:</option>
              <option value="2">2 Entries </option>
              <option value="4">4 Entries </option>
              <option value="6">6 Entries </option>
              <option value="8">8 Entries </option>
              <option value="12">12 Entries</option>
              <option value="all">Show all</option>
            </select>
          </div>
        </div>
      </form>
      <br />
      <br />
    </div>
  </div>
  <script src="../../library/javascript/components/table.js"></script>

  <script src="../../library/javascript/components/color_change.js"></script>
</body>

</html>