<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../library/css/index.css" />
    <title>Document</title>
  </head>

  <body class="dark">
    Tabs
    <hr />
    Primary Tabs
    <hr />
    <div class="ui full-width-container">
      <div class="ui tabs-container primary">
        <div class="tabs">
          <div class="tab">Alpha</div>
          <div class="tab">Alpha</div>
          <div class="tab">Alpha</div>
          <div class="tab">Alpha</div>
        </div>
        <div class="contents">
          <div class="content">
            <div class="ui flexbox">
              <div class="ui mini-image-card">
                <div class="ui image">
                  <img src="../assets/images/Academics-1-450x350.jpg" />
                </div>
                <div class="caption">Academic Affairs Association</div>
              </div>
              <div class="ui mini-image-card">
                <div class="ui image">
                  <img src="../assets/images/Academics-1-450x350.jpg" />
                </div>
                <div class="caption">Academic Affairs Association</div>
              </div>
              <div class="ui mini-image-card">
                <div class="ui image">
                  <img src="../assets/images/Academics-1-450x350.jpg" />
                </div>
                <div class="caption">Academic Affairs Association</div>
              </div>
              <div class="ui mini-image-card">
                <div class="ui image">
                  <img src="../assets/images/Academics-1-450x350.jpg" />
                </div>
                <div class="caption">Admistrations</div>
              </div>
              <div class="ui mini-image-card">
                <div class="ui image">
                  <img src="../assets/images/Academics-1-450x350.jpg" />
                </div>
                <div class="caption">Faculty Affairs</div>
              </div>
            </div>
          </div>
          <div class="content"></div>
          <div class="content"></div>
          <div class="content"></div>
        </div>
      </div>
    </div>
    <hr />
    Secondary Tabs
    <hr />
    <div class="ui full-width-container">
      <div class="ui tabs-container secondary">
        <div class="tabs">
          <div class="tab">Alpha</div>
          <div class="tab">Bravo</div>
          <div class="tab">Charlie</div>
          <div class="tab">Delta</div>
        </div>
        <div class="contents">
          <div class="content">
            <div class="ui flexbox">
              <div class="ui mini-image-card">
                <div class="ui image">
                  <img src="../assets/images/Academics-1-450x350.jpg" />
                </div>
                <div class="caption">Academic Affairs Association</div>
              </div>
              <div class="ui mini-image-card">
                <div class="ui image">
                  <img src="../assets/images/Academics-1-450x350.jpg" />
                </div>
                <div class="caption">Academic Affairs Association</div>
              </div>
              <div class="ui mini-image-card">
                <div class="ui image">
                  <img src="../assets/images/Academics-1-450x350.jpg" />
                </div>
                <div class="caption">Academic Affairs Association</div>
              </div>
              <div class="ui mini-image-card">
                <div class="ui image">
                  <img src="../assets/images/Academics-1-450x350.jpg" />
                </div>
                <div class="caption">Admistrations</div>
              </div>
              <div class="ui mini-image-card">
                <div class="ui image">
                  <img src="../assets/images/Academics-1-450x350.jpg" />
                </div>
                <div class="caption">Faculty Affairs</div>
              </div>
            </div>
          </div>
          <div class="content">
            <!-- <div style="width: 100%; height: 200px; background-color: antiquewhite;"></div> -->
          </div>
          <div class="content">
            <!-- <div style="width: 100%; height: 200px; background-color: aqua;"></div> -->
          </div>
          <div class="content">
            <!-- <div style="width: 100%; height: 200px; background-color: aquamarine;"></div> -->
          </div>
        </div>
      </div>
    </div>
    <hr />
    Tabs in tabs
    <hr />
    <div class="ui full-width-container">
    <div class="ui tabs-container primary">
      <div class="tabs">
        <div class="tab">Alpha</div>
        <div class="tab">Bravo</div>
        <div class="tab">Charlie</div>
        <div class="tab">Delta</div>
      </div>
      <div class="contents">
        <div class="content">
          <div class="ui tabs-container secondary">
            <div class="tabs">
              <div class="tab">Echo</div>
              <div class="tab">Foxtrot</div>
              <div class="tab">Golf</div>
              <div class="tab">Hotel</div>
              <div class="tab">India</div>
              <div class="tab">Juliet</div>
            </div>
            <div class="contents">
              <div class="content">
                <div
                  style="width: 100%; height: 200px; background-color: azure"
                ></div>
              </div>
              <div class="content">
                <div
                  style="width: 100%; height: 200px; background-color: beige"
                ></div>
              </div>
              <div class="content">
                <div
                  style="width: 100%; height: 200px; background-color: bisque"
                ></div>
              </div>
              <div class="content">
                <div
                  style="width: 100%; height: 200px; background-color: black"
                ></div>
              </div>
              <div class="content">
                <div
                  style="
                    width: 100%;
                    height: 200px;
                    background-color: blanchedalmond;
                  "
                ></div>
              </div>
              <div class="content">
                <div
                  style="width: 100%; height: 200px; background-color: blue"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <div
            style="width: 100%; height: 200px; background-color: antiquewhite"
          ></div>
        </div>
        <div class="content">
          <div style="width: 100%; height: 200px; background-color: aqua"></div>
        </div>
        <div class="content">
          <div
            style="width: 100%; height: 200px; background-color: aquamarine"
          ></div>
        </div>
      </div>
    </div>
  </div>

    <script src="../../library/javascript/components/tabs.js"></script>
    <script src="../../library/javascript/components/color_change.js"></script>
  </body>
</html>
