<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../library/css/index.css" />
  <title>Document</title>
</head>

<body class="dark">

  Typography
  <hr />

  <div class="ui full-width-container">

    <div class="ui section-heading">
      Section Heading Section Heading
    </div>
    <!-- <a href="#" class="ui inactive-section-link">Inactive Section Link Inactive Section Link</a>
    <br />
    <a href="#" class="ui active-section-link">Active Section Link Active Section Link</a> -->
    <div class="ui sub-heading">
      Sub-heading Sub-heading Sub-heading Sub-heading Sub-heading Sub-heading Sub-heading
    </div>
    <div class="ui one-liner-captions">
      One-liner captions One-liner captions One-liner captions One-liner captions One-liner captions One-liner captions
      One-liner captions One-liner captions One-liner captions One-liner captions One-liner captions One-liner captions
    </div>
    <div class="ui intro-text">
      Introductory text within section or paragraphs. Introductory text within section or paragraphs. Introductory text
      within section or paragraphs.
      Introductory text within section or paragraphs. Introductory text within section or paragraphs. Introductory text
      within section or paragraphs.
    </div>
    <div class="ui intro-text">
      Introductory text within section or paragraphs. Introductory text within section or paragraphs. Introductory text
      within section or paragraphs.
      Introductory text within section or paragraphs. Introductory text within section or paragraphs. Introductory text
      within section or paragraphs.
    </div>

    
    <div class="ui icon-typography">
      <img class="ui icon" data-icon="email" />
      <div class="ui intro-text">
        Please check me out
      </div>
    </div>
    <div class="ui icon-typography">
      <img class="ui icon" data-icon="email" />
      <div class="ui intro-text">
        PLEASE CHECK ME OUT!!!!!!!!!!!!!!!!!!!!!!!!!!
      </div>
    </div>
    <div class="ui icon-typography">
      <img class="ui icon" data-icon="email" />
      <div class="ui intro-text">
        PLEASE CHECK ME OUT!!!!!!!!!!!!!!!!!!!!!!!!!!
      </div>
    </div>
  </div>
  <div class="ui full-width-container gradient-blue">

    <div class="ui inverted section-heading">
      Inverted Section Heading Inverted Section Heading
    </div>
    <div class="ui inverted sub-heading">
      Sub-heading Sub-heading Sub-heading Sub-heading Sub-heading Sub-heading Sub-heading
    </div>
    <div class="ui inverted one-liner-captions">
      One-liner captions One-liner captions One-liner captions One-liner captions One-liner captions One-liner captions
      One-liner captions One-liner captions One-liner captions One-liner captions One-liner captions One-liner captions
    </div>
    <div class="ui inverted intro-text">
      Introductory text within section or paragraphs. Introductory text within section or paragraphs. Introductory text
      within section or paragraphs.
      Introductory text within section or paragraphs. Introductory text within section or paragraphs. Introductory text
      within section or paragraphs.
    </div>

  </div>
  <script src="../../library/javascript/components/icon-library.js"></script>
</body>

</html>