/* Formatting and Check on Conflicting Imports */

@import url(./index.css);
.menuWrapper {
    margin: 5px 0 5px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuContainer {
    justify-content: center;
    width: 100%;
}

#hamBurger {
    display: none;
}

nav.blue ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

nav.blue {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
}

nav.blue div {
    max-width: 100% !important;
}

nav.blue a {
    color: #232323;
    font-family: "Lato";
    font-size: 13px !important;
    text-decoration: none;
    padding: 5px;
}

nav.blue li a {
    display: block;
    padding: 5px;
    padding-bottom: 6px;
    background-position: 0px 0px;
}


/* Hover Effects (Could be Done with CSS, but JS is used) */

nav.blue li a:hover,
nav li.active a {
    background-position: 0px -36px;
    cursor: pointer;
    font-weight: bold;
}


/* Vertical Menu */


/* Horizontal Side-Menu */


/* Individual Container */


/* Special Node */

div.menuSpecialNode {
    display: flex;
    max-width: 100%;
}

div.menuSpecialNode a {
    display: block;
    width: 100% !important;
    max-width: 200px;
    text-transform: uppercase !important;
    transition: max-width 0.3s ease-out;
}

div.menuSpecialNode a:hover {
    background-color: #5183B826;
}


/* Sub-Nodes and Leaf Nodes of Special Node (Vertical Menu) */

.menuInnerContainer {
    display: flex;
    transform: scaleY(0);
    width: 0;
    transition: transform 0.16s ease-in-out;
    position: relative;
    border-radius: 2px;
}

.menuInnerContainer li {
    background-color: #5183B826;
    min-width: 200px;
}

.menuInnerContainer li a {
    z-index: 1000;
    display: block;
}


/* Utils for Vertical Menu */

.visible {
    transform: scaleY(1);
    overflow: visible;
    /* max-width: 100%;  Side-Menu is affected due to this :(*/
    width: 100%;
}

.menuInnerContainer.endInnerContainer {
    position: static;
}


/* Parent Nodes inside Special Node (Side-Menu) */

li.menuParentNode {
    display: flex;
}

li.menuParentNode>a {
    max-width: 100%;
    min-width: 80%;
    align-items: end;
    position: relative;
}

.menuParentNodeUL {
    z-index: 1000;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    left: 102%;
    top: 0%;
    background-color: #5183B826;
    transition: transform 0.1s ease-in-out 0s, z-index 0s linear 0.01s, left 0s linear 0.01s;
    font-weight: normal !important;
}

li.menuParentNode>a>img {
    display: none;
    transform: rotate(-90deg);
    position: absolute;
    top: 40%;
    right: 0%;
    margin-left: auto;
}


/* Side Menu Utils */

ul.menuParentNodeUL.parentVisible {
    transform: scaleX(1);
    overflow: visible;
}

.menuParentNode.endHorizontal>.menuParentNodeUL {
    left: -102%;
}


/* Parent Node Utils */

.menuParentNode.activeParentNode {
    text-decoration: underline;
}

.menuParentNode>a>img.activeParentNode {
    display: block !important;
}


/*Smaller PC Screens*/

@media only screen and (max-width: 1200px) {
    nav.blue a {
        color: #232323;
        font-family: "Lato";
        font-size: 12px !important;
        text-decoration: none;
        padding: 5px;
    }
}

@media only screen and (max-width: 1024px) {
    nav.blue a {
        color: #232323;
        font-family: "Lato";
        font-size: 11px !important;
        text-decoration: none;
        padding: 5px;
    }
}