.light {
    --breadcrumb-background: #12121266;
    --breadcrumb-background-inverted: linear-gradient( 180deg, rgba(0, 103, 179, 0.8) 1.04%, #5183b8 30.21%, #5183b8 76.56%);
    --breadcrumb-color: white;

    --faculty-card-border: #c4c4c480;
    --faculty-card-background: #fff;
    --faculty-card-border-color: #c4c4c480;
    --faculty-card-shadow-color: rgba(134, 134, 134, 0.05);
    --faculty-card-name-color: #232323;
    --faculty-card-designation-color: #868686;
    --faculti-card-info-color: #333333;
    --faculty-card-description-color: #232323;
    
    --description-card-background: #f7f7f799;
    --description-card-background-inverted: #5183b8;
    --description-card-color-inverted: white;
    
    --accordion-gray-background: #f7f7f7;
    --accordion-divider-color: #5183b8;
    --accordion-description-color: #666666;
    
    --image-accordion-background-color: rgba(9, 91, 151, 0.04);
    --image-accordion-border: solid rgba(4, 47, 120, 0.1) 1px;
    --image-accordion-divider-color: #eae8e4;
    
    --tabs-primary-active-font-color: #ffffff;
    --tabs-primary-active-background-color: #5183b8;
    --tabs-primary-container-base-color: #5183b8;
    --tabs-secondary-active-color: #0067b3;
    --tabs-secondary-container-base-color: #b8c9d9;
    
    --flexbox-background: #f0f1f6;
    --flexbox-background-inverted: linear-gradient( 180deg, rgba(0, 103, 179, 0.8) 2.6%, #5183b8 19.79%, #5183b8 61.98%);
    
    --numbered-list-background: #ffffff;
    --numbered-list-title-color: #000000de;
    --numbered-list-description-color: #00000099;
    --numbered-list-background-inverted: linear-gradient( 180deg, rgba(0, 103, 179, 0.8) 11.46%, #5183b8 32.29%, #5183b8 90.1%);
    --numbered-list-title-color-inverted: #ffffff;
    --numbered-list-description-color-inverted: #ffffff99;
}

.dark {}
