.light {
  --gradient-blue: linear-gradient(
    180deg,
    rgba(0, 103, 179, 0.8) 1.04%,
    #5183b8 30.21%,
    #5183b8 76.56%
  );
  --formal-blue: #5183b8;
  --section-blue: rgba(26, 118, 187, 0.87);
  --bright-blue: #0067b3;
  --light-blue: rgba(229, 238, 244, 0.49);
  --grey-blue: #f0f1f6;
  --white: #ffffff;
  --black: #232323;
  --heading-black: #4c4c4c;
  --grey: #666666;
  --light-grey: #f7f7f7;
  --yellow: #ffd53d;
  --caption-grey: #999999;
  --hover-black: #181818;
  --very-gery-blue: #cfdbe6;
  --social-icon-facebook-hover-color: #3b5998;
  --social-icon-twitter-hover-color: #00aced;
  --social-icon-linkedin-hover-color: #0077b5;
  --social-icon-instagram-hover-color: #e1306c;
  --social-icon-youtube-hover-color: #bb0000;
}

.dark {
  --gradient-blue: #81dbfe;
  --formal-blue: #E1E1E1;
  --section-blue: #E1E1E1;
  --bright-blue:#81dbfe;
  --light-blue: #111111;
  --grey-blue: #4c4c4c;
  --white: #111111;
  --black: #eeeeee;
  --heading-black: #E1E1E1;
  --grey: #EEEEEE;
  --light-grey: #111111;
  --yellow: #ffd53d;
  --caption-grey: #999999;
  --hover-black: #f7f7f7;
  --very-gery-blue: #4C4C4C;
  --social-icon-facebook-hover-color: #3b5998;
  --social-icon-twitter-hover-color: #00aced;
  --social-icon-linkedin-hover-color: #0077b5;
  --social-icon-instagram-hover-color: #e1306c;
  --social-icon-youtube-hover-color: #bb0000;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('./ui/segoeui.eot');
  src: local('Segoe UI'), local('Segoe'), local('Segoe WP'),
    url('./ui/segoeui.eot?#iefix') format('embedded-opentype'),
    url('./ui/segoeui.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
