:root {
    --card-width: 35.25rem;
    --card-height: 13.938rem;
    --card-padding: 1rem;
    --card-border-radius: 0.125rem;
    --image-card-width: 22.625rem;
    --card-border-width: 0.063rem;
    --complete-info-card-width: 17rem;
    --description-card-width: 30rem;
    --description-card-height: 28.125rem;
    --description-card-mobile-width: 22.5rem;
    --description-card-mobile-height: 18.125rem;
    --stats-card-height: 20rem;
    --card-border-radius: 2px;
    --image-card-width: 364px;
    --card-border-width: 1px;
    --accordion-arrow-size: 8px;
    --accordion-title-font-size: 1.2rem;
    --accordion-description-font-size: 1rem;
    --accordion-description-line-height: 1.5rem;
    --image-accordion-title-font-size: 2rem;
    --image-accordion-content-title-font-size: 1.5rem;
    --image-accordion-arrow-size: 0.8rem;
    --tabs-font-size: 1.1rem;
    --tabs-mobile-font-size: 1rem;
    --tabs-secondary-font-weight: 300;
    --tabs-secondary-active-font-weight: 400;
    --quote-card-width: 45.4375rem;
    --numbered-card-width: 335px;
    --numbered-card-number-font-size: 3.75rem;
    --numbered-card-title-font-size: 1.25rem;
    --contact-card-width: 573px;
    --contact-card-height: 536px;
}
