.ui.bulleted-list {
    max-width: 100%;
    /* padding: 1.25rem; */
}

/* .ui.bulleted-list.inverted {
    background:var(--gradient-blue);
} */

.ui.bulleted-list > .listItem {
    display: flex;
    margin: 1.25rem;
    line-height: 1.3;
    cursor: pointer;
}

.ui.bulleted-list > .listItem > .icon_image {
    width: 1rem;
    height: 1rem;
    margin-right: 0.625rem;
}

.ui.bulleted-list > .listItem > .ui.one-liner-captions{
    padding: 0;
}

/* .ui.bulleted-list.inverted > .listItem >.ui.one-liner-captions{
    color: var(--white);
    padding: 0;
} */
