.ui.bulleted-list {
    background-color: var(--bulleted-list-background);
    max-width: 100%;
    padding: 1.25rem;
}

.ui.bulleted-list.inverted {
    background:var(--bulleted-list-background-inverted);
}

.ui.bulleted-list > .listItem {
    display: flex;
    margin: 1.25rem;
    line-height: 1.3;
}

.ui.bulleted-list > .listItem > .icon_image {
    width: 1rem;
    height: 1rem;
    margin-right: 0.625rem;
}

.ui.bulleted-list > .listItem > .ui.one-liner-captions{
    color: var(--bulleted-list-description-color);
    padding: 0;
}

.ui.bulleted-list.inverted > .listItem >.ui.one-liner-captions{
    color: var(--bulleted-list-description-color-inverted);
    padding: 0;
}
