.ui.complete-info-card {
  max-width: var(--complete-info-card-width);
}

.ui.complete-info-card > .flex {
  display: flex;
}

.ui.complete-info-card .name {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  color: #232323;
  
}
.ui.complete-info-card .subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  padding-bottom: 0.8em;
  padding-top: 0.1em;
}
.ui.complete-info-card .description {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8em;
  color: #666666;
}
