  
  .ui.complete-info-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 5rem;
      padding-right: 5rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
  }
  
  .ui.complete-info-card .flex {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;
      flex-wrap: wrap;
      padding-bottom: 0.3rem;
      /* gap: 4.25rem; */
      /* padding: 2.625rem 9.875rem 1.125rem; */
  }
  .ui.complete-info-card > .flex > .info {
      padding-top: 0.3rem;
  }

  .ui.complete-info-card > .flex > .info > .ui.link.arrow-link {
    text-align: left;
    padding-bottom: 0;
    margin: 0;
    color: var(--white);
}
.ui.complete-info-card > .flex > .info > .ui.one-liner-captions {
    padding-left: 0.35rem;
    /* color: #000000; */
    padding-top: 0rem;
    font-size: 0.8rem;
}

.ui.complete-info-card > .ui.intro-text {
    font-size: 0.8rem;
    width: 20rem;
    padding-top: 0rem;
}

@media only screen and (max-width: 900px) {
    .ui.complete-info-card {
        padding: 0.5rem;
        max-width: 80%;
        -ms-overflow-style: hidden;
    }
    .ui.complete-info-card > .ui.intro-text {
        max-width: 90%;
    }

    .ui.complete-info-card::-webkit-scrollbar {
        display: none;
    }
}
