.ui.contact-card {
    width: var(--contact-card-width);
    height: var(--contact-card-height);
    line-height: 1.5rem;
    padding: 5.125rem 9.9375rem 1rem 4.75rem;
    box-sizing: border-box;
}

.ui.contact-card .heading{
    font-size: 1.75rem;
    line-height: 1.5rem;
    color: var(--contact-card-heading-color);
    font-family: var(--font-lato);
    margin-bottom: 3rem;
}

.ui.contact-card .description{
    line-height: 2rem;
    font-size: 1.125rem;
}

.ui.contact-card .social{
    display:flex;
    gap: .875rem;
}

.ui.contact-card .phone,
.ui.contact-card .mail {
    display: flex;
    gap: .625rem;
    align-items: center;
}

.ui.contact-card .icon{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--contact-card-icon-background-color);
    background-repeat: no-repeat;
    background-position: center;
}
.ui.contact-card .icon:hover{
    background-color: var(--contact-card-icon-hover-color);
}
