.description-container {
  margin: 0 2rem;
}

.ui.description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 1.5rem;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}

.nunito-sans {
  font-family: var(--font-nunito-sans);
}

.roboto {
  font-family: var(--font-roboto);
}

.lato {
  font-family: var(--font-lato);
}
