.ui.eighty-twenty-container {
    width: 100%;
    display: grid;
    grid-template: 1fr / 8fr 2fr;
}

.ui.eighty-twenty-container > .first {
    grid-area: 1 / 1 / 2 / 2;
}

.ui.eighty-twenty-container > .second {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui.twenty-eighty-container {
    width: 100%;
    display: grid;
    grid-template: 1fr / 2fr 8fr;
}

.ui.twenty-eighty-container > .first {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui.twenty-eighty-container > .second {
    grid-area: 1 / 2 / 2 / 3;
}

@media only screen and (max-width: 600px) {
    .ui.eighty-twenty-container {
        display: block;
    }

    .ui.twenty-eighty-container {
        display: block;
    }
}
