.ui.faculty-card {
  width: var(--card-width);
  box-shadow: inset 2px 0px 2px rgba(134, 134, 134, 0.05);
  border-radius: 4px;
  padding: 24px;
  box-sizing: border-box;
  border: 1px solid var(--faculty-card-border-color);
}

.ui.faculty-card > .flex {
  display: flex;
  gap: 4rem;
}

.ui.faculty-card .name {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #232323;
  margin-bottom: 5px;
}
.ui.faculty-card .designation {
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.02em;
  color: #868686;
  margin-bottom: 17px;
}
.ui.faculty-card .mail,
.ui.faculty-card .address,
.ui.faculty-card .phone {
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0.02em;
  margin-bottom: 18px;
  color: #333333;
  display: flex;
  gap: 0.5rem;
}

.ui.faculty-card > .body > .description{
  height:5.5rem;
  overflow: scroll;
}

.ui.faculty-card > .body > .description {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #232323;
  margin-top: 1.5rem;
}

.ui.faculty-card > .body > .read-more {
  text-align: right;
  margin-top: 1.625rem;
}
