.ui.faculty-profile {
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  padding-left: 10%;
  padding-right: 10%;
  box-shadow: 0px 4px 12px 0px #8686861a;
  border: 1px solid var(--white);
  background: var(--gradient-blue);
}
.ui.twenty-eighty-container.faculty-vertical-list .ui.table-row{
  border-bottom: 0.125rem solid var(--caption-grey) ;
}
.ui.faculty-profile .ui.twenty-eighty-container .ui.intro-text {
  color: white !important;
}
.ui.faculty-profile .ui.twenty-eighty-container .second > .ui.intro-text {
  font-size: 1.75rem;
  font-weight: bold;
}
.ui.faculty-profile .ui.twenty-eighty-container .second > .ui.button {
  background: var(--gradient-blue);
  color: white;
  border: 2px solid var(--white);
  box-sizing: border-box;
  border-radius: 2px;
  background-color: var(--white);
  box-shadow: none;
  padding: 10px;
  text-decoration: none;
  align-content: center;
  width: fit-content;
}

.ui.faculty-profile .ui.twenty-eighty-container .second > .ui.button:hover{
  background: var(--white) !important;
  color: var(--bright-blue);
}

.ui.faculty-profile .ui.twenty-eighty-container .second .ui.description {
  color: white !important;
  font-size: 1.25rem;
  overflow: hidden;
}

.ui.faculty-profile .ui.twenty-eighty-container .second .info .ui.icon {
  filter: brightness(0) invert(1);
}
.ui.faculty-profile > .twenty-eighty-container > .first {
  padding: 0rem;
  width: 13vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ui.faculty-profile .ui.intro-text {
  color: black !important;
}
.ui.faculty-profile > .twenty-eighty-container > .first > .image {
  object-fit: scale-down;
  width: 100%;
}

.ui.faculty-profile > .twenty-eighty-container > .second {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

.ui.faculty-profile > .twenty-eighty-container > .second > .button {
  align-self: flex-end;
}

.ui.faculty-profile > .twenty-eighty-container > .second > .description {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: var(--black);
  margin-top: 1.5rem;
  overflow-x: hidden;
  max-height: 6.25rem;
}

.ui.faculty-profile .info {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: -1.5rem;
}

.ui.faculty-profile .ui.icon-typography {
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0.02rem;
  margin-bottom: 1.125rem;
  color: var(--faculty-card-info-color);
  align-items: center;
  display: grid;
  grid-template-columns: 8% 92%;
}

.ui.faculty-profile .ui.icon-typography div[onclick]:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 630px) {
  .ui.faculty-profile {
    padding: 0.2rem;
    margin: 1rem;
  }
  .ui.faculty-profile .info {
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: -1rem;
  }

  .ui.faculty-profile .ui.twenty-eighty-container .second > .ui.intro-text {
    text-align: center !important;
  }

  .ui.faculty-profile .ui.twenty-eighty-container .second .ui.description {
    text-align: center !important;
  }
  .ui.faculty-profile .ui.twenty-eighty-container .second > .info{
    padding-left: 4px;
    padding-right: 1.25rem;
  }

  .ui.faculty-profile .ui.twenty-eighty-container .second > .info .ui.intro-text{
    overflow-wrap: break-word;
    min-width: 0;
  }

  .ui.faculty-profile > .twenty-eighty-container > .second {
    padding: 0rem;
  }

  .ui.faculty-profile .ui.icon-typography {
    margin-bottom: 0rem;
  }
  .ui.faculty-profile > .twenty-eighty-container > .first > .image {
    width: 40vw;
  }
  .ui.faculty-profile > .twenty-eighty-container > .first {
    width: unset;
    margin-bottom: 0.5rem;
  }
  .ui.faculty-profile > .twenty-eighty-container > .second > .button {
    align-self: center;
    /* width: 40%; */
  }
  .ui.faculty-profile > .ui.intro-text {
    margin-bottom: -1rem;
  }
  .ui.faculty-profile > .twenty-eighty-container > .second > .description {
    margin-top: -1rem;
    padding: 0.5rem;
  }
  .ui.faculty-profile > .twenty-eighty-container > .second > .description {
    overflow-x: unset;
    max-height: unset;
  }
}
@media only screen and (max-width: 775px) and (min-width: 630px) {
  .ui.faculty-profile > .twenty-eighty-container > .first > .image {
    width: 30vw;
  }
  .ui.faculty-profile > .twenty-eighty-container > .first {
    width: unset;
    margin-bottom: 1rem;
  }

  .ui.faculty-profile .ui.twenty-eighty-container .second > .ui.intro-text {
    text-align: center !important;
  }

  .ui.faculty-profile > .twenty-eighty-container > .second > .button {
    align-self: center;
  }
  .ui.faculty-profile > .twenty-eighty-container > .second > .description {
    overflow-x: unset;
    max-height: unset;
  }
}
