.ui.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--grey-blue);
}

.ui.flexbox.inverted {
    background:var(--light-blue) !important;
}

.ui.flexbox > div {
    margin: 20px;
}