.ui.full-width-container {
  max-width: 100vw;
  padding: 5vw 10vw;
}

/* For text color*/
.inverted {
  color: var(--white);
}
.ui.full-width-container.gradient-blue{
  padding: 3vw 10vw;
}

@media only screen and (max-width: 430px){
  .ui.full-width-container > .ui.image-card{
    max-width: 100vw;
    padding: 5vw 0;
  }
}
