.ui.header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--black);
  /* padding-bottom: 15px; */
  display: flex;
  flex-direction: column;
  position: relative;

}


.ui.header .darkmode {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 4px;
}

.ui.header .light-button {
  color: var(--black);
  width: 20px;
  height: 20px;
  border-radius: 2px;
  font-family: var(--font-lato);
  font-size: 1rem;
  text-align: center;
  line-height: 20px;
  border: 2px solid var(--bright-blue);
  cursor: pointer;
}

.ui.header .dark-button {
  color: var(--white);
  width: 20px;
  height: 20px;
  border-radius: 2px;
  font-family: var(--font-lato);
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
  background-color: var(--bright-blue);
  border: 2px solid var(--bright-blue);
  cursor: pointer;
}

.ui.header>.ui.main-head>.upperleft {
  display: flex !important;
  flex-direction: row;
  gap: 5%;
}

.ui.header .page-options {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  font-size: 0.75rem;
}

.ui.header .page-options a {
  text-decoration: none;
  color: var(--black);
}

.ui.header .page-options a:hover {
  text-decoration: underline;
  color: var(--hover-black);
}

.ui.header .page-search:hover {
  cursor: pointer;
}

.ui.header>.upper-head>.left-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.ui.header>.upper-head>.left-container>a {
  color: #232323;
  text-decoration: none;

}


.ui.header .right-container {
  display: flex;
  align-items: center;
}

.ui.header .sizechange {
  display: flex;
  align-items: baseline;
  font-size: 0.75rem;
  justify-content: space-between;
  width: 3.5rem;
}

.ui.header .accessibility {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.4rem;
  align-items: center;
  column-gap: 2rem;
}

.ui.header .language {
  display: flex;
  flex-direction: row;
}

.language>a:hover {
  cursor: pointer;
}

.ui.header .sizechange .small,
.ui.header .sizechange .medium,
.ui.header .sizechange .big {
  cursor: pointer;
}

.ui.header .sizechange .small {
  font-size: 14px;
}

.ui.header .sizechange .medium {
  font-size: 16px;
}

.ui.header .sizechange .big {
  font-size: 18px;
}

.ui.header .main-head {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ui.header .upper-head {
  display: flex;
  justify-content: space-between;
  background: rgba(229, 238, 244, 0.49);
  align-content: center;
  padding: 0.5rem 10%;
}

.ui.header .header-links {
  display: flex;
  gap: 1rem;
}

.ui.header .logo {
  position: relative;
  left: 85%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 25rem;
  cursor: pointer;




}

.ui.header.department .main-head {
  text-align: center;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.ui.header.department .top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
}

.ui.header.department .page-options-serach {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.logo-header {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 15px 0px;
}

.ui.header.department .logo {
  margin: auto;
}

.ui.header .hamburger-container {
  display: none;
}

.ui.header.department .page-search-header {
  display: none;
}





.logo-link {
  width: 70px;
}

.dark .ui.main-head>.logo>img {
  content: url("http://cmsredesign.channeli.in/library/assets/images/IITRLogo.png");
}

@media only screen and (max-width: 1024px) {
  .ui.header {
    width: unset;
  }

  .ui.header .upper-head {
    display: none;
  }

  .ui.header.department .top-nav {
    display: none;
  }

  .ui.header.department .page-search-header {
    display: unset;
  }

  .ui.header .sizechange,
  .ui.header .page-options,
  .ui.header .divider,
  .ui.header .right-container,
  .ui.header .left-container,
  .ui.header .language,
  .ui.header .dark-light-mode {
    display: none;
  }

  .ui.header .accessibility {
    max-width: 1rem;
  }

  .ui.header .hamburger-container {
    display: unset;
    
  }
  .ui.header .hamburger-container img {
    padding-left: 20px;
   
    margin-left: -10px; 
  }
  
  .ui.header .logo {
    position: relative;
    left: 80%;


    width: 100%;
    max-width: 20rem;
    margin: 10px;

  }

  .ui.header .main-head {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  

  .ui.header.department .main-head {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-left: 0rem;
    margin-bottom: 0;
    gap: 30%;
    width: 100%;
  }

  .ui.header.department .section-heading {
    font-size: 0.8rem;
  }

  .ui.header.department .sub-heading {
    font-size: 0.7rem;
  }

  .ui.header.department .heading-section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
  }

  
  .logo-link {
    width: 40px;
    /* margin-right: -600px;
   */
    
   
  }
  
}

.pagination-container {
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  bottom: 0;
  padding: 1rem 0;
  justify-content: center;
}

.pagination-number,
.pagination-button {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.2rem;
}

.pagination-number:hover,
.pagination-button:not(.paginated-disabled):hover {
  background: var(--white);
  cursor: pointer;
}

.pagination-number.paginated-active {
  color: var(--white);
  background: var(--gradient-blue);
}

.paginated-hidden {
  display: none;
}

@media only screen and (max-width:750px) {
  .ui.header .logo {
    position: relative;
    left: 70%;
    width: 15rem;


  }
  .ui.header.department .main-head {
    /* margin-left: 6rem; */
    gap:40%;

   
  }

  
}
@media only screen and (max-width:600px) {
 
  .ui.header.department .main-head {
    margin-left: 0rem;
    gap:30%;

   
  }

  
}

@media only screen and (max-width: 500px) {
  .ui.header {
    max-width: 95%;
  }

  .ui.header .logo {
    position: relative;
    left: 70%;

    width: 10rem;
  }

 

 
  .ui.header.department .main-head {
    margin-left: 0rem;
    gap:15%;

   
  }
}