.ui.header {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--black);
  margin-top: 50px;
  padding-bottom: 15px;
}

.ui.header .darkmode {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 4px;
}
.ui.header .light-button {
  color: var(--black);
  width: 20px;
  height: 20px;
  border-radius: 2px;
  font-family: var(--font-lato);
  font-size: 1rem;
  text-align: center;
  line-height: 20px;
  border: 2px solid var(--bright-blue);
  cursor: pointer;
}
.section-heading {
  text-align: center;
}
.sub-heading {
  text-align: center;
}
.ui.header .dark-button {
  color: var(--white);
  width: 20px;
  height: 20px;
  border-radius: 2px;
  font-family: var(--font-lato);
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
  background-color: var(--bright-blue);
  border: 2px solid var(--bright-blue);
  cursor: pointer;
}
.ui.header .page-options {
  display: flex;
  gap: 1rem;
  font-size: 0.75rem;
  width: 19.5rem;
}
.ui.header .page-options a {
  text-decoration: none;
  color: var(--black);
}
.ui.header .page-options a:hover {
  text-decoration: underline;
  color: var(--hover-black);
}
.ui.header .page-search:hover {
  cursor: pointer;
}
.ui.header .upperleft {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.ui.header .sizechange {
  display: flex;
  align-items: baseline;
  font-size: 0.75rem;
  justify-content: space-between;
  width: 3.5rem;
}
.ui.header .accessibility {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.4rem;
  align-items: center;
  width: 17.5rem;
}
.ui.header .language {
  display: flex;
  flex-direction: row;
}
.ui.header .sizechange .small,
.ui.header .sizechange .medium,
.ui.header .sizechange .big {
  cursor: pointer;
}
.ui.header .sizechange .small {
  font-size: 14px;
}
.ui.header .sizechange .medium {
  font-size: 16px;
}
.ui.header .sizechange .big {
  font-size: 18px;
}
.ui.header .main-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ui.header .header-links {
  display: flex;
  gap: 1rem;
}
.ui.header .logo {
  width: 80px;
  max-width: 20rem;
  cursor: pointer;
}

.ui.header.department .main-head {
  text-align: center;
  display: block;
}
.ui.header.department .accessibility {
  width: 15rem !important;
}

.ui.header.department .top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}
.ui.header.department .page-options-serach {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.logo-header {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 15px 0px;
}
.ui.header.department .logo {
  margin: auto;
}
.ui.header .hamburger-container {
  display: none;
}
.ui.header.department .page-search-header {
  display: none;
}
.ui.header .g20-logo {
  width: 100px;
  cursor: pointer;
  margin-left: auto;
  border-right: 1px solid gray;
  margin-right: 1rem;
}
.g20-logo-department {
  width: 170px;
  max-width: 15rem;
  cursor: pointer;
  display: flex;
  align-content: center;
  border-left: 1px solid gray;
  padding-left: 1rem;
  margin-left: 1rem;
}
.logo-link {
  width: 100px;
}

@media only screen and (max-width: 1024px) {
  .ui.header {
    width: unset;
  }
  .ui.header.department .top-nav {
    display: none;
  }
  .ui.header.department .page-search-header {
    display: unset;
  }
  .ui.header .sizechange,
  .ui.header .page-options,
  .ui.header .language,
  .ui.header .dark-light-mode {
    display: none;
  }
  .ui.header .accessibility {
    max-width: 1rem;
  }
  .ui.header .hamburger-container {
    display: unset;
  }
  .ui.header .logo {
    width: 70px;
    max-width: 15rem;
    margin: auto;
  }
  .ui.header .main-head {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .ui.header .g20-logo {
    border: none;
  }

  .ui.header.department .main-head {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
    justify-content: center;
    gap: 15%;
  }
  .ui.header.department .section-heading {
    font-size: 0.8rem;
  }

  .ui.header.department .sub-heading {
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }

  .ui.header.department .heading-section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
  }
  .g20-logo-department {
    margin-left: 0.5rem;
  }
}

.pagination-container {
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  bottom: 0;
  padding: 1rem 0;
  justify-content: center;
}

.pagination-number,
.pagination-button {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.2rem;
}

.pagination-number:hover,
.pagination-button:not(.paginated-disabled):hover {
  background: var(--white);
  cursor: pointer;
}

.pagination-number.paginated-active {
  color: var(--white);
  background: var(--gradient-blue);
}

.paginated-hidden {
  display: none;
}

@media only screen and (max-width: 500px) {
  .ui.header {
    max-width: 95%;
  }
  .ui.header .logo {
    width: 40px;
  }
  .ui.header .g20-logo {
    width: 60px;
  }
  .g20-logo-department {
    width: 100px;
  }
  .logo-link {
    width: 60px;
  }
}
