.ui.image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  background-color: transparent;
}

.ui.fluid.image {
  display: block;
  width: 100%;
  height: auto;
}

.ui.fluid.image > img {
  width: 100%;
}

.ui.image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media only screen and (max-width: 1024px) {

  .ui.image > img{
    max-width: 70vw;
  }
}