.image-description-card {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
}

.image-description-card > .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.ui.image-description-card > .ui.image {
    object-fit: contain;
    overflow: hidden;
    max-height: 30rem;
    max-width: 50rem;
}

.image-description-card > .info > .ui.section-heading:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .image-description-card {
        flex-direction: column;
    }

}