.ui.image-card {
  width: var(--image-card-width);
  box-shadow: inset 0.125rem 0rem 0.125rem var(--faculty-card-shadow-color);
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 0.0625rem solid var(--image-card-border);
}


.ui.image-card > .ui.image {
  height: 15rem;
  object-fit: cover;
  overflow: hidden;
}

.ui.image-card > .content {
  padding: 1.25rem;
}

.ui.image-card > .content > .heading-1 {
  font-size: 1rem;
  font-weight: 600;
}

.ui.image-card > .content > .heading-2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.ui.image-card > .content > .content-details {
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.625rem 0;
  line-height: 1.5rem;
  color: var(--image-card-content);
}

.ui.mini-image-card {
  height: 10rem;
  width: 12.5rem;
  position: relative;
  color: white;
}

.ui.mini-image-card:hover {
  opacity: 0.5;
}

.ui.mini-image-card > .ui.image > img {
  height: 10rem;
  width: 12.5rem;
  filter: brightness(75%);
}

.ui.mini-image-card .caption {
  position: absolute;
  top: 2rem;
  left: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 414px) {
  .ui.image-card {
    width: 20.75rem;
    box-shadow: inset 0.125rem 0rem 0.125rem var(--faculty-card-shadow-color);
    border-radius: 0.25rem;
    box-sizing: border-box;
    border: 0.0625rem solid var(--image-card-border);
  }
  .ui.image-card > .ui.image {
    height: 13rem;
    object-fit: cover;
    overflow: hidden;
  }
}
