.ui.link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  width: max-content;
  color: var(--heading-black);
  font-size: 16px;
  line-height: 24px;
}

.ui.link.inverted {
  color: var(--white);
}
.ui.link.inline {
  text-decoration: none;
  display: inline;
  width: max-content;
  color: var(--heading-black);
  font-size: 16px;
  line-height: 24px;
}

.ui.link.inline > .link-content {
  padding-right: 0rem;
  color: var(--heading-black);
  text-decoration: none;
}
.ui.link.inverted > .link-content {
  color: var(--white);
}

.link-content {
  padding-right: 1rem;
  color: var(--heading-black);
  text-decoration: none;
}

.ui.link.blue > .link-content {
  color: var(--section-blue);
}

.ui.link.blue.inverted > .link-content {
  color: var(--white);
}

.ui.link:hover {
  text-decoration: underline !important;
  color: var(--section-blue);
  cursor: pointer;
}

.ui.button {
  color: var(--bright-blue);
  border: 2px solid var(--bright-blue);
  box-sizing: border-box;
  border-radius: 2px;
  background-color: var(--white);
  box-shadow: none;
  padding: 10px;
  text-decoration: none;
  align-content: center;
  width: fit-content;
}

.ui.button:hover {
  background-color: var(--bright-blue);
  color: var(--white);
}

.ui.button.inverted {
  background-color: var(--bright-blue);
  color: var(--white);
}

.ui.button.inverted:hover {
  background-color: var(--white);
  color: var(--bright-blue);
}
.group-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 26rem;
}

.group-button > .ui.button {
  padding: 12px;
  border: 2px solid var(--formal-blue);
  background-color: var(--white);
  color: var(--formal-blue);
}
.group-button > .ui.button.inverted:hover {
  background-color: var(--bright-blue);
  color: var(--white);
}
.group-button > .ui.button:hover {
  color: var(--bright-blue);
  background-color: var(--white);
}
.group-button > .ui.button.inverted {
  color: var(--white);
  background-color: var(--formal-blue);
}
