.ui.link p:link {
    text-decoration: none !important;
    cursor: pointer;
    color: #000;
}

.ui.link p:hover {
    text-decoration: underline !important;
    color: #000;
    cursor: pointer;
}

.ui.link button {
    text-align: center;
    display: inline-block;
    font-size: 0.8rem;
    cursor: pointer;
    margin: 0.25rem 0.25rem;
    background-color: white;
    color: #1a76bb;
    border-radius: 0.125rem;
    font-family: Lato;
    font-style: normal;
    border: 0.08rem solid #1a76bb;
    box-sizing: border-box;
    border-radius: 0.08rem;
    padding: 0.4rem;
    text-transform: uppercase;
    text-decoration: none !important;
    font-size: 0.64rem;
    font-weight: 400;
    line-height: 0.96rem;
}

.ui.link button:hover {
    background-color: #1a76bb !important;
    color: #fff;
}