.ui.list {
    max-width: 100%;
    background-color: inherit;
}
.ui.list.list-bluebg {
    background-color: var(--grey-blue);
}

.ui.list > .listItem {
    margin-bottom:0.625rem;
    line-height: 1.3;
}

.ui.list > .listItem > .ui.sub-heading {
    font-size: 1rem;
    padding: 0.625rem;
}

.ui.list > .listItem > .ui.intro-text {
    padding: 0 0.625rem 0.625rem 0.625rem;    
    font-size: 0.875rem;
}

.ui.list > .listItem > .divider{
    width: 100%;
    /* DO NOT change this height value. This is cursed. Especially the 1.5px value */
    height: 1px;
    background-color: var(--formal-blue);
}


.ui.list > .listItem > .divider.inverted{
    width: 100%;
    /* DO NOT change this height value. This is cursed. Especially the 1.5px value */
    height: 1px;
    background-color: var(--white);
}
