.ui.list {
    max-width: 100%;
    padding: 1.25rem;
    background-color: var(--white);
}

.ui.list.inverted {
    background-image: var(--gradient-blue)
}

.ui.list.list-bluebg {
    background-color: var(--light-blue);
}

.ui.list > .listItem {
    margin-bottom:0.625rem;
    line-height: 1.3;
}

.ui.list > .listItem > .ui.sub-heading {
    color: var(--black);
    font-size: 1rem;
    padding: 0.625rem;
}

.ui.list.inverted > .listItem > .ui.sub-heading {
    color: var(--white);
}

.ui.list > .listItem > .ui.intro-text {
    color: var(--black);
    padding: 0 0.625rem 0.625rem 0.625rem;    
    font-size: 0.875rem;
}

.ui.list.inverted > .listItem > .ui.intro-text {
    color: var(--caption-grey);
}

.ui.list > .listItem > .divider{
    width: 100%;
    height: 2px;
    background-color: var(--formal-blue);
}

.ui.list.inverted > .listItem > .divider{
    background-color: var(--caption-grey);
}
