.ui.accordion {
    width: 100%;
}

.ui.accordion>.category {
    width: calc(100% - 20px);
    padding: 40px 10px 40px 10px;
}

.ui.accordion>.item {
    padding-right: 2%;
}

.ui.accordion>.ui.section-heading {
    padding: 30px 10px 30px 10px;
}

.ui.accordion>.item>.ui.sub-heading {
    width: calc(100% - 20px);
    padding: 10px;
}

.ui.accordion>.item>.ui.sub-heading:hover {
    cursor: pointer;
}

.ui.accordion>.item>.ui.sub-heading>.arrow {
    float: right;
    height: var(--accordion-arrow-size);
    vertical-align: middle;
}

.ui.accordion>.item>.ui.one-liner-captions {
    padding: 20px 10px 20px 10px;
    display: none;
}

.ui.accordion>.divider {
    width: 100%;
    height: 2px;
    background-color: var(--formal-blue);
    margin: 10px 0 10px 0;
}

.ui.accordion > .divider.inverted {
    background-color: var(--white);
}
/* 
.ui.accordion>.category.gray {
    background-color: var(--light-grey);
} */
