.ui.noticeItem {
  width: 36rem;
  border-radius: 0.5rem;
}

.ui.itemLeft {
  display: inline-block;
}

.ui.itemRight {
  display: inline-block;
  float: right;
}

.listItem {
  display: flexbox;
  flex-direction: column;
}

.ui.noticeContent {
  margin-bottom: 0.2rem;
}
