.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4.25rem;
    padding: 2.625rem 9.875rem 1.125rem;
}

.ui.numbered-card{
    width: var(--numbered-card-width);
}

.ui.numbered-card .heading{
    display: flex;
    gap: .375rem;
    margin-bottom: 1.125rem;
    font-family: var(--font-roboto);
}

.ui.numbered-card .number{
    vertical-align: top;
    font-size: var(--numbered-card-number-font-size);
    line-height: 3rem;
}

.ui.numbered-card .title{
    vertical-align: top;
    font-size: var(--numbered-card-title-font-size);
    line-height: 1.5rem;
}

.ui.numbered-card .description{
    line-height: 1.5rem;
    text-align: justify;
    font-family: var(--font-roboto);
}

@media only screen and (max-width: 600px) {
    .flex{
        gap: 2.5rem;
        padding: 1.25rem 4rem .5rem;
    }
  }