.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 68px;
    padding: 42px 158px 18px;
}

.ui.numbered-card{
    width: var(--numbered-card-width);
}

.ui.numbered-card .heading{
    display: flex;
    gap: 6px;
    margin-bottom: 18px;
    font-family: var(--font-roboto);
}

.ui.numbered-card .number{
    vertical-align: top;
    font-size: var(--numbered-card-number-font-size);
    line-height: 3rem;
}

.ui.numbered-card .title{
    vertical-align: top;
    font-size: var(--numbered-card-title-font-size);
    line-height: 1.5rem;
}

.ui.numbered-card .description{
    line-height: 1.5rem;
    text-align: justify;
    font-family: var(--font-roboto);
}
