.title-box{
    width:100%;
    height: auto;
    background: linear-gradient(180deg, rgba(0, 103, 179, 0.8) 0.52%, #5183B8 17.71%, #5183B8 55.73%);
}

.title-box > .ui.breadcrumb.inverted {
    margin-inline-start: 10vw;
    text-transform: uppercase;
    padding-top: 28px;
    font-family: var(--font-lato);
    color: #FFFFFF;
}

.title-box > .ui.inverted.section-heading {
    margin-inline-start: 10vw;
    padding-left:12px;
    margin-top: 60px;
}

.title-box > .ui.inverted.one-liner-captions {
    margin-inline-start: 10vw;
    padding: 4px 12px 32px;
}