
.ui.quote-card{
    width: var(--quote-card-width);
}
.ui.quote-card .quote{
    margin:2.625rem 6rem ;
    padding: 3.75rem 2.5625rem 3.125rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    border: 2px solid var(--quote-card-border-color);
    border-radius: 4px;
    position: relative;
    text-align: justify;
}

.ui.quote-card .quote .read-more{
    color: var(--quote-card-read-more-color);
}

.ui.quote-card .triangle{
    position: absolute;
    bottom: -1.125rem;
}

.ui.quote-card .profile{
    position: absolute;
    bottom: -9.5rem;
    left: .5rem;
    display: flex;
    gap: 2.5rem;
}

.ui.quote-card .text{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    font-family: var(--font-lato);
}

.ui.quote-card .quote .profile .designation{
    color: var(--quote-card-designation-color);
    font-family: var(--font-lato);
}

.ui.quote-card .quote .profile .picture .photo{
    width: 111px;
    height: 111px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
