.ui.quote-card{
    max-width: 100%;
    margin:2.625rem 6rem 10rem 6rem;
    padding: 3.125rem 2.5625rem 2rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    border: 2px solid var(--quote-card-border-color);
    border-radius: 4px;
    position: relative;
}

.ui.quote-card .quote-card-icon {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    position: relative;
    top: 3.1rem;
}

.ui.quote-card .profile{
    position: absolute;
    display: flex;
    bottom: -9rem;
}

.ui.quote-card .text{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    text-transform: uppercase;
    font-family: var(--font-lato);
}

.ui.quote-card .profile .designation{
    color: var(--quote-card-designation-color);
    font-family: var(--font-lato);
}

.ui.quote-card .profile .picture{
    width: 111px;
    height: 111px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.ui.quote-card .profile .picture img{
    width: 80%;
    height: 80%;
}
@media screen and (max-width: 500px) {
    .ui.quote-card {
        margin:2rem 3rem 12rem 3rem;
    }
    .ui.quote-card .quote-card-icon {
        justify-content: center;
        padding-left: 0;
    }
    .ui.quote-card .profile {
        width: 100%;    
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: -12rem;
        left: 0rem;
    }
    .ui.quote-card .text {
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 380px) {
    .ui.quote-card {
        margin:2rem 3rem 14rem 3rem;
    }
    .ui.quote-card .profile{
        position: absolute;
        display: flex;
        bottom: -13rem;
    }
}