.ui.sixty-forty-container {
    width: 100%;
    display: grid;
    grid-template: 1fr / 6fr 4fr;
}

.ui.sixty-forty-container > .section {
    padding: 5% 10%;
    max-height: 500px;
    overflow-y: scroll;
}

.ui.sixty-forty-container > .first {
    grid-area: 1 / 1 / 2 / 2;
}

.ui.sixty-forty-container > .second {
    grid-area: 1 / 2 / 2 / 3;
}

.ui.forty-sixty-container {
    width: 100%;
    display: grid;
    grid-template: 1fr / 4fr 6fr;
}

.ui.forty-sixty-container > .section {
    padding: 5% 10%;
    max-height: 500px;
    overflow-y: scroll;
}

.ui.forty-sixty-container > .first {
    grid-area: 1 / 1 / 2 / 2;
}

.ui.forty-sixty-container > .second {
    grid-area: 1 / 2 / 2 / 3;
}

@media only screen and (max-width: 768px) {
    .ui.sixty-forty-container {
        display: block;
    }

    .ui.forty-sixty-container {
        display: block;
    }
}
