.ui.sixty-forty-container {
  max-width: 100vw;
  /* padding: 5vw 10vw; */
  display: grid;
  grid-template: 1fr / 6fr 4fr;
}

.ui.sixty-forty-container > .first {
  grid-area: 1 / 1 / 2 / 2;
  /* margin-right: 32px; */
  margin: 0px;
  padding: 5% 2% 5% 10%;
  /* max-height: 750px; */
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.ui.sixty-forty-container > .second {
  grid-area: 1 / 2 / 2 / 3;
  /* max-height: 750px; */
  margin: 0px;
  /* margin-left: 32px; */
  padding: 5% 10% 5% 2%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.ui.forty-sixty-container {
    max-width: 100vw;
    /* padding: 5vw 10vw; */
  display: grid;
  grid-template: 1fr / 4fr 6fr;
}

.ui.forty-sixty-container > .first {
  grid-area: 1 / 1 / 2 / 2;
  /* max-height: 750px; */
  /* margin-right: 32px; */
  margin: 0px;
  padding: 5% 2% 5% 10%;
}

.ui.forty-sixty-container > .second {
  grid-area: 1 / 2 / 2 / 3;
  /* max-height: 750px; */
  margin: 0px;
  /* margin-left: 32px; */
  padding: 5% 10% 5% 2%;
}

@media only screen and (max-width: 1024px) {
  .ui.sixty-forty-container {
    max-width: 100vw;
    /* padding: 5vw 5vw; */
    display: block;
  }

  .ui.sixty-forty-container > .first {
    /* margin-right: 0px;
    margin-bottom: 32px; */
    max-height: none;
    
    padding: 32px 16px;
    /* padding: 5px; */
  }

  .ui.sixty-forty-container > .second {
    /* margin-left: 0px;
    margin-bottom: 32px; */
    max-height: none;
    padding: 32px 16px;

  }

  .ui.forty-sixty-container {
    max-width: 100vw;
    /* padding: 5vw 5vw; */
    display: block;
  }

  .ui.forty-sixty-container > .first {
    /* margin-right: 0px;
    margin-bottom: 32px; */
    max-height: none;
    padding: 32px 16px;
  }

  .ui.forty-sixty-container > .second {
    /* margin-left: 0px;
    margin-bottom: 32px; */
    max-height: none;
    padding: 32px 16px;
  }
}


