.ui.stats-card {
    background-color: var(--formal-blue);
    padding-top: 3.7rem;
    padding-bottom: 3.7rem;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ui.stats-card > .icon_image {
    width: 100%;
    height: 100%;
}

.ui.stats-card > .info > .ui.sub-heading {
    padding-bottom: 0;
    color: var(--white);
}
.ui.stats-card > .info > .ui.one-liner-captions {
    padding-top: 0;
    color: var(--light-blue);
}
