.ui.stats-card {
  max-width: var(--card-width);
  background-color: var(--stats-card-background-color);
}

.ui.stats-card > .flex {
  display: flex;
}

.ui.stats-card .name {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4em;
  color: #FFFFFF;
}
.ui.stats-card .subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.6);      
}
