.ui.stats-card {
    background-color: var(--stats-card-background-color);
    padding-left: 10rem;
    padding-right: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.ui.stats-card > .flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.ui.stats-card .flex-container {
    display: flex;
    align-items: center;
    flex-basis: 25%;
}

.ui.stats-card .info {
    padding-left: 1rem;
}

.ui.stats-card .name {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    color: var(--stats-card-font-color);
}

.ui.stats-card .subtitle {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: var(--stats-card-subtitle);
}

.ui.ui.stats-card .icon_image {
    height: 7rem !important;
    width: 7rem !important;
}

@media only screen and (max-width: 500px) {
    .ui.stats-card .flex-container {
        display: flex;
        align-items: center;
        flex-basis: 70%;
    }
    .ui.stats-card {
        padding-right: 3rem;
        padding-left: 3rem;
    }
}