.studentPlaceholder {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 17rem;
  box-shadow: 0px 0px 4px rgba(134, 134, 134, 0.2);
  padding-top: 1.7rem;
  padding-left: 3rem;
  padding-bottom: 1.1rem;
}

.studentText {
  margin-left: 1.5rem;
}

.placeholderLink {
  text-decoration: none;
  color: #000000;
}

span.introLink {
  display: block;
  margin-top: 0;
}
