.ui.table-container {
  width: calc(100% - 3.75rem);
  padding: 1.875rem;
}

.ui.table {
  width: 100%;
  color: var(--black);
}
.ui.table.inverted {
  color: var(--white);
}
.ui.table-row {
  width: 100%;
  border-bottom: 0.125rem solid var(--formal-blue);
  margin-right: 1rem;
}

.ui.table-head {
  padding: 1rem 0;
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-family: var(--font-lato);
  cursor: pointer;
}

.ui.table-value {
  padding: 1rem 0;
  padding-right: 0.5rem;
}
.ui.table-value .ui.link a{
  color: var(--bright-blue);
}

#pageNavPosition {
  margin: 0.5rem;
}

.ui.pg-normal,
.ui.pg-selected {
  cursor: pointer;
  color: var(--bright-blue);
  float: left;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: 1px solid var(--light-grey);
}

.ui.pg-normal.inverted{
  color: var(--white);
}
.ui.pg-selected {
  color: var(--white);
  background-color: var(--bright-blue);
  text-align: center;
}
.select {
  position: relative;
  display: flex;
  width: 16rem;
  height: 2rem;
  line-height: 3;
  overflow: hidden;
  border-radius: 0.25em;
  margin: 0.5rem;
  /* color: var(--black); */
  border: 1px solid var(--bright-blue);
}
.ui.pagination-select {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  padding: 0 0 0 0.5em;
  cursor: pointer;
  border: none;
  background: var(--white);
}
.select::after {
  content: "\25BC";
  font-size: 0.7rem;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 0.75rem;
  background: var(--bright-blue);
  color: var(--white);
  pointer-events: none;
}

.ui.pagination-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.select::after {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
option {
  color: var(--black);
}