.ui.section-heading {
    color: var(--section-heading-color);
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.25rem 0;
    letter-spacing: 0.0625rem;
    line-height: 1.5rem;
}

.ui.inverted.section-heading {
    color: var(--section-heading-color-inverted);
    background-image: var(--section-heading-background-inverted);
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.25rem 0;
    letter-spacing: 0.0625rem;
    line-height: 1.5rem;
}

.ui.inactive-section-link{
    pointer-events: none;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--section-link-color);
    font-weight: 600;
    font-size: 1.25rem;
    padding: 1.25rem 0;
    line-height: 1.5rem;
}

.ui.active-section-link {
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid var(--section-link-color);
    color: var(--section-link-color);
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.9rem;
    padding: 1.25rem 0;
}

.ui.sub-heading {
    line-height: 1.3rem;
    color: var(--sub-heading-color);
    font-size: 1.25rem;
    padding: 1.25rem 0;
}

.ui.inverted.sub-heading {
    line-height: 1.3rem;
    color: var(--sub-heading-color-inverted);
    background-image: var(--sub-heading-background-inverted);
    font-size: 1.25rem;
    padding: 1.25rem 0;
}

.ui.one-liner-captions {
    color: var(--one-liner-captions);
    line-height: 1.2rem;
    padding: 1rem 0;
}

.ui.inverted.one-liner-captions {
    color: var(--one-liner-captions-inverted);
    background-image: var(--one-liner-captions-background-inverted);
    line-height: 1.2rem;
    padding: 1rem 0;
}

.ui.intro-text {
    color: var(--intro-text-color);
    padding: 1rem 0;
    line-height: 1.2rem;
}

.ui.inverted.intro-text {
    color: var(--intro-text-color-inverted);
    background-image: var(--intro-text-background-inverted);
    padding: 1rem 0;
    line-height: 1.2rem;
}

.ui.numbered-card-title {
    vertical-align: top;
    font-size: var(--numbered-card-title-font-size);
    line-height: 1.5rem;
}