.ui.section-heading {
  color: var(--heading-black);
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  /* padding: 1.25rem 0; */
  letter-spacing: 0.0625rem;
  line-height: 1.5rem;
  font-family: var(--font-lato);
}
.ui.section-heading-blue {
  color: var(--bright-blue);
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  /* padding: 1.25rem 0; */
  letter-spacing: 0.0625rem;
  line-height: 1.5rem;
  font-family: var(--font-lato);
}

.ui.inverted.section-heading {
  color: var(--white);
  /* background-image: var(--gradient-blue); */
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  /* padding: 1.25rem 0; */
  letter-spacing: 0.0625rem;
  line-height: 1.5rem;
}

.ui.inactive-section-link{
  pointer-events: none;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--section-blue);
  font-weight: 600;
  font-size: 1.25rem;
  /* padding: 1.25rem 0; */
  line-height: 1.5rem;
}

.ui.active-section-link {
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid var(--section-blue);
  color: var(--section-blue);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.9rem;
}

.ui.sub-heading {
  line-height: 1.3rem;
  color: var(--black);
  font-size: 1.25rem;
  /* padding: 1.25rem 0; */
}
.ui.sub-heading-blue {
  line-height: 1.3rem;
  color: var(--bright-blue);
  font-size: 1.25rem;
  /* padding: 1.25rem 0; */
}

.ui.inverted.sub-heading {
  line-height: 1.3rem;
  color: var(--white);
  /* background-image: var(--gradient-blue); */
  font-size: 1.25rem;
  /* padding: 1.25rem 0; */
}


.ui.one-liner-captions {
  color: var(--caption-grey);
  line-height: 1.2rem;
  /* padding: 1rem 0; */
}

.ui.inverted.one-liner-captions {
  color: var(--very-gery-blue);
  /* background-image: var(--gradient-blue); */
  line-height: 1.2rem;
  /* padding: 1rem 0; */
}

.ui.intro-text {
  color: var(--grey);
  /* padding: 1rem 0; */
  line-height: 1.2rem;
}
.ui.intro-text[onclick^="window"]:hover{
  cursor: pointer;
}
.ui.intro-text[onclick^="window"]{
  color: var(--section-blue);
}
.ui.inverted.intro-text {
  color: var(--light-grey);
  /* background-image: var(--gradient-blue); */
  /* padding: 1rem 0; */
  line-height: 1.2rem;
}

.ui.icon-typography {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  gap: 0.625rem;
  align-items: center;
}